<ngx-spinner type="ball-spin-clockwise" bdOpacity="0.7"></ngx-spinner>

<div  class="detail-div">
    
    <ul *ngIf="errorMsgs.length > 0" class="error-span">
        <li *ngFor="let msg of errorMsgs">{{msg}}</li>
    </ul>
    <br>
    <!--/支払情報ヘッダー-->
    <table class="detail-tbl-min">  
        <tr>
            <td colspan="3"><span class="min">契約区分</span></td>
        </tr>
        <tr>
            <th rowspan="3">物件コード</th>
            <td><input type="text" class="width150"[ngModel]="data.bukkenNo"></td> 
            <th rowspan="3" colspan="">取引先</th>
            <td colspan="2"><label>取引先</label><input type="text" class="width400" [ngModel]="data.bukkenNo"></td>        
        </tr> 
        <tr>
            <td>
                <button>物件検索</button>
            </td>
            <td colspan="2">
                <label>支店　</label><input type="text" class="width400" value="{{data.bukkenNo + '-' + contract.contractNumber}}">
            </td> 
        </tr>   
        <tr>
            <td>
                <input type="text" class="width300" [attr.disabled]="false" value="{{data.bukkenNo + '-' + contract.contractNumber}}">
            </td>
            <td colspan="2">
                <label>口座　</label><input type="text" class="width400" value="{{data.bukkenNo + '-' + contract.contractNumber}}">
            </td>   
        </tr>       
        <tr>
            <th>契約担当部署</th>
            <td>
                <app-select-component [codes]="getCode('006')" [(ngModel)]="contract.promptDecideFlg"></app-select-component>
            </td>
            <th>契約担当者</th>
            <td>
                <app-select-component [codes]="getCode('012')" [(ngModel)]="contract.contractType"></app-select-component>
            </td>
        </tr>
        <tr>
            <th>契約金額(税別)</th>
            <td>
                <input type="text" class="width150"  value="{{data.bukkenNo + '-' + contract.contractNumber}}">円
            </td>
            <th>契約予定日</th>
            <td>
                <input type="text" class="width150"  value="{{data.bukkenNo + '-' + contract.contractNumber}}">
            </td>
        </tr>
        <tr>
            <th>消費税</th>
            <td>
                <input type="text" class="width150"  value="{{data.bukkenNo + '-' + contract.contractNumber}}">円
            </td>
            <th>契約確定日</th>
            <td>
                <input type="text" class="width150"  value="{{data.bukkenNo + '-' + contract.contractNumber}}">
            </td>
        </tr>
        <tr>
            <th>契約金額(税込)</th>
            <td>
                <input type="text" class="width150"  value="{{data.bukkenNo + '-' + contract.contractNumber}}">円
            </td>
            <th>備考</th>
            <td>
                <input type="text" class="width400"  value="{{data.bukkenNo + '-' + contract.contractNumber}}">
            </td>
        </tr>
    </table>
    <div style="margin: 10px 0px 10px 0px;">
        <button mat-raised-button color="warn">&nbsp;新規登録&nbsp;</button>
    </div>
    <!--/支払情報ヘッダー-->

    <!--/支払情報明細-->
    
    <table class="detail-tbl-min">
        <tr>
            <th>支払い種別</th>
            <td>
                <app-select-component [codes]="getCode('006')" [(ngModel)]="contract.promptDecideFlg"></app-select-component>
            </td>
        </tr>
        <tr>
            <th>支払金額(税別)</th>
            <td>
                <input type="text" [(ngModel)]="contract.contractNumber">
            </td>
            <th>消費税</th>
            <td>
                <div class="picker-div">
                    <input type="text" [matDatepicker]="vacationDay" class="width150" [(ngModel)]="contract.vacationDayMap">
                    <mat-datepicker-toggle matSuffix [for]="vacationDay" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #vacationDay></mat-datepicker>
                </div>
            </td>
            <th>支払金額(税込)</th>
            <td>
                <div class="picker-div">
                    <input type="text" [matDatepicker]="contractDay" class="width150" [(ngModel)]="contract.contractDayMap">
                    <mat-datepicker-toggle matSuffix [for]="contractDay" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #contractDay></mat-datepicker>
                </div>
            </td>
        </tr>
        <tr>
            <th>〆日</th>
            <td>
                <input type="text" [(ngModel)]="contract.contractNumber">
            </td>
            <th>支払予定日</th>
            <td>
                <div class="picker-div">
                    <input type="text" [matDatepicker]="vacationDay" class="width150" [(ngModel)]="contract.vacationDayMap">
                    <mat-datepicker-toggle matSuffix [for]="vacationDay" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #vacationDay></mat-datepicker>
                </div>
            </td>
            <th>支払確定日</th>
            <td>
                <div class="picker-div">
                    <input type="text" [matDatepicker]="contractDay" class="width150" [(ngModel)]="contract.contractDayMap">
                    <mat-datepicker-toggle matSuffix [for]="contractDay" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #contractDay></mat-datepicker>
                </div>
            </td>
        </tr>
        <tr>
            <th>支払方法</th>
            <td>
                <input type="text" [(ngModel)]="data.bukkenNo">
            </td>
            <th>備考</th>
            <td colspan="2">
                <input type="text" class="width400" [(ngModel)]="data.bukkenName">
            </td>                    
        </tr>
    </table> 

    <!--/支払情報明細-->

    <!--/グリッド-->
    <table class="sample_01">
        <tbody>
        <tr>
            <th>支払種別</th>
            <th>支払金額(税込)</th>
            <th>消費税</th>
            <th>支払金額(税抜)</th>
            <th>〆日</th>
            <th>支払予定日</th>
            <th>支払確定日</th>
            <th>契約方法</th>
            <th>備考</th>
        </tr>
        <tr>
            <td><app-select-component [codes]="getCode('006')" [(ngModel)]="contract.promptDecideFlg"></app-select-component></td>
            <td><input type="text" [(ngModel)]="contract.contractNumber"><label>円</label></td>
            <td><input type="text" [(ngModel)]="contract.contractNumber"><label>円</label></td>
            <td><input type="text" [(ngModel)]="contract.contractNumber"><label>円</label></td>
            <td><input type="text" [(ngModel)]="contract.contractNumber"></td>
            <td><input type="text" [(ngModel)]="contract.contractNumber"></td>
            <td><input type="text" [(ngModel)]="contract.contractNumber"></td>
            <td><app-select-component [codes]="getCode('006')" [(ngModel)]="contract.promptDecideFlg"></app-select-component></td>
            <td><input type="text" [(ngModel)]="contract.contractNumber"></td>
        </tr>
        </tbody>
    </table>
    <div style="margin: 10px 0px 10px 0px; text-align: right;">
        <button mat-raised-button color="warn">&nbsp;支払情報追加&nbsp;</button>
    </div>
    <!--/グリッド-->
    
</div>    
