<ngx-spinner type="ball-spin-clockwise" bdOpacity="0.7"></ngx-spinner>
<div class="detail-div">
    <div class="register-div">
        <button mat-raised-button class="button" (click)="backToList()">一覧へ</button>
        <button mat-raised-button color="primary" class="button" (click)="save()">登録</button>
    </div>
    <ul *ngIf="errorMsgs.length > 0" class="error-span">
        <li *ngFor="let msg of errorMsgs">{{msg}}</li>
    </ul>
    <br>
    <!--/支払情報ヘッダー-->
    <table class="detail-tbl-min">  
        <tr>
            <td colspan="10"><span class="min">契約区分</span></td>
        </tr>
        <tr>
            <th rowspan="3">物件コード</th>
            <td colspan="3"><input type="text" class="width150" [ngModel]="data.bukkenNo"></td> 
            <th rowspan="3">取引先</th>
            <td colspan="5"><label>取引先</label><input type="text" [(ngModel)]="paycontract.supplierName" class="width85Per"></td>        
        </tr> 
        <tr>
            <td colspan="3">
                <button>物件検索</button>
            </td>
            <td colspan="5">
                <label>支店　</label><input type="text" [(ngModel)]="paycontract.branchName" class="width85Per">
            </td> 
        </tr>   
        <tr>
            <td colspan="3">
                <input type="text" class="width150" [ngModel]="data.bukkenName">
            </td>
            <td colspan="5">
                <label>口座　</label><input type="text" [(ngModel)]="paycontract.accountName" class="width85Per">
            </td>   
        </tr>       
        <tr>
            <th>契約担当部署</th>
            <td colspan="">
                <app-select-component [codes]="getDeps()" [(ngModel)]="paycontract.depCode"></app-select-component>
            </td>
            <th>契約担当者</th>
            <!-- 20200222 S_Update -->
            <!--
            <td colspan="">
                <mat-select multiple class="width180" [(ngModel)]="test">
                    <mat-option *ngFor=" " [value]="test">{{test}}</mat-option>
                </mat-select>
            </td>
            -->
            <td colspan="">
                <app-select-component [codes]="getUsers()" [(ngModel)]="paycontract.userId"></app-select-component>
            </td>
            <!-- 20200222 S_Update -->
            <th>契約予定日</th>
            <td>
                <div class="picker-div">
                    <input type="text" [matDatepicker]="startDate" [(ngModel)]="paycontract.contractDayMap" class="width100">
                    <mat-datepicker-toggle matSuffix [for]="startDate" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                </div>
            </td>
            <th>契約確定日</th>
            <td colspan="3">
                <div class="picker-div">
                    <!-- 20200222 S_Update -->
                    <!--<input type="text" [matDatepicker]="startDate" [(ngModel)]="data.startDateMap" class="width100">-->
                    <input type="text" [matDatepicker]="finishDate" [(ngModel)]="paycontract.contractFixDayMap" class="width100">
                    <!-- 20200222 E_Update -->
                    <mat-datepicker-toggle matSuffix [for]="finishDate" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #finishDate></mat-datepicker>
                </div>
            </td>
        </tr>
        <tr>
            <th>契約金額(税抜)</th>
            <td>
                <input type="text" [(ngModel)]="paycontract.contractPrice" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円
            </td>
            <th>消費税</th>
            <td>
                <input type="text" [(ngModel)]="paycontract.contractTax" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円
            </td>
            <th>契約金額(税込)</th>
            <td colspan="5">
                <input type="text" [(ngModel)]="paycontract.contractPriceTax" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円
            </td>
        </tr>
        <tr>
            <th>備考</th>
            <td colspan="9">
                <input type="text" [(ngModel)]="paycontract.remarks" class="width85Per">
            </td>
        </tr>
    </table>
    <!--/支払情報ヘッダー-->

    <!--/支払情報明細-->
    <div class="contact-div" style="width: 100%;">
        <table width="100%">
            <thead class="list-header">
                <th class="width150" colspan="2">支払種別</th>
                <th class="width130">支払金額(税抜)</th>
                <th class="width130">消費税</th>
                <th class="width130">支払金額(税込)</th>
                <th class="width80">〆日</th>
                <th class="width80">支払予定日</th>
                <th class="width80">支払確定日</th>
                <th class="width130">契約方法</th>
                <th>備考</th>                
            </thead>
            <tbody class="list-body">
                <tr *ngFor="let detail of paycontract.details | slice:0:1">                        
                    <td>
                        <button mat-raised-button (click)="addPayContractDetail()" style="background-color: #FFC000; color: white;">追加</button>
                    </td>
                    <td>
                        <app-select-component  class="width158" [codes]="getPaymentTypes()" [(ngModel)]="detail.paymentCode"></app-select-component>
                    </td>
                    <td><input class="width100" type="text" [(ngModel)]="detail.payPrice"><label>円</label></td>
                    <td><input class="width100" type="text" [(ngModel)]="detail.payTax"><label>円</label></td>
                    <td><input class="width100" type="text" [(ngModel)]="detail.payPriceTax"><label>円</label></td>
                    <td><input class="width80" type="text" [(ngModel)]="detail.closingDay"></td>
                    <td><input class="width80" type="text" [(ngModel)]="detail.contractDay"></td>
                    <td><input class="width80" type="text" [(ngModel)]="detail.contractFixDay"></td>
                    <td><app-select-component  class="width150" [codes]="getCode('006')" [(ngModel)]="detail.paymentMethod"></app-select-component></td>
                    <td><input class="width450" type="text" [(ngModel)]="detail.detailRemarks"></td>         
                </tr>
                <tr *ngFor="let detail of paycontract.details | slice:1; index as sharerPos">                      
                    <td>
                        <button mat-raised-button (click)="deletePayContractDetail(sharerPos)" style="background-color: red; color: white;">削除</button>
                    </td>
                    <td>
                        <app-select-component  class="width158" [codes]="getPaymentTypes()" [(ngModel)]="detail.paymentCode"></app-select-component>
                    </td>
                    <td><input class="width100" type="text" [(ngModel)]="detail.payPrice"><label>円</label></td>
                    <td><input class="width100" type="text" [(ngModel)]="detail.payTax"><label>円</label></td>
                    <td><input class="width100" type="text" [(ngModel)]="detail.payPriceTax"><label>円</label></td>
                    <td><input class="width80" type="text" [(ngModel)]="detail.closingDay"></td>
                    <td><input class="width80" type="text" [(ngModel)]="detail.contractDay"></td>
                    <td><input class="width80" type="text" [(ngModel)]="detail.contractFixDay"></td>
                    <td><app-select-component  class="width150" [codes]="getCode('006')" [(ngModel)]="detail.paymentMethod"></app-select-component></td>
                    <td><input class="width450" type="text" [(ngModel)]="detail.detailRemarks"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--/支払情報明細-->

</div>    
