<ngx-spinner type="ball-spin-clockwise" bdOpacity="0.7"></ngx-spinner>
<div class="detail-div">
    <div class="register-div1">
        <button mat-raised-button class="button" (click)="backToList()">一覧へ</button>
        <button mat-raised-button color="primary" class="button" (click)="save()">登録</button>
    </div>
    <ul *ngIf="errorMsgs.length > 0" class="error-span">
        <li *ngFor="let msg of errorMsgs">{{msg}}</li>
    </ul>
    <br>
    <div class="register-div1">
        <div><span class="must">消費税適用日</span>&nbsp;&nbsp;
                <input type="text" [matDatepicker]="taxEffectiveDay" [(ngModel)]="paycontract.taxEffectiveDayMap" class="width100" (ngModelChange)="changeTaxEffectiveDay($event)">
                <mat-datepicker-toggle matSuffix [for]="taxEffectiveDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #taxEffectiveDay></mat-datepicker>
        </div>

    </div>
    <!--/支払情報ヘッダー-->
    <table class="detail-tbl-min-pay">  
        <tr>
            <td colspan="10"><span class="min">契約区分</span></td>
        </tr>
        <tr>
            <th rowspan="">物件名称</th>
            <!--<td colspan="3"><input type="text" class="width150" [ngModel]="data.bukkenNo"></td>-->
            <td colspan="5">
                <!--<app-select-component [codes]="getLands()" [(ngModel)]="paycontract.tempLandInfoPid" [exclass] = "true"></app-select-component>-->
                <input type="search" name="example" list="data" [(ngModel)]="bukkenName" (change)="bukkenSearch()" style="width: 400px">
                <datalist id="data">
                    <option *ngFor="let land of bukkens">{{land.bukkenName}}</option>
                </datalist>
            </td>
            <th rowspan="3">取引先</th>
            <td colspan="6"><label>取引先　</label>&nbsp;<input type="text" [(ngModel)]="paycontract.supplierName" class="width85Per" maxlength="100"></td>        
        </tr> 
        <tr>
            <th>契約担当部署</th>
            <td colspan="5">
                <app-select-component [codes]="getDeps()" [(ngModel)]="paycontract.depCode"></app-select-component>
            </td>
            <td colspan="6">
                <label>銀行　</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" [(ngModel)]="paycontract.bank" class="width140" maxlength="100">
                &nbsp;&nbsp;<label>支店　</label>&nbsp;<input type="text" [(ngModel)]="paycontract.branchName" class="width100" maxlength="100">
            </td> 
        </tr>   
        <tr>
            <th>契約担当者</th>
            <td colspan="5">
                <app-select-component [codes]="getUsers()" [(ngModel)]="paycontract.userId"></app-select-component>
            </td>
            <td colspan="6">
                <label>口座種別</label>&nbsp;<app-select-component [codes]="getCode('026')"  [(ngModel)]="paycontract.accountType"></app-select-component>
                &nbsp;&nbsp;<label>口座　</label>&nbsp;<input type="text" [(ngModel)]="paycontract.accountName" class="width100" maxlength="100">
                &nbsp;&nbsp;<label>名義　</label>&nbsp;<input type="text" [(ngModel)]="paycontract.bankName" class="width100" maxlength="100">
            </td>   
        </tr>       
        <tr>
            <th>契約予定日</th>
            <td colspan="2">
                <div class="picker-div">
                    <input type="text" [matDatepicker]="contractDayMap" [(ngModel)]="paycontract.contractDayMap" class="width100">
                    <mat-datepicker-toggle matSuffix [for]="contractDayMap" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #contractDayMap></mat-datepicker>
                </div>
            </td>
            <th>契約確定日</th>
            <td colspan="2">
                <div class="picker-div">
                    <input type="text" [matDatepicker]="contractFixDay" [(ngModel)]="paycontract.contractFixDayMap" class="width100">
                    <mat-datepicker-toggle matSuffix [for]="contractFixDay" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #contractFixDay></mat-datepicker>
                </div>
            </td>
            <th>契約金額(税抜)</th>
            <td colspan="2">
                <input type="text" [(ngModel)]="paycontract.contractPrice" class="width100 number" (keypress)="numericOnly($event)" maxlength="15">&nbsp;円
            </td>
            <th>消費税</th>
            <td colspan="2">
                <input type="text" [(ngModel)]="paycontract.contractTax" class="width100 number" (keypress)="numericOnly($event)" maxlength="15">&nbsp;円
            </td>
            <th>契約金額(税込)</th>
            <td colspan="2">
                <input type="text" [(ngModel)]="paycontract.contractPriceTax" class="width100 number" (keypress)="numericOnly($event)" maxlength="15">&nbsp;円
            </td>
        </tr>
        <tr>
            <th>備考</th>
            <td colspan="6">
                <input type="text" [(ngModel)]="paycontract.remarks" class="width85Per" maxlength="100">
            </td>
        </tr>
    </table>
    <!--/支払情報ヘッダー-->

    <!--/支払情報明細-->
    <div class="contact-div" style="width: 98vw;">
        <table width="100%">
            <thead class="list-header">
                <th class="width150" colspan="2">支払種別</th>
                <th class="width130">支払金額(税抜)</th>
                <th class="width130">消費税</th>
                <th class="width130">支払金額(税込)</th>
                <th class="width80">〆日</th>
                <!--hiranomemo 支払時期 追加-->
                <th class="width80">支払時期</th>
                <th class="width100">支払予定日</th>
                <th class="width80">支払確定日</th>
                <th class="width130">支払方法</th>
                <!--hiranomemo 契約者 追加-->
                <th>契約者</th>
                <th>備考</th>                
            </thead>
            <tbody class="list-body">
                <tr *ngFor="let detail of paycontract.details | slice:0:1; index as sharerPos">                        
                    <td>
                        <button mat-raised-button (click)="addPayContractDetail()" style="background-color: #FFC000; color: white;">追加</button>
                    </td>
                    <td>
                        <app-select-component  class="width158" [codes]="getPaymentTypes()" [(ngModel)]="detail.paymentCode"></app-select-component>
                    </td>
                    <td><input class="width100 number" type="text" [(ngModel)]="detail.payPrice" (keyup)="taxCalc(detail)" (keypress)="numericOnly($event)" maxlength="15"><label>円</label></td>
                    <td><input class="width100 number" type="text" [(ngModel)]="detail.payTax" [attr.disabled]="true" (keypress)="numericOnly($event)"><label>円</label></td>
                    <td><input class="width100 number" type="text" [(ngModel)]="detail.payPriceTax" (keyup)="taxOnlyCalc($event, detail)" (keypress)="numericOnly($event)" maxlength="15"><label>円</label></td>
                    <td>
                        <div class="picker-div">
                            <input type="text" [matDatepicker]="closingDay" [(ngModel)]="detail.closingDayMap" class="width100">
                            <mat-datepicker-toggle matSuffix [for]="closingDay" class="picker-icon"></mat-datepicker-toggle>
                            <mat-datepicker #closingDay></mat-datepicker>
                        </div>
                    </td>
                    <!--hiranomemo paymentSeason 追加-->
                    <td><input class="width100 number" type="text" [(ngModel)]="detail.paymentSeason" maxlength="100"></td>
                    <td>
                        <div class="picker-div">
                            <input type="text" [matDatepicker]="contractDay" [(ngModel)]="detail.contractDayMap" class="width100">
                            <mat-datepicker-toggle matSuffix [for]="contractDay" class="picker-icon"></mat-datepicker-toggle>
                            <mat-datepicker #contractDay></mat-datepicker>
                        </div>
                    </td>
                    <td>
                        <div class="picker-div">
                            <input type="text" [matDatepicker]="contractFixDay" [(ngModel)]="detail.contractFixDayMap" class="width100">
                            <mat-datepicker-toggle matSuffix [for]="contractFixDay" class="picker-icon"></mat-datepicker-toggle>
                            <mat-datepicker #contractFixDay></mat-datepicker>
                        </div>
                    </td>
                    <td><app-select-component  class="width150" [codes]="getCode('015')" [(ngModel)]="detail.paymentMethod"></app-select-component></td>
                    <!--hiranomemo contractor 追加-->
                    <td>
                        <!--<input class="width300" type="text" [(ngModel)]="detail.contractor">-->
                        <app-select-component  [cusClass]="'width300'" [codes]="sellers" [(ngModel)]="detail.contractor"></app-select-component>
                    </td>
                    <td><input class="width450" type="text" [(ngModel)]="detail.detailRemarks" maxlength="100"></td>         
                </tr>
                <tr *ngFor="let detail of paycontract.details | slice:1; index as sharerPos">                      
                    <td>
                        <button mat-raised-button (click)="deletePayContractDetail(sharerPos)" style="background-color: red; color: white;">削除</button>
                    </td>
                    <td>
                        <app-select-component  class="width158" [codes]="getPaymentTypes()" [(ngModel)]="detail.paymentCode"></app-select-component>
                    </td>
                    <td><input class="width100 number" type="text" [(ngModel)]="detail.payPrice" (keyup)="taxCalc(detail)" (keypress)="numericOnly($event)" maxlength="15"><label>円</label></td>
                    <td><input class="width100 number" type="text" [(ngModel)]="detail.payTax" [attr.disabled]="true" (keypress)="numericOnly($event)"><label>円</label></td>
                    <td><input class="width100 number" type="text" [(ngModel)]="detail.payPriceTax" (keyup)="taxOnlyCalc($event, detail)" (keypress)="numericOnly($event)" maxlength="15"><label>円</label></td>
                    <td>
                        <div class="picker-div">
                            <input type="text" [matDatepicker]="closingDay" [(ngModel)]="detail.closingDayMap" class="width100">
                            <mat-datepicker-toggle matSuffix [for]="closingDay" class="picker-icon"></mat-datepicker-toggle>
                            <mat-datepicker #closingDay></mat-datepicker>
                        </div>
                    </td>
                    <!--hiranomemo paymentSeason 追加-->
                    <td><input class="width100 number" type="text" [(ngModel)]="detail.paymentSeason" maxlength="100"></td>
                    <td>
                        <div class="picker-div">
                            <input type="text" [matDatepicker]="contractDay" [(ngModel)]="detail.contractDayMap" class="width100">
                            <mat-datepicker-toggle matSuffix [for]="contractDay" class="picker-icon"></mat-datepicker-toggle>
                            <mat-datepicker #contractDay></mat-datepicker>
                        </div>
                    </td>
                    <td>
                        <div class="picker-div">
                            <input type="text" [matDatepicker]="contractFixDay" [(ngModel)]="detail.contractFixDayMap" class="width100">
                            <mat-datepicker-toggle matSuffix [for]="contractFixDay" class="picker-icon"></mat-datepicker-toggle>
                            <mat-datepicker #contractFixDay></mat-datepicker>
                        </div>
                    </td>
                    <td><app-select-component  class="width150" [codes]="getCode('015')" [(ngModel)]="detail.paymentMethod"></app-select-component></td>
                    <!--hiranomemo contractor 追加-->
                    <td>
                        <!--<input class="width300" type="text" [(ngModel)]="detail.contractor">-->
                        <app-select-component  [cusClass]="'width300'" [codes]="sellers" [(ngModel)]="detail.contractor"></app-select-component>
                    </td>
                    <td><input class="width450" type="text" [(ngModel)]="detail.detailRemarks" maxlength="100"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--/支払情報明細-->

</div>    
