<div class="dialog-div">
    <ul *ngIf="errorMsgs.length > 0" class="error-span">
        <li *ngFor="let msg of errorMsgs">{{msg}}</li>
    </ul>
    <table class="detail-tbl-info">
        <!-- 20230213 S_Add -->
        <tr>
            <th>支店</th>
            <td>
                <app-select-component [codes]="getCode('040')" [(ngModel)]="data.infoType" [cusClass]="'width150  ' + (errors['infoType'] ? 'error' : '')"></app-select-component>
            </td>
        </tr>
        <!-- 20230213 E_Add -->
        <tr>
            <th>日付</th>
            <td>
                <input type="text" [matDatepicker]="infoDate" [ngClass]="{'width100': true, 'error': errors['infoDate']}" [(ngModel)]="data.infoDateMap">
                <mat-datepicker-toggle matSuffix [for]="infoDate" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #infoDate></mat-datepicker>
            </td>
        </tr>
        <tr>
            <th>件名</th>
            <td><input type="text"  [(ngModel)]="data.infoSubject" [ngClass]="{'width600': true, 'error': errors['infoSubject']}" maxlength="100"></td>
        </tr>
        <tr>
            <th>詳細</th> 
            <td>
                <mat-radio-group [(ngModel)]="data.detailFlg" (change)="changeFlg($event)">
                    <mat-radio-button *ngFor="let code of getCode('006')" [value]="code.codeDetail">{{code.name}}&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr class="h230">
            <th>
            </th>
            <td>
                <textarea [ngClass]="{'width600': true, 'error': errors['infoDetail']}" rows="18" [disabled]="data.detailFlg == '0'" [(ngModel)]="data.infoDetail" maxlength="1000"></textarea>
            </td>
        </tr>
        <!-- 20220223 S_Add -->
        <tr>
            <th>回答</th>
            <td>
                <textarea [ngClass]="{'width600': true, 'h100': true}" rows="18" [(ngModel)]="data.answer" maxlength="1000"></textarea>
            </td>
        </tr>
        <!-- 20220223 E_Add -->
        <!-- 20220517 S_Add -->
        <tr>
            <th>回答期限</th>
            <td><input type="text" [(ngModel)]="data.answerTimeLimit" maxlength="100"></td>
        </tr>
        <!-- 20220517 E_Add -->
        <tr>
            <th>添付ファイル</th>
            <!-- 20220329 S_Update -->
            <!--
            <td>
                <a *ngIf="hasFile()" [attr.href]="data.attachFilePath + data.attachFileName"  target="_blank" class="action-link">{{data.attachFileName}}</a>
                <br *ngIf="hasFile()">
                <app-file #fUpload notButton="true" (uploaded)="uploaded($event)"></app-file>
                <app-file [id]="'fUpload'" notButton="true" (uploaded)="uploaded($event)"></app-file>
            </td>
            -->
            <td>
                <!-- 20221116 S_Update -->
                <!--
                <label *ngIf="!(data.pid > 0)" style="color:red">※お知らせを登録後に添付可能となります。</label>
                <app-file infoPid="{{data.pid}}" *ngIf="data.pid > 0" (uploaded)="uploadedInfoAttach($event)" [immediately]="true"></app-file> 
                -->
                <app-file #attachFile infoPid="{{data.pid}}" (uploaded)="uploadedInfoAttach($event)" [immediately]="!isCreate" [notButton]="isCreate"></app-file>
                <!-- 20221116 E_Update -->
                
                <table style="margin-left: 5px;">
                    <tr *ngFor="let map of data.attachFiles">
                        <td class="min-width160"><a [attr.href]="map.attachFilePath + map.attachFileName" target="_blank">{{map.attachFileName}}</a></td>
                        <td><button mat-flat-button class="delete-btn" (click)="deleteInfoAttachFile(map)">削除</button></td>
                    </tr>
                </table>
            </td>
            <!-- 20220329 E_Update -->
        <!-- 20220517 S_Add -->
        <tr>
            <th>追加ファイル送付</th>
            <td>
                <mat-checkbox [checked]="data.addedFileSendFlg === '1'" #cbxAddedFileSendFlg></mat-checkbox>
            </td>
        </tr>
        <tr>
            <th>確認フラグ</th>
            <td>
                <app-select-component [codes]="getCode('039')" [(ngModel)]="data.confirmFlg" [isDisabled]="!enableUser" [noBlank]="true"></app-select-component>
            </td>
        </tr>
        <!-- 20220517 E_Add -->
        <tr>
            <th class="sharer">承認フラグ</th>
            <td>
                <app-select-component [codes]="getCode('038')" [(ngModel)]="data.approvalFlg" [isDisabled]="!enableUser" [noBlank]="true"></app-select-component>
            </td>
        </tr>
        <tr>
            <th class="sharer">添付ファイル<br>（承認済）</th>
            <td>
                <a *ngIf="hasApprovedFile()" [attr.href]="data.approvalAttachFilePath + data.approvalAttachFileName"  target="_blank" class="action-link">{{data.approvalAttachFileName}}</a>
                <br *ngIf="hasApprovedFile()">
                <!--<app-file #fApprovedUpload notButton="true" (uploaded)="uploaded($event)" *ngIf="enableUser && data.approvalFlg === '1'"></app-file>-->
                <app-file [id]="'fApprovedUpload'" notButton="true" (uploaded)="uploaded($event)" *ngIf="enableUser && (data.approvalFlg === '1' || data.approvalFlg === '5')"></app-file>
            </td>
        </tr>
        <tr>
            <th>掲載終了</th>
            <td>
                <!-- 20220526 S_Update -->
                <!--<mat-checkbox [checked]="data.finishFlg === '1'" #cbxFinishFlg></mat-checkbox>-->
                <mat-checkbox [checked]="data.finishFlg === '1'" #cbxFinishFlg [ngClass]="{'error': errors['finishFlg']}"></mat-checkbox>
                <!-- 20220526 E_Update -->
            </td>
        </tr>
    </table>
    <mat-dialog-actions align="end">
        <button mat-raised-button class="width80" (click)="cancel()">閉じる</button>
        <button mat-raised-button class="width80" color="primary" (click)="ok()">OK</button>
    </mat-dialog-actions>
</div>
<ngx-spinner type="ball-spin-clockwise" bdOpacity="0.7"></ngx-spinner><!-- 20221116 Add -->
