.delete-btn {
    background-color: red;
    margin-left: 20px;
    color: white;
    height: 34px;
    width: 80px;
    font-size: 1.0em;
}
/* 20230929 S_Add */
.detail-tbl-min > tr > td > label {
    background-color: rgba(226, 239, 218, 1);
    font-size: 0.8em;
    text-align: left;
    padding: 14px;
    padding-left: 2px;
    padding-right: 26px;
    font-weight: bold;
}
/* 20230929 E_Add */
/* 20231010 S_Add */
.calendar-cell {
    position: relative;
}
/* 20231010 E_Add */

/* 20231027 S_Add */
.left-aligned-actions {
    justify-content: flex-start;
  }
.register-btn2 {
    background-color: #4472c4;
    color: white;
}
/* 20231027 E_Add */

/* 20241028 S_Add */
.tableSpaceNone{
    border-spacing: unset !important;
}
/* 20241028 E_Add */
