<ngx-spinner type="ball-spin-clockwise" bdOpacity="0.7"></ngx-spinner>
<div class="dialog-div">
    <ul *ngIf="errorMsgs.length > 0" class="error-span">
        <li *ngFor="let msg of errorMsgs">{{msg}}</li>
    </ul>
    <table class="detail-tbl-min">
        <tr>
            <td colspan="4">
                <span class="min">
                    <label>賃貸契約　登録</label>
                </span>
            </td>
        </tr>
        <tr>
            <th>所有者名</th>
            <td>
                <app-select-component [codes]="contractSellerInfoPids" [(ngModel)]="rental.contractSellerInfoPid" [cusClass]="'width250'" [isDisabled]="true"></app-select-component>
            </td>
            <th>建物名</th>
            <!-- 20231027 S_Update -->
            <!-- <td> -->
            <td colspan="3">
            <!-- 20231027 E_Update -->
                <input type="text" [(ngModel)]="rental.apartmentName" [ngClass]="{'width400': true, 'error': errors['apartmentName']}" maxlength="128" disabled="true">
            </td>
        </tr>
        <tr>
            <th>入金口座</th>
            <td>
                <app-select-component [codes]="bankPids" [(ngModel)]="rental.bankPid" [cusClass]="'width250'" [isDisabled]="true"></app-select-component>
            </td>
            <th>入金コード</th>
            <td>
                <app-select-component [codes]="receiveTypes" [(ngModel)]="data.receiveCode"></app-select-component>
            </td>
        </tr>
        <tr>
            <!-- 20231027 S_Delete -->
            <!-- <th>振込名義人</th>
            <td>
                <input type="text" [(ngModel)]="data.banktransferName" [ngClass]="{'width250': true, 'error': errors['banktransferName']}" maxlength="128">
            </td> -->
            <!-- 20231027 E_Delete -->
            <th>振込名義人カナ</th>
            <td>
                <input type="text" [(ngModel)]="data.banktransferNameKana" [ngClass]="{'width250': true, 'error': errors['banktransferNameKana']}" maxlength="128">
            </td>
        </tr>
        <!-- 20231010 S_Add -->
        <tr>
            <th>所在階</th>
            <td>
                <input type="text" [(ngModel)]="data.floorNumber" class="width100" maxlength="10">&nbsp;階
            </td>
            <th>面積</th>
            <td>
                <input type="text" [(ngModel)]="data.roomExtentMap" class="width100 number" (keypress)="floatOnly($event)" maxlength="12" [value]="changeValue(data.roomExtentMap)">&nbsp;㎡
            </td>
        </tr>
        <tr>
            <!-- 20240123 S_Update -->
            <!-- <th>建物種類</th> -->
            <th>種類</th>
            <!-- 20240123 E_Update -->
            <td>
                <app-select-component [codes]="getCode('046')" [(ngModel)]="data.roomType"></app-select-component>
            </td>
            <th>使用目的</th>
            <td>
                <app-select-component [codes]="getCode('047')" [(ngModel)]="data.usePurpose"></app-select-component>
            </td>
            <!-- 20240123 S_Add -->
            <th>契約方法</th>
            <td>
                <app-select-component [codes]="getCode('043')" [(ngModel)]="data.contractMethod" cusClass="width250"></app-select-component>
            </td>
            <!-- 20240123 E_Add -->
        </tr>
        <!-- 20231010 E_Add -->
        <tr>
            <th>部屋番号</th>
            <td>
                <app-select-component [codes]="residentInfoPids" [(ngModel)]="data.residentInfoPid" (changed)="changeRoomNo($event)" [ngClass]="{'error-select': errors['residentInfoPid']}"></app-select-component>
            </td>
            <th>成立年月日</th>
            <td>
                <span class="calendar-cell">
                    <input type="text" id="agreementDate" class="width100" [(ngModel)]="data.agreementDateMap">
                </span>
            </td>
        </tr>
        <tr>
            <th>貸借人名</th>
            <td>
                <input type="text" [(ngModel)]="data.borrowerName" [ngClass]="{'width250': true, 'error': errors['borrowerName']}" maxlength="128" disabled="true">
            </td>

            <!-- 20231016 S_Delete -->
            <!-- <th>契約期間</th>
            <td>
                <span class="calendar-cell">
                    <input type="text" id="loanPeriodStartDate" class="width100" [(ngModel)]="data.loanPeriodStartDateMap">
                </span>
                &nbsp;&nbsp;～
                <span class="calendar-cell">
                    <input type="text" id="loanPeriodEndDate" class="width100" [(ngModel)]="data.loanPeriodEndDateMap">
                </span>
            </td> -->
            <!-- 20231016 E_Delete -->

            <!-- 20231016 S_Add -->
            <th>貸借人住所</th>
            <td>
                <input type="text" [(ngModel)]="data.borrowerAddress" [ngClass]="{'width250': true, 'error': errors['borrowerAddress']}" maxlength="128">
            </td>
            <!-- 20231016 E_Add -->
            <!-- 20231027 S_Add -->
            <th>貸借人電話番号</th>
            <td>
                <input type="text" [(ngModel)]="data.borrowerTel" [ngClass]="{'width110': true, 'error': errors['borrowerTel']}" maxlength="25">
            </td>
            <!-- 20231027 E_Add -->
        </tr>
        <!-- 20231016 S_Add -->
        <!-- 20231027 S_Update -->
        <!-- <tr>
            <th>貸借人電話番号</th>
            <td>
                <input type="text" [(ngModel)]="data.borrowerTel" [ngClass]="{'width110': true, 'error': errors['borrowerTel']}" maxlength="25">
            </td>
        </tr> -->
        <tr>
            <th>入居者氏名</th>
            <td>
                <!-- 20240123 S_Add -->
                &nbsp;<button mat-raised-button style="line-height:20px;margin-bottom: 5px;" color="primary" class="button" (click)="copyResidentName()">貸借人名と同じ</button>
                <br>
                <!-- 20240123 E_Add -->
                <input type="text" [(ngModel)]="data.residentName" [ngClass]="{'width250': true, 'error': errors['residentName']}" maxlength="128">
            </td>
            <th>入居者電話番号</th>
            <td>
                <input type="text" [(ngModel)]="data.residentTel" [ngClass]="{'width110': true, 'error': errors['residentTel']}" maxlength="25">
            </td>
        </tr>        
        <!-- 20231027 E_Update -->
        <tr>
            <th>契約期間</th>
            <td>
                <span class="calendar-cell">
                    <input type="text" id="loanPeriodStartDate" class="width100" [(ngModel)]="data.loanPeriodStartDateMap">
                </span>
                &nbsp;&nbsp;～
                <span class="calendar-cell">
                    <input type="text" id="loanPeriodEndDate" class="width100" [(ngModel)]="data.loanPeriodEndDateMap">
                </span>
            </td>
        </tr>
        <!-- 20231027 S_Delete -->
        <!-- <tr>
            <th>入居者氏名</th>
            <td>
                <input type="text" [(ngModel)]="data.residentName" [ngClass]="{'width250': true, 'error': errors['residentName']}" maxlength="128">
            </td>
            <th>入居者電話番号</th>
            <td>
                <input type="text" [(ngModel)]="data.residentTel" [ngClass]="{'width110': true, 'error': errors['residentTel']}" maxlength="25">
            </td>
        </tr> -->
        <!-- 20231027 E_Delete -->
        <!-- 20231016 E_Add -->
        <tr>
            <!-- 20240123 S_Delete -->
            <!-- <th>契約方法</th>
            <td>
                <app-select-component [codes]="getCode('043')" [(ngModel)]="data.contractMethod" cusClass="width250"></app-select-component>
            </td> -->
            <!-- 20240123 E_Delete -->
            <!-- 20231016 S_Update -->
            <!-- <th>契約終了通知をすべき期間</th>
            <td>
                <div class="picker-div">
                    <input type="text" [matDatepicker]="contractEndNotificationStartDate" [(ngModel)]="data.contractEndNotificationStartDateMap" placeholder="開始日" class="width100">
                    <mat-datepicker-toggle matSuffix [for]="contractEndNotificationStartDate" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #contractEndNotificationStartDate></mat-datepicker>
                </div>&nbsp;&nbsp;～
                <div class="picker-div">
                    <input type="text" [matDatepicker]="contractEndNotificationEndDate" [(ngModel)]="data.contractEndNotificationEndDateMap" placeholder="終了日" [ngClass]="{'width100':true,'error': errors['contractEndNotificationEndDate']}">
                    <mat-datepicker-toggle matSuffix [for]="contractEndNotificationEndDate" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #contractEndNotificationEndDate></mat-datepicker>
                </div>
            </td> -->
            <th>契約終了通知</th>
            <td>
                <input type="text" [(ngModel)]="data.contractEndNotification" class="width100 number" (keypress)="numericOnly($event)" maxlength="3">&nbsp;ヶ月前
            </td>
            <!-- 20231016 E_Update -->
        </tr>
        <tr>
            <th>支払方法</th>
            <td>
                <app-select-component [codes]="getCode('015')" [(ngModel)]="data.paymentMethod"></app-select-component>
            </td>
            <th>支払期限</th>
            <!-- 20231027 S_Update -->
            <!-- <td> -->
            <td colspan="3">
            <!-- 20231027 E_Update -->
                <app-select-component [codes]="getCode('044')" [(ngModel)]="data.usance"></app-select-component>&nbsp;分
                &nbsp;&nbsp;
                <input type="text" [(ngModel)]="data.paymentDayMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.paymentDayMap)">&nbsp;日まで
            </td>
        </tr>
        <tr>
            <th>賃料</th>
            <td>
                <input type="text" [(ngModel)]="data.rentPriceMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.rentPriceMap)">&nbsp;円
            </td>
            <th>賃料（消費税）</th>
            <td>
                <input type="text" [(ngModel)]="data.rentPriceTaxMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.rentPriceTaxMap)">&nbsp;円
            </td>
        </tr>
        <tr>
            <th>共益費</th>
            <td>
                <input type="text" [(ngModel)]="data.condoFeeMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.condoFeeMap)">&nbsp;円
            </td>
            <th>共益費（消費税）</th>
            <td>
                <input type="text" [(ngModel)]="data.condoFeeTaxMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.condoFeeTaxMap)">&nbsp;円
            </td>
        </tr>
        <tr>
            <th>管理費</th>
            <td>
                <input type="text" [(ngModel)]="data.managementFeeMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.managementFeeMap)">&nbsp;円
            </td>
            <th>管理費（消費税）</th>
            <td>
                <input type="text" [(ngModel)]="data.managementFeeTaxMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.managementFeeTaxMap)">&nbsp;円
            </td>
        </tr>
        <!-- 20240123 S_Delete -->
        <!-- <tr>
            <th>付属施設料</th>
            <td>
                <input type="text" [(ngModel)]="data.attachedFacilityFeeMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.attachedFacilityFeeMap)">&nbsp;円
            </td>
        </tr> -->
        <!-- 20240123 E_Delete -->
        <!-- 20231016 S_Add -->
        <tr>
            <!-- 20240123 S_Delete -->
            <!-- <th>鍵交換費用</th>
            <td>
                <input type="text" [(ngModel)]="data.keyExchangeFeeMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.keyExchangeFeeMap)">&nbsp;円
            </td> -->
            <!-- 20240123 E_Delete -->
            <th>その他費用</th>
            <td>
                <input type="text" [(ngModel)]="data.otherExpensesMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.otherExpensesMap)">&nbsp;円
            </td>
        </tr>
        <!-- 20231016 E_Add -->

        <!-- 20231010 S_Add -->
        <tr>
            <th>保証金</th>
            <td>
                <input type="text" [(ngModel)]="data.securityDepositMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.securityDepositMap)">&nbsp;円
                <!-- 20231016 S_Add -->
                &nbsp;<mat-checkbox [checked]="data.securityDepositConvertedFlg === '1'" (change)="changeSecurityDepositConvertedFlg($event, data)"></mat-checkbox><span style="font-size: 0.8em;">&nbsp;&nbsp;返還済</span>
                <!-- 20231016 E_Add -->
            </td>
            <th>償却</th>
            <td>
                <input type="text" [(ngModel)]="data.amortizationMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.amortizationMap)">&nbsp;円
            </td>
        </tr>
        <!-- 20231010 E_Add -->
        <tr>
            <th>敷金</th>
            <td>
                <input type="text" [(ngModel)]="data.depositMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.depositMap)">&nbsp;円
                &nbsp;<mat-checkbox [checked]="data.depositConvertedFlg === '1'" (change)="changeDepositConvertedFlg($event, data)"></mat-checkbox><span style="font-size: 0.8em;">&nbsp;&nbsp;返還済</span>
            </td>
            <!-- 20240123 S_Delete -->
            <!-- <th>礼金</th>
            <td>
                <input type="text" [(ngModel)]="data.keyMoneyMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.keyMoneyMap)">&nbsp;円
            </td> -->
            <!-- 20240123 E_Delete -->
        </tr>
        <tr>
            <th>駐車場使用料</th>
            <td>
                <input type="text" [(ngModel)]="data.parkingFeeMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.parkingFeeMap)">&nbsp;円
            </td>
            <th>駐車場敷金</th>
            <td>
                <input type="text" [(ngModel)]="data.parkingDepositMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.parkingDepositMap)">&nbsp;円
                &nbsp;<mat-checkbox [checked]="data.parkingDepositConvertedFlg === '1'" (change)="changeParkingDepositConvertedFlg($event, data)"></mat-checkbox><span style="font-size: 0.8em;">&nbsp;&nbsp;返還済</span>
            </td>
        </tr>
        <!-- 20240123 S_Delete -->
        <!-- <tr>
            <th>保険料</th>
            <td>
                <input type="text" [(ngModel)]="data.InsuranceFeeMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.InsuranceFeeMap)">&nbsp;円
            </td>
            <th>賃貸保証料</th>
            <td>
                <input type="text" [(ngModel)]="data.roomRentGuaranteeFeeMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.roomRentGuaranteeFeeMap)">&nbsp;円
                &nbsp;<mat-checkbox [checked]="data.roomRentGuaranteeFeeConvertedFlg === '1'" (change)="changeRoomRentGuaranteeFeeConvertedFlg($event, data)"></mat-checkbox><span style="font-size: 0.8em;">&nbsp;&nbsp;返還済</span>
            </td>
        </tr> -->
        <!-- 20240123 E_Delete -->
        <tr>
            <!-- 20240123 S_Delete -->
            <!-- <th>賃貸免除開始日</th>
            <td>
                <div class="picker-div">
                    <input type="text" [matDatepicker]="roomRentExemptionStartDate" [(ngModel)]="data.roomRentExemptionStartDateMap" placeholder="開始日" class="width100">
                    <mat-datepicker-toggle matSuffix [for]="roomRentExemptionStartDate" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #roomRentExemptionStartDate></mat-datepicker>
                </div>
            </td> -->
            <!-- 20240123 E_Delete -->
            <th>更新料</th>
            <td>
                <input type="text" [(ngModel)]="data.updateFee" class="width100 number" (keypress)="floatOnly($event)" maxlength="15">&nbsp;ヶ月分
            </td>
            <!-- 20231016 E_Add -->
        </tr>
        <!-- 20231027 S_Add -->
        <tr>
            <th>備考</th>
            <td colspan="5">
                <input type="text" [(ngModel)]="data.rentalContractNotes" class="width85Per" maxlength="1024">
            </td>
        </tr>
        <!-- 20231027 S_Add -->
        <tr>
            <!-- 20231027 S_Update -->
            <!-- <td colspan="6"> -->
            <td>
                <mat-dialog-actions class="left-aligned-actions">
                    <button mat-raised-button *ngIf="data.pid > 0" class="register-btn2" (click)="addEvictionInfo()">立退き情報　登録</button>
                </mat-dialog-actions>
            </td>
            <td colspan="5">
            <!-- 20231027 E_Update -->
                <mat-dialog-actions align="center">
                    <button mat-raised-button class="delete-btn" *ngIf="data.pid > 0" (click)="deleteRentalContract()">削除</button>
                    <button mat-raised-button class="width100" (click)="cancel()">キャンセル</button>
                    <button mat-raised-button class="width80" color="primary" (click)="save()">登録</button>
                </mat-dialog-actions>
            </td>
        </tr>
    </table>
</div>
