<div class="mat-elevation-z8 main" (keydown.enter)="searchKanjyoFix()">
    <mat-expansion-panel expanded='true'>
        <mat-expansion-panel-header>
            <mat-panel-title>検索条件</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="search-div">
            <table class="search-tbl">
            <tr>
                <th>支払コード</th>
                <td>
                    <select [(ngModel)]="cond.paymentCode" class="payment-type">
                        <option value=""></option>
                        <ng-container *ngFor="let tp of payTypes">
                            <optgroup [label]="tp.paymentName" *ngIf="tp.categoryFlg === '1'"></optgroup>
                            <option [value]="tp.paymentCode" *ngIf="tp.categoryFlg !== '1'">&nbsp;&nbsp;&nbsp;&nbsp;{{tp.paymentName}}</option>
                        </ng-container>
                    </select>
                </td>

                <th>借方勘定科目コード</th>
                <td>
                    <app-select-component [codes]="kanjyoCodes" [(ngModel)]="cond.debtorKanjyoCode" maxlength="30"></app-select-component>
                </td>

                <th>貸方勘定科目コード</th>
                <td>
                    <app-select-component [codes]="kanjyoCodes" [(ngModel)]="cond.creditorKanjyoCode" maxlength="30"></app-select-component>
                </td>

                <th>振替フラグ</th>
                <td>
                    <app-select-component  class="width158" [codes]="getCode('029')" [(ngModel)]="cond.transFlg" maxlength="10"></app-select-component>
                </td>
            </tr>
            </table>
            <div style="margin: 10px 0px 10px 0px;">
                <button mat-raised-button (click)="createNew()" color="warn">&nbsp;新規登録&nbsp;</button>
                <div class = "search-btns">
                    <button mat-raised-button (click)="searchKanjyoFix()" class="search-btn">&nbsp;&nbsp;検索&nbsp;&nbsp;</button>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</div>
<ngx-spinner type="ball-spin-clockwise" bdOpacity="0.7"></ngx-spinner>
<div class="mat-elevation-z8 main data">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="paymentCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 支払コード </th>
            <td mat-cell *matCellDef="let element"> {{getPaymentName(element.paymentCode)}} </td>
        </ng-container>

        <ng-container matColumnDef="debtorKanjyoCode">
            <th mat-header-cell *matHeaderCellDef> 借方勘定科目コード </th>
            <td mat-cell *matCellDef="let element"> {{getKanjyoNames(element.debtorKanjyoCode)}} </td>
        </ng-container>

        <ng-container matColumnDef="creditorKanjyoCode">
            <th mat-header-cell *matHeaderCellDef> 貸方勘定科目コード </th>
            <td mat-cell *matCellDef="let element"> {{getKanjyoNames(element.creditorKanjyoCode)}} </td>
        </ng-container>

        <ng-container matColumnDef="transFlg">
            <th mat-header-cell *matHeaderCellDef> 振替フラグ </th>
            <td mat-cell *matCellDef="let element"> {{getCodeTitle('029',element.transFlg)}} </td>
        </ng-container>

        <ng-container matColumnDef="createDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 登録日 </th>
            <td mat-cell *matCellDef="let element"> {{element.createDate | date:'yyyy/MM/dd HH:mm:ss'}} </td>
        </ng-container>

        <ng-container matColumnDef="updateDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 更新日 </th>
            <td mat-cell *matCellDef="let element"> {{element.updateDate | date:'yyyy/MM/dd HH:mm:ss'}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row"> 
                <button mat-raised-button (click)="deleteRow(row)" class="delete_btn">削除</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="detail">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row"> 
                <button mat-raised-button (click)="showDetail(row)" color="warn">詳細</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlighted': selectedRowIndex == row.pid}" (mouseover)="highlight(row)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>
