.planhead {
    width: 89vw;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.planhead > table.aaa{
    border-spacing: 0px;
    border-collapse: collapse;
}

.aaa > tr > td {
    width: 100px;
    border: 2px solid black;
}
.aaa > td {
    height: 40px;
    min-width: 120px;    
    font-size: 12px;
    font-weight: 500;
    /*color:white;
    border: solid 1px gainsboro;*/   
}