<ngx-spinner type="ball-spin-clockwise" bdOpacity="0.7"></ngx-spinner>
<div  class="detail-div">

    <ul *ngIf="errorMsgs.length > 0" class="error-span">
        <li *ngFor="let msg of errorMsgs">{{msg}}</li>
    </ul>
    <br>
    <!--/土地情報契約-->
    <table class="detail-tbl-min">  
        <tr>
            <td colspan="8"><span class="min">プラン種別</span></td>
        </tr>
        <tr>
            <th>プラン番号</th>
            <td><input type="text" class="width150" [attr.disabled]="true" [ngModel]="plan.planNumber"></td>            
            <th>プラン名</th>
            <td>
              <input type="text" style="width: 400px;" [(ngModel)]="plan.planName">
            </td>
            <th>プランステータス</th>
            <td>
                <app-select-component [codes]="getEmps()" [(ngModel)]="plan.planStatus"></app-select-component>
            </td>
            
        </tr>
        
        <tr>
            <th>物件番号</th>
            <td><input type="text" class="width150" [attr.disabled]="true" [ngModel]="data.bukkenNumber"></td>          
            <th>物件名称</th>
            <td colspan="3">
                <input type="text" style="width: 400px;" [attr.disabled]="true" [ngModel]="data.bukkenName">
            </td>
        </tr>
        <tr>
            <th>担当部署</th>
                <td>
                    <app-select-component [codes]="getDeps()" [(ngModel)]="plan.depCode"></app-select-component>
                </td>
                <th>物件担当者</th>
                <td>
                    <app-select-component [codes]="getEmps()"  [(ngModel)]="plan.userId"></app-select-component>
                </td>
                <th>作成日</th>
                <td>
                <input type="text" [matDatepicker]="cratedDay" class="width100" [(ngModel)]="plan.cratedDay">
                <mat-datepicker-toggle matSuffix [for]="cratedDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #cratedDay></mat-datepicker>
                </td>
        </tr>
    </table>
    <!--/土地情報契約-->

    <!--/建物情報契約-->
          

    <table class="detail-tbl-min">
        <tr>
            <td colspan="8">
                <span class="min"><label>土地情報</label></span>                        
            </td>
        </tr>
    </table>
    
   

    <table class="detail-tbl-min">
        <tr>
            <td colspan="8">
                <span class="min" style="width: 155px !important;">建物情報</span>                        
            </td>
        </tr>
    </table> 
    

   

</div>    
