<ngx-spinner type="ball-spin-clockwise" bdOpacity="0.7"></ngx-spinner>
<div  class="detail-div">
    <div class="register-div">
        <button mat-raised-button class="button" (click)="backToList()">一覧へ</button>
        <button mat-raised-button color="primary" class="button" (click)="save()">登録</button>
    </div>
    

    <ul *ngIf="errorMsgs.length > 0" class="error-span">
        <li *ngFor="let msg of errorMsgs">{{msg}}</li>
    </ul>
    <br>
    <!--/収支ヘッダー-->
    <table class="detail-tbl-head">  
        <tr>
            <td><span class="head">プラン種別</span>&nbsp;&nbsp;<app-select-component [codes]="getCode('016')" [(ngModel)]="plan.planStatus"></app-select-component></td>
        </tr>
        <tr>
            <!--<th>プランステータス</th>
            <td>
                <app-select-component [codes]="getCode('016')" [(ngModel)]="plan.planStatus"></app-select-component>
            </td>-->
            <th>作成日</th>
                <td class="first">
                <div class="picker-div">
                <input type="text" [matDatepicker]="cratedDay" class="Twidth100" [(ngModel)]="plan.cratedDayMap">  
                <mat-datepicker-toggle matSuffix [for]="cratedDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #cratedDay></mat-datepicker>
                </div>
                </td>
                <th>決済期</th>
                <td class="second">
                    <input type="text" class="Twidth100" [(ngModel)]="plan.settlement">
          
                    <app-select-component [codes]="getCode('017')"  class="Twidth100" [(ngModel)]="plan.period"></app-select-component>
                </td>    

        </tr>
        <tr>
            <th>プラン番号</th>
            <td class="first"><input type="text" class="Twidth150" [attr.disabled]="true" [(ngModel)]="plan.planNumber"></td>            
            <th>プラン名</th>
            <td class="second">
              <input type="text" class="Twidth400" [(ngModel)]="plan.planName">
            </td>    
        </tr>
        
        <tr>
            <th>物件番号</th>
            <td class="first"><input type="text" class="Twidth150" [attr.disabled]="true" [(ngModel)]="data.bukkenNumber"></td>          
            <th>物件名称</th>
            <td class="second">
                <input type="text" class="Twidth400" [attr.disabled]="true" [(ngModel)]="data.bukkenName">
            </td>
        </tr>
        <tr>
            <th>担当部署</th>
                <td class="first">
                    <app-select-component [codes]="getDeps()"  [(ngModel)]="plan.depCode"></app-select-component>
                </td>
                <th>物件担当者</th>
                <td class="second">
                    <app-select-component [codes]="getEmps()" class="Twidth400px;" [(ngModel)]="plan.userId" [exclass] = "true"></app-select-component>
                </td>
                <!--<th>決済期</th>
                <td>
                    <input type="text" class="width100" [ngModel]="plan.settlement">
                </td>
        
                <td>
                    <app-select-component [codes]="getCode('017')"  class="width100"[(ngModel)]="plan.period"></app-select-component>
                </td>-->
                
        </tr>
    
    </table>
    <!--/土地情報契約-->

    <!--/建物情報契約-->
          

    <table class="detail-tbl-head">
        <tr>
            <td>
                <span class="head"><label>土地情報</label></span>                        
            </td>
        </tr>
        <tr>
            <th>所有者</th>
            <td class="second">
              <input type="text" style="width: 400px;" [(ngModel)]="data.owner">
            </td>
            <th>権利関係</th>
            <td td class="third">
                <app-select-component [codes]="getCode('保留')" [(ngModel)]="plan.rightsRelationship"></app-select-component>
            </td>
            <th>仕入契約予定日</th>
                <td>
                <div class="picker-div">  
                <input type="text" [matDatepicker]="scheduledDay" class="width100" [(ngModel)]="plan.scheduledDayMap">
                <mat-datepicker-toggle matSuffix [for]="scheduledDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #scheduledDay></mat-datepicker>
                </div>
            </td>
        </tr>
        <tr>
            <th>設計事務所</th>
            <td class="second">
              <input type="text" style="width: 400px;" [(ngModel)]="plan.designOffice">
            </td>
            <th>施工会社</th>
            <td class="second">
              <input type="text" style="width: 400px;" [(ngModel)]="plan.construction">
            </td>
        </tr>
        <tr>
            <th>着工</th>
            <td class="force">
                <div class="picker-div">
                <input type="text" [matDatepicker]="startDay" class="width100" [(ngModel)]="plan.startDayMap">
                <mat-datepicker-toggle matSuffix [for]="startDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #startDay></mat-datepicker>
                </div>
            </td>
            <th>上棟</th>
                <td class="etc">
                <div class="picker-div">
                <input type="text" [matDatepicker]="upperWingDay" class="width100" [(ngModel)]="plan.upperWingDayMap">
                <mat-datepicker-toggle matSuffix [for]="upperWingDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #upperWingDay></mat-datepicker>
                </div>
            </td>
            <th>竣工</th>
                <td>
                <div class="picker-div">
                <input type="text" [matDatepicker]="completionDay" class="width100" [(ngModel)]="plan.completionDayMap">
                <mat-datepicker-toggle matSuffix [for]="completionDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #completionDay></mat-datepicker>
                </div>
            </td>

        </tr>
    </table>
    
   

    <table class="detail-tbl-head">
        <tr>
            <td>
                <span class="head" style="width: 155px !important;">建物情報</span>                        
            </td>
        </tr>
        <tr>
            <th>所在地</th>
            <td class="second">
              <input type="text" style="width: 400px;" [(ngModel)]="data.address">
            </td>
            <th>交通</th>
            <td class="second">
              <input type="text" style="width: 400px;" [(ngModel)]="plan.traffic">
            </td>
        </tr>
        <tr>
            <th>敷地面積(売買)</th>
            <td class="second_tubo">
              <input type="text" class="width100" [(ngModel)]="plan.siteAreaBuy"  (keyup)="changesiteAreaBuy($event)">&nbsp;㎡&nbsp;&nbsp;
              <input type="text" class="width100"  [attr.disabled]="true"  [value]="changeVal(plan.siteAreaBuy)">&nbsp;坪&nbsp;&nbsp;
            </td>
            <th>敷地面積(確認)</th>
            <td class="second_tubo">
                <input type="text" class="width100" [(ngModel)]="plan.siteAreaCheck" (keyup)="changesiteAreaCheck($event)">&nbsp;㎡&nbsp;&nbsp;
                <input type="text" class="width100" [value]="changeVal(plan.siteAreaCheck)" [attr.disabled]="true">&nbsp;坪&nbsp;&nbsp;
            </td>
        </tr>
        <tr>
        <th>建築延面積</th>
            <td class="second_tubo">
                <input type="text" class="width100" [(ngModel)]="plan.buildArea" (keyup)="changebuildArea($event)">&nbsp;㎡&nbsp;&nbsp;
                <input type="text" class="width100" [value]="changeVal(plan.buildArea)" [attr.disabled]="true">&nbsp;坪&nbsp;&nbsp;
            </td>
            <th class="entrance">エントランス・内廊下部分</th>
              <td class="second_tubo">
                <input type="text" class="width100" [(ngModel)]="plan.entrance" (keyup)="changeentrance($event)">&nbsp;㎡&nbsp;&nbsp;
                <input type="text" class="width100" [value]="changeVal(plan.entrance)" [attr.disabled]="true">&nbsp;坪&nbsp;&nbsp;
            </td>
        </tr>
        <tr>
            <th>駐車場面積</th>
            <td class="second_tubo">
                <input type="text" class="width100" [(ngModel)]="plan.parking" (keyup)="changeparking($event)">&nbsp;㎡&nbsp;&nbsp;
                <input type="text" class="width100" [value]="changeVal(plan.parking)" [attr.disabled]="true">&nbsp;坪&nbsp;&nbsp;
            </td>
            
            <th>地下面積</th>
              <td class="second_tubo">
                <input type="text" class="width100" [(ngModel)]="plan.underArea" (keyup)="changeunderArea($event)">&nbsp;㎡&nbsp;&nbsp;
                <input type="text" class="width100" [value]="changeVal(plan.underArea)" [attr.disabled]="true">&nbsp;坪&nbsp;&nbsp;
            </td>
            
        </tr>
        <tr>
            <th>総専有面積</th>
            <td class="second_tubo">
                <input type="text" class="width100" [(ngModel)]="plan.totalArea" (keyup)="changetotalArea($event)">&nbsp;㎡&nbsp;&nbsp;
                <input type="text" class="width100" [value]="changeVal(plan.totalArea)" [attr.disabled]="true">&nbsp;坪&nbsp;&nbsp;
            </td>
            <th>販売専有面積</th>
            <td class="second_tubo">
                <input type="text" class="width100" [(ngModel)]="plan.salesArea" (keyup)="changesalesArea($event)">&nbsp;㎡&nbsp;&nbsp;
                <input type="text" class="width100" [value]="changeVal(plan.salesArea)" [attr.disabled]="true">&nbsp;坪&nbsp;&nbsp;
            </td>
        </tr>
        <tr>
        <th>用途地域</th>
            <td td class="second_tubo">
                <app-select-component [codes]="getCode('保留2')" [(ngModel)]="plan.restrictedArea"></app-select-component>
            </td>
            <th>地目</th>
            <td class="second_tubo">
                <input type="text" class="width100" [(ngModel)]="plan.groundType">
                
            </td>
        </tr>
        <tr>
            <th>容積率</th>
            <td class="etc">
              <input type="text" class="width100" [(ngModel)]="plan.floorAreaRate"(keypress)="floatOnly($event)">&nbsp;％
            </td>
            <th>建蔽率</th>
            <td class="etc">
              <input type="text" class="width100" [(ngModel)]="plan.coverageRate" (keypress)="floatOnly($event)">&nbsp;％
            </td>
            <th>消化容積</th>
            <td class="etc">
              <input type="text" class="width100" [(ngModel)]="plan.digestionVolume" (keypress)="floatOnly($event)" [attr.disabled]="true">&nbsp;％
            </td>
            <th>レンタブル比</th>
            <td class="etc">
              <input type="text" class="width100" [(ngModel)]="plan.lentable"(keypress)="floatOnly($event)"  [attr.disabled]="true">&nbsp;％
            </td>
        </tr>
        <tr>
            <th class="sum">総専有面積／（建築遅延面積＋エントランス・内廊下部分</th>
            <td><input type="text" class="width100"  [attr.disabled]="true" (keypress)="floatOnly($event)" >&nbsp;％</td>
        </tr>
        <tr>
            <th>構造規模</th>
            <td class="etc2">
                <app-select-component [codes]="getCode('018')" [(ngModel)]="plan.structureScale"></app-select-component>
            </td>
            <th>地上</th>
            <td class="etc2">
            <input type="text" class="width100" [(ngModel)]="plan.ground">&nbsp;階
            <th>地下</th>
            <td class="etc2">
            <input type="text" class="width100" [(ngModel)]="plan.underground">&nbsp;階
            </td>
        </tr>
        <tr>
                
            <th>総戸数</th>
            <td class="etc3">
            <input type="text" class="width100" [(ngModel)]="plan.totalUnits">&nbsp;戸
            <th>販売戸数</th>
            <td class="etc2">
            <input type="text" class="width100" [(ngModel)]="plan.buysellUnits">&nbsp;戸
            </td>
        </tr>
        <tr>
                
            <th>敷地駐車台数</th>
            <td class="etc3">
            <input type="text" class="width100" [(ngModel)]="plan.parkingIndoor">&nbsp;台
            <th>敷地外駐車台数</th>
            <td class="etc2">
            <input type="text" class="width100" [(ngModel)]="plan.parkingOutdoor">&nbsp;台
            <th>駐車合計台数</th>
            <td class="etc2">
            <input type="text" class="width100"  [attr.disabled]="true">&nbsp;台
            </td>
        </tr>
        <tr>
                
            <th>駐車場設置率</th>
            <td class="etc3">
            <input type="text" class="width100" [attr.disabled]="true" (keypress)="floatOnly($event)">&nbsp;％
            <th>内機械式</th>
            <td class="etc2">
            <input type="text" class="width100" [(ngModel)]="plan.mechanical">&nbsp;台
            
            </td>
        </tr>
    </table> 
<!--収支計算画面_S-->
<table class ="plan_detail"> 
    <table class = "detail-tbl-plan">
        <tr>
            <th class="title">事業収支</th>
            <td class="titlehead">金額(税抜)</td>
            <td class="titlehead">単価・坪</td>
            <td class="titlehead">算出根拠</td>
        </tr>
<!--20200317_del
        <tr>
            <td><span class="head_plan">売上</span></td>
        </tr>
        
        <tr>
            <th class="main">売買価格</th>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo"></td>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo"></td>
            <td class="yen"><input type="text" class="Twidthy70"  [ngModel]="plan.demo" placeholder="物件NOI">
               ×<input type="text" class="par" placeholder="利回り" [ngModel]="plan.demo">&nbsp;%</td>
        </tr>
        <tr>
            <th class="main">事業幹事Fee</th>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo"></td>            
        </tr>
        <tr>
            <th class="main">その他</th>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo"></td>            
        </tr>
        <span class = "SUM">
        <tr>
            <th class="main">売上高</th>
            <td class="yen"><input type="text" class="Twidth100" [attr.disabled]="true" [ngModel]="plan.demo"></td>            
        </tr>
        
        </span>
-->
    
        <tr>
            <td><span class="head_plan">土地原価</span></td>
        </tr>
        <tr>
            <th class="main">土地代</th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[0].price"></td>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo"></td>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.routePrice"></td>
        </tr>
        <tr>
            <th class="main">前払い地代</th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[1].price"></td>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo"></td>
            
        </tr>
        <tr>
            <th class="main">仲介料</th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[2].price"></td>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo"></td>
            <td class="yen"><input type="text" class="par" placeholder="手数料" [ngModel]="plan.demo" [attr.disabled]="true">&nbsp;%
<!--              +<input type="text" placeholder="6" class="par" [ngModel]="plan.demo" >--> </td>
        </tr> 

        <tr>
            <th class="main">解体費</th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[3].price"></td>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo"></td>
        </tr>

        <tr>
            <th class="main">固都税精算金</th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[4].price"></td>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo" [attr.disabled]="true"></td>
            <td class="yen">
                <input type="text" class="Twidthy70" placeholder="精算分固都税年額" [ngModel]="plan.demo" [attr.disabled]="true">
                ×<input type="text" class="Twidthy70" placeholder="負担日数" [ngModel]="plan.demo"></td>
        </tr>
        <!--20200331 ADD-->
        <tr>
            <th class="main">その他</th>
            <td class="yen"><input type="text" class="Twidth100"  [value]="changeSum(plan.details[5].price, plan.details[6].price, plan.details[7].price, plan.details[8].price, plan.details[9].price)"  
                [attr.disabled]="true"></td>
        </tr>
        <tr>
            <th class="main"><select name="その他" class="Twidth100"></select></th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[5].price" (keyup)="changeSum(details)"></td>
        </tr>
        <tr>
            <th class="main"><select name="その他" class="Twidth100"></select></th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[6].price" (keyup)="changeSum(details)"></td>
        </tr>
        <tr>
            <th class="main"><select name="その他" class="Twidth100"></select></th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[7].price" (keyup)="changeSum(details)"></td>
        </tr>
        <tr>
            <th class="main"><select name="その他" class="Twidth100"></select></th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[8].price" (keyup)="changeSum(details)"></td>
        </tr>
        <tr>
            <th class="main"><select name="その他" class="Twidth100"></select></th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[9].price" (keyup)="changeSum(details)"></td>
        </tr>
        <span class = "SUM">
            <tr>
                <th class="main">土地原価合計</th>
                <td class="yen"><input type="text" class="Twidth100" [attr.disabled]="true" [(ngModel)]="plan.demo"></td>            
            </tr>
        </span>
        <tr>
            <td><span class="head_plan">建物原価</span></td>
        </tr>
        <tr>
            <th class="main">建築費</th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[10].price"></td>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo"></td>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo"></td>
        </tr>
        <tr>
            <th class="main">設計料</th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[11].price"></td>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo"></td>
            <td class="yen"><input type="text" class="par" [ngModel]="plan.demo">&nbsp;%&nbsp;=(OO,OOO千円)</td>
        </tr>
        <tr>
            <th class="main">デザイン等</th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[12].price"></td>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo"></td>
        </tr>
        <tr>
            <th class="main">建築予備費</th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[13].price"></td>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo"></td>
            <td class="yen"><input type="text" class="par" [ngModel]="plan.demo">&nbsp;%&nbsp;=(OO,OOO千円)</td>
        </tr>
        <tr>
            <th class="main">デューデリ費用</th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[14].price"></td>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo"></td>
        </tr>
        <tr>
            <th class="main">近隣保障費等</th>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo" [attr.disabled]="true"></td>
        </tr>
        <tr>
            <th class="main">近隣委託費</th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[15].price"></td>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo"></td>
        </tr>
        <tr>
            <th class="main">近隣補償費</th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[16].price"></td>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo"></td>
        </tr>
        <tr>
            <th class="main">電波障害</th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[17].price"></td>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo"></td>
        </tr>
        <tr>
            <th class="main">その他</th>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo" [attr.disabled]="true"></td>
        </tr>
        <tr>
            <th class="main"><select name="その他" class="Twidth100"></select></th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[18].price"></td>
        </tr>
        <tr>
            <th class="main"><select name="その他" class="Twidth100"></select></th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[19].price"></td>
        </tr>
        <tr>
            <th class="main"><select name="その他" class="Twidth100"></select></th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[20].price"></td>
        </tr>
        <tr>
            <th class="main"><select name="その他" class="Twidth100"></select></th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[21].price"></td>
        </tr>
        <tr>
            <th class="main"><select name="その他" class="Twidth100"></select></th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[22].price"></td>
        </tr>
        <span class = "SUM">
            <tr>
                <th class="main">建物原価合計</th>
                <td class="yen"><input type="text" class="Twidth100" [attr.disabled]="true" [(ngModel)]="plan.demo"></td>            
            </tr>
            
            </span>
        <tr>
            <td><span class="head_plan">その他費用</span></td>
        </tr>
        <tr>
            <th class="main">土地固都税</th>
            <td class="yen"><input type="text" class="Twidth100" [attr.disabled]="true" [(ngModel)]="plan.details[23].price"></td>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo"></td>
            <td class="yen"><input type="text" class="Twidthy70" placeholder="納税期間" [ngModel]="plan.demo">ヵ月</td>
        </tr>
    <div class="kakomi-box11">
        <span class="title-box11">・既存建物関係費</span>
        <tr>
            <th class="main">固都税</th>
            <td class="yen"><input type="text" class="Twidth100" [attr.disabled]="true" [(ngModel)]="plan.details[24].price"></td>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo"></td>
            <td class="yen"><input type="text" class="Twidthy70" placeholder="納税期間" [ngModel]="plan.demo">ヵ月</td>
        </tr>
        <tr>
            <th class="main">管理費</th>
            <td class="yen"><input type="text" class="Twidth100" [(ngModel)]="plan.details[25].price"></td>
        </tr>
        <tr>
            <th class="main">水光熱費</th>
            <td class="yen"><input type="text" class="Twidth100" [(ngModel)]="plan.details[26].price"></td>
        </tr>
        <tr>
            <th class="main">取得税</th>
            <td class="yen"><input type="text" class="Twidth100" [ngModel]="plan.demo" [attr.disabled]="true"></td>
        </tr>
        <tr>
            <th class="main">登録免許税</th>
            <td class="yen"><input type="text" class="Twidth100" [ngModel]="plan.demo"></td>
        </tr>
        <tr>
            <th class="main">滅失登記</th>
            <td class="yen"><input type="text" class="Twidth100" [(ngModel)]="plan.details[27].price"></td>
        </tr>
        <tr>
            <th class="main">予備費</th>
            <td class="yen"><input type="text" class="Twidth100" [(ngModel)]="plan.details[28].price"></td>
        </tr>
    </div>
    <div class="kakomi-box11">
        <span class="title-box11">・土地 取得時税金</span>

        <tr>
            <th class="main">司法書士費用</th>
            <td class="yen"><input type="text" class="Twidth100" [(ngModel)]="plan.details[29].price"></td>
            <td class="yen"><input type="text" class="Twidth100" [ngModel]="plan.demo"></td>
        </tr>
        <tr>
            <th class="main">取得税</th>
            <td class="yen"><input type="text" class="Twidth100" [(ngModel)]="plan.details[30].price"></td>
            <td class="yen"><input type="text" class="Twidth100" [ngModel]="plan.demo"></td>
        </tr>
        <tr>
            <th class="main">登録税</th>
            <td class="yen"><input type="text" class="Twidth100" [(ngModel)]="plan.details[31].price"></td>
            <td class="yen"><input type="text" class="Twidth100" [ngModel]="plan.demo"></td>
        </tr>
    </div>
    <div class="kakomi-box11">
        <span class="title-box11">・建物 取得時税金</span>
        <tr>
            <th class="main">取得税</th>
            <td class="yen"><input type="text" class="Twidth100" [(ngModel)]="plan.details[32].price"></td>
            <td class="yen"><input type="text" class="Twidth100" [ngModel]="plan.demo"></td>
        </tr>
        <tr>
            <th class="main">登録税</th>
            <td class="yen"><input type="text" class="Twidth100" [(ngModel)]="plan.details[33].price"></td>
            <td class="yen"><input type="text" class="Twidth100" [ngModel]="plan.demo"></td>
        </tr>
    </div>
        <tr>
            <th class="main">竣工前地代</th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[34].price"></td>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo" [attr.disabled]="true"></td>
            <td class="yen"><input type="text" class="Twidthy70" placeholder="建築期間" [ngModel]="plan.demo">
                +<input type="text" class="Twidthy70" placeholder="調査期間" [ngModel]="plan.demo">
                ×<input type="text" class="Twidthy70" placeholder="地代" [ngModel]="plan.demo"></td>
        </tr>
        <tr>
            <th class="main">保証金(解体費用)</th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[35].price"></td>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo" [attr.disabled]="true"></td>
            <td class="yen"><input type="text" class="Twidthy70" placeholder="法延" [ngModel]="plan.demo">
        </tr>
        <tr>
            <th class="main">その他</th>
            <td class="yen"><input type="text" class="Twidth100"  [ngModel]="plan.demo" [attr.disabled]="true"></td>
        </tr>
        <tr>
            <th class="main"><select name="その他" class="Twidth100"></select></th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[36].price"></td>
        </tr>
        <tr>
            <th class="main"><select name="その他" class="Twidth100"></select></th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[37].price"></td>
        </tr>
        <tr>
            <th class="main"><select name="その他" class="Twidth100"></select></th>
            <td class="yen"><input type="text" class="Twidth100" [(ngModel)]="plan.details[38].price"></td>
        </tr>
        <tr>
            <th class="main"><select name="その他" class="Twidth100"></select></th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[39].price"></td>
        </tr>
        <tr>
            <th class="main"><select name="その他" class="Twidth100"></select></th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.details[40].price"></td>
        </tr>
        <span class = "SUM">
            <tr>
                <th class="main">その他費用合計</th>
                <td class="yen"><input type="text" class="Twidth100" [attr.disabled]="true" [ngModel]="plan.demo"></td>            
            </tr>
            
        </span>
<!--20200317_del
        <span class = "profitSUM">
        <tr>
            <th class="profit">粗利益</th>
            <td class="yen"><input type="text" class="Twidth100" [attr.disabled]="true" [ngModel]="plan.demo"></td>
            
        </tr>
        </span>
-->
        <tr>
            <th class="main">土地関係金利</th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.demo"></td>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.demo"></td>
            <td class="yen"><input type="text" class="par" placeholder="金利" [(ngModel)]="plan.demo">&nbsp;%</td>
        </tr>
        <tr>
            <th class="main">建物関係金利</th>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.demo"></td>
            <td class="yen"><input type="text" class="Twidth100"  [(ngModel)]="plan.demo"></td>
            <td class="yen"><input type="text" class="par" placeholder="金利" [(ngModel)]="plan.demo">&nbsp;%</td>
        </tr>
        <span class = "SUM">
            <tr>
                <th class="main">金利合計</th>
                <td class="yen"><input type="text" class="Twidth100" [attr.disabled]="true" [(ngModel)]="plan.demo"></td>            
            </tr>
            
        </span>
        <span class = "SUM">
            <tr>
                <th class="main">PJ原価</th>
                <td class="yen"><input type="text" class="Twidth100" [attr.disabled]="true" [(ngModel)]="plan.demo"></td>            
            </tr>
            
        </span>
<!--20200317_del
        <span class = "profitSUM">
            <tr>
                <th class="profit">PJ利益</th>
                <td class="yen"><input type="text" class="Twidth100" [attr.disabled]="true" [ngModel]="plan.demo"></td>
                
            </tr>
        </span>
-->

    </table>
<!--収支計算画面_E-->

<!--利益プラン_S-->    
    <table class = "detail-tbl-roll">
        <tr>
            <th class="title">利益</th>
        </tr>
        <tr>
        <td><span class="head_roll">プラン</span></td>
        </tr>
            
        <tr>
            <th class="main">プランA</th>
            <td class="yen"><input type="text" placeholder="販売価格"class="Twidth100"  [ngModel]="plan.demo"></td>
            <td class="yen"><input type="text" placeholder="利益"class="Twidth100"  [ngModel]="plan.demo" [attr.disabled]="true"></td>
            <td class="yen"><input type="text" class="Twidthy70" placeholder="利益率" [ngModel]="plan.demo">&nbsp;%</td>
            <td class="yen"><input type="text" class="Twidthy70" placeholder="利回り" [ngModel]="plan.demo" [attr.disabled]="true">&nbsp;%</td>
        </tr>
        <tr>
            <th class="main">プランB</th>
            <td class="yen"><input type="text" placeholder="販売価格"class="Twidth100"  [ngModel]="plan.demo"></td>
            <td class="yen"><input type="text" placeholder="利益"class="Twidth100"  [ngModel]="plan.demo" [attr.disabled]="true"></td>
            <td class="yen"><input type="text" class="Twidthy70" placeholder="利益率" [ngModel]="plan.demo">&nbsp;%</td>
            <td class="yen"><input type="text" class="Twidthy70" placeholder="利回り" [ngModel]="plan.demo" [attr.disabled]="true">&nbsp;%</td>
        </tr>
        <tr>
            <th class="main">プランC</th>
            <td class="yen"><input type="text" placeholder="販売価格"class="Twidth100"  [ngModel]="plan.demo"></td>
            <td class="yen"><input type="text" placeholder="利益"class="Twidth100"  [ngModel]="plan.demo" [attr.disabled]="true"></td>
            <td class="yen"><input type="text" class="Twidthy70" placeholder="利益率" [ngModel]="plan.demo">&nbsp;%</td>
            <td class="yen"><input type="text" class="Twidthy70" placeholder="利回り" [ngModel]="plan.demo" [attr.disabled]="true">&nbsp;%</td>
        </tr>
        <tr>
            <th class="main">プランD</th>
            <td class="yen"><input type="text" placeholder="販売価格"class="Twidth100"  [ngModel]="plan.demo"></td>
            <td class="yen"><input type="text" placeholder="利益"class="Twidth100"  [ngModel]="plan.demo" [attr.disabled]="true"></td>
            <td class="yen"><input type="text" class="Twidthy70" placeholder="利益率" [ngModel]="plan.demo">&nbsp;%</td>
            <td class="yen"><input type="text" class="Twidthy70" placeholder="利回り" [ngModel]="plan.demo" [attr.disabled]="true">&nbsp;%</td>
        </tr>
        

    </table>
<!--利益プラン_E-->
<!--レントロール_S-->    
<table class = "detail-tbl-roll">
            <tr>
                <th class="title">利益</th>
            </tr>
            <tr>
            <td><span class="head_roll">プラン</span></td>
            </tr>
                
            <tr>
                <th class="main">プランA</th>
                <td class="yen"><input type="text" placeholder="販売価格"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen"><input type="text" placeholder="利益"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                <td class="yen"><input type="text" class="Twidthy70" placeholder="利益率" [(ngModel)]="plan.demo">&nbsp;%</td>
                <td class="yen"><input type="text" class="Twidthy70" placeholder="利回り" [(ngModel)]="plan.demo" [attr.disabled]="true">&nbsp;%</td>
            </tr>
            <tr>
                <th class="main">プランB</th>
                <td class="yen"><input type="text" placeholder="販売価格"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen"><input type="text" placeholder="利益"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                <td class="yen"><input type="text" class="Twidthy70" placeholder="利益率" [(ngModel)]="plan.demo">&nbsp;%</td>
                <td class="yen"><input type="text" class="Twidthy70" placeholder="利回り" [(ngModel)]="plan.demo" [attr.disabled]="true">&nbsp;%</td>
            </tr>
            <tr>
                <th class="main">プランC</th>
                <td class="yen"><input type="text" placeholder="販売価格"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen"><input type="text" placeholder="利益"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                <td class="yen"><input type="text" class="Twidthy70" placeholder="利益率" [(ngModel)]="plan.demo">&nbsp;%</td>
                <td class="yen"><input type="text" class="Twidthy70" placeholder="利回り" [(ngModel)]="plan.demo" [attr.disabled]="true">&nbsp;%</td>
            </tr>
            <tr>
                <th class="main">プランD</th>
                <td class="yen"><input type="text" placeholder="販売価格"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen"><input type="text" placeholder="利益"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                <td class="yen"><input type="text" class="Twidthy70" placeholder="利益率" [(ngModel)]="plan.demo">&nbsp;%</td>
                <td class="yen"><input type="text" class="Twidthy70" placeholder="利回り" [(ngModel)]="plan.demo" [attr.disabled]="true">&nbsp;%</td>
            </tr>
            
    
        </table>
    <!--利益プラン_E-->
    <!--レントロール_S-->    
        <table class = "detail-tbl-rent">
            <tr>
                <th class="title">レントロール</th>
            </tr>
                
            <tr>
                <th class="main"><input type="text" placeholder="フロア"class="par"  [(ngModel)]="plan.demo"></th>
                <td class="yen1"><input type="text" placeholder="面積"class="par" [(ngModel)]="plan.demo">&nbsp;㎡</td>
                <td class="yen2"><input type="text" placeholder="敷金"class="par" [(ngModel)]="plan.demo">&nbsp;ヵ月</td>
                <td class="yen3"><input type="text" placeholder="賃料単価"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen3"><input type="text" placeholder="敷金"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                <td class="yen3"><input type="text" placeholder="賃料"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
            </tr>
            <tr>
                <th class="main"><input type="text" placeholder="フロア"class="par"  [(ngModel)]="plan.demo"></th>
                <td class="yen1"><input type="text" placeholder="面積"class="par" [(ngModel)]="plan.demo">&nbsp;㎡</td>
                <td class="yen2"><input type="text" placeholder="敷金"class="par" [(ngModel)]="plan.demo">&nbsp;ヵ月</td>
                <td class="yen3"><input type="text" placeholder="賃料単価"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen3"><input type="text" placeholder="敷金"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                <td class="yen3"><input type="text" placeholder="賃料"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
            </tr>
            <tr>
                <th class="main"><input type="text" placeholder="フロア"class="par"  [(ngModel)]="plan.demo"></th>
                <td class="yen1"><input type="text" placeholder="面積"class="par" [(ngModel)]="plan.demo">&nbsp;㎡</td>
                <td class="yen2"><input type="text" placeholder="敷金"class="par" [(ngModel)]="plan.demo">&nbsp;ヵ月</td>
                <td class="yen3"><input type="text" placeholder="賃料単価"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen3"><input type="text" placeholder="敷金"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                <td class="yen3"><input type="text" placeholder="賃料"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
            </tr>
            <tr>
                <th class="main"><input type="text" placeholder="フロア"class="par"  [(ngModel)]="plan.demo"></th>
                <td class="yen1"><input type="text" placeholder="面積"class="par" [(ngModel)]="plan.demo">&nbsp;㎡</td>
                <td class="yen2"><input type="text" placeholder="敷金"class="par" [(ngModel)]="plan.demo">&nbsp;ヵ月</td>
                <td class="yen3"><input type="text" placeholder="賃料単価"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen3"><input type="text" placeholder="敷金"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                <td class="yen3"><input type="text" placeholder="賃料"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
            </tr>
            <tr>
                <th class="main"><input type="text" placeholder="フロア"class="par"  [(ngModel)]="plan.demo"></th>
                <td class="yen1"><input type="text" placeholder="面積"class="par" [(ngModel)]="plan.demo">&nbsp;㎡</td>
                <td class="yen2"><input type="text" placeholder="敷金"class="par" [(ngModel)]="plan.demo">&nbsp;ヵ月</td>
                <td class="yen3"><input type="text" placeholder="賃料単価"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen3"><input type="text" placeholder="敷金"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                <td class="yen3"><input type="text" placeholder="賃料"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
            </tr>
            <tr>
                <th class="main"><input type="text" placeholder="フロア"class="par"  [(ngModel)]="plan.demo"></th>
                <td class="yen1"><input type="text" placeholder="面積"class="par" [(ngModel)]="plan.demo">&nbsp;㎡</td>
                <td class="yen2"><input type="text" placeholder="敷金"class="par" [(ngModel)]="plan.demo">&nbsp;ヵ月</td>
                <td class="yen3"><input type="text" placeholder="賃料単価"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen3"><input type="text" placeholder="敷金"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                <td class="yen3"><input type="text" placeholder="賃料"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
            </tr>
            <tr>
                <th class="main"><input type="text" placeholder="フロア"class="par"  [(ngModel)]="plan.demo"></th>
                <td class="yen1"><input type="text" placeholder="面積"class="par" [(ngModel)]="plan.demo">&nbsp;㎡</td>
                <td class="yen2"><input type="text" placeholder="敷金"class="par" [(ngModel)]="plan.demo">&nbsp;ヵ月</td>
                <td class="yen3"><input type="text" placeholder="賃料単価"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen3"><input type="text" placeholder="敷金"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                <td class="yen3"><input type="text" placeholder="賃料"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
            </tr>
            <tr>
                <th class="main"><input type="text" placeholder="フロア"class="par"  [(ngModel)]="plan.demo"></th>
                <td class="yen1"><input type="text" placeholder="面積"class="par" [(ngModel)]="plan.demo">&nbsp;㎡</td>
                <td class="yen2"><input type="text" placeholder="敷金"class="par" [(ngModel)]="plan.demo">&nbsp;ヵ月</td>
                <td class="yen3"><input type="text" placeholder="賃料単価"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen3"><input type="text" placeholder="敷金"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                <td class="yen3"><input type="text" placeholder="賃料"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
            </tr>
            <tr>
                <th class="main"><input type="text" placeholder="フロア"class="par"  [(ngModel)]="plan.demo"></th>
                <td class="yen1"><input type="text" placeholder="面積"class="par" [(ngModel)]="plan.demo">&nbsp;㎡</td>
                <td class="yen2"><input type="text" placeholder="敷金"class="par" [(ngModel)]="plan.demo">&nbsp;ヵ月</td>
                <td class="yen3"><input type="text" placeholder="賃料単価"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen3"><input type="text" placeholder="敷金"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                <td class="yen3"><input type="text" placeholder="賃料"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
            </tr>
            <tr>
                <th class="main"><input type="text" placeholder="フロア"class="par"  [(ngModel)]="plan.demo"></th>
                <td class="yen1"><input type="text" placeholder="面積"class="par" [(ngModel)]="plan.demo">&nbsp;㎡</td>
                <td class="yen2"><input type="text" placeholder="敷金"class="par" [(ngModel)]="plan.demo">&nbsp;ヵ月</td>
                <td class="yen3"><input type="text" placeholder="賃料単価"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen3"><input type="text" placeholder="敷金"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                <td class="yen3"><input type="text" placeholder="賃料"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
            </tr>
            <tr>
                <th class="main"><input type="text" placeholder="フロア"class="par"  [(ngModel)]="plan.demo"></th>
                <td class="yen1"><input type="text" placeholder="面積"class="par" [(ngModel)]="plan.demo">&nbsp;㎡</td>
                <td class="yen2"><input type="text" placeholder="敷金"class="par" [(ngModel)]="plan.demo">&nbsp;ヵ月</td>
                <td class="yen3"><input type="text" placeholder="賃料単価"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen3"><input type="text" placeholder="敷金"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                <td class="yen3"><input type="text" placeholder="賃料"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
            </tr>
            <tr>
                <th class="main"><input type="text" placeholder="フロア"class="par"  [(ngModel)]="plan.demo"></th>
                <td class="yen1"><input type="text" placeholder="面積"class="par" [(ngModel)]="plan.demo">&nbsp;㎡</td>
                <td class="yen2"><input type="text" placeholder="敷金"class="par" [(ngModel)]="plan.demo">&nbsp;ヵ月</td>
                <td class="yen3"><input type="text" placeholder="賃料単価"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen3"><input type="text" placeholder="敷金"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                <td class="yen3"><input type="text" placeholder="賃料"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
            </tr>
            
            <td><span class="head_rent">駐車場</span></td>
            <tr>
                <th class="main"><input type="text" placeholder="フロア"class="par"  [(ngModel)]="plan.demo"></th>
                <td class="yen1"><input type="text" placeholder="面積"class="par" [(ngModel)]="plan.demo">&nbsp;㎡</td>
                <td class="yen2"><input type="text" placeholder="敷金"class="par" [(ngModel)]="plan.demo">&nbsp;ヵ月</td>
                <td class="yen3"><input type="text" placeholder="賃料単価"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen3"><input type="text" placeholder="敷金"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                <td class="yen3"><input type="text" placeholder="賃料"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
            </tr>
            <span class = "SUM">
            <tr>
                <th class="main">合計</th>
                <td class="yen1"><input type="text" placeholder="面積"class="par" [(ngModel)]="plan.demo" [attr.disabled]="true">&nbsp;㎡</td>
                <td class="yen2">&nbsp;</td>
                <td class="yen3"><input type="text" placeholder="賃料単価"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen3"><input type="text" placeholder="敷金"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                <td class="yen3"><input type="text" placeholder="賃料"class="Twidth100"  [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
            </tr>
            </span>
            <span class = "profitSUM">
                <tr>
                    <th class="main">年間賃料</th>
                    <td class="yen">&nbsp;</td>
                    <td class="yen">&nbsp;</td>
                    <td class="yen">&nbsp;</td>
                    <td class="yen"><input type="text" class="Twidth100" [attr.disabled]="true" [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                    
                </tr>
            </span>
            <span class = "etcSUM">
                <tr>
                    <th class="main">共益費(月間)</th>
                    <td class="yento"><input type="text" class="par" [(ngModel)]="plan.demo">&nbsp;戸</td>
                    <td class="yen"><input type="text" placeholder="賃料単価" class="Twidth100" [(ngModel)]="plan.demo"></td>
                    <td class="yen">&nbsp;</td>
                    <td class="yen"><input type="text" class="Twidth100" [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                    
                </tr>
            </span>
            <span class = "etcSUM">
                <tr>
                    <th class="main">共益費(年間)</th>
                    <td class="yento"><input type="text" class="par" [(ngModel)]="plan.demo">&nbsp;戸</td>
                    <td class="yen">&nbsp;</td>
                    <td class="yen">&nbsp;</td>
                    <td class="yen"><input type="text" class="Twidth100" [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                    
                </tr>
            </span>
            <span class = "profitSUM">
                <tr>
                    <th class="main">賃料・共益費</th>
                    <td class="yen">&nbsp;</td>
                    <td class="yen">&nbsp;</td>
                    <td class="yen">&nbsp;</td>
                    <td class="yen"><input type="text" class="Twidth100" [attr.disabled]="true" [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                    
                </tr>
            </span>
            <span class = "etcSUM">
                <tr>
                    <th class="main">消費税等</th>
                    <td class="yen">&nbsp;</td>
                    <td class="yen">&nbsp;</td>
                    <td class="yen">&nbsp;</td>
                    <td class="yen"><input type="text" class="Twidth100" [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                    
                </tr>
            </span>
            <span class = "finSUM">
                <tr>
                    <th class="main">年間(税込み)</th>
                    <td class="yen">&nbsp;</td>
                    <td class="yen">&nbsp;</td>
                    <td class="yen">&nbsp;</td>
                    <td class="yen"><input type="text" class="Twidth100" [attr.disabled]="true" [(ngModel)]="plan.demo" [attr.disabled]="true"></td>
                    
                </tr>
            </span>
            
            
            <!--<span class = "SUM">
                <tr>
                    <th class="main">合計</th>
                    <td class="yen"><input type="text" placeholder="面積"class="par" [(ngModel)]="plan.demo">&nbsp;台</td>
                <td class="yen"><input type="text" placeholder="敷金"class="par" [(ngModel)]="plan.demo">&nbsp;ヵ月</td>
                <td class="yen"><input type="text" placeholder="賃料単価"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen"><input type="text" placeholder="敷金"class="Twidth100"  [(ngModel)]="plan.demo"></td>
                <td class="yen"><input type="text" placeholder="賃料"class="Twidth100"  [(ngModel)]="plan.demo"></td>            
                </tr>
                
            </span>--> 
            
    
        </table>
        
    </table>
    <div class="register-div-bottom">
        <button mat-raised-button class="button" (click)="backToList()">一覧へ</button>
        <button mat-raised-button color="primary" class="button" (click)="save()">登録</button>
    </div>
       
    
    </div>
        
