.contracted {
    margin-left: 30px;
    color: red;
    background-color: beige;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 3px;
}

.addSharer {
    background-color: rgb(238, 187, 45);
    color: white;
    height: 35px;   
    margin: 2px 10px; 
}
.deleteSharer {
    background-color: rgb(163, 158, 142);
    color: black;
    height: 35px;    
    margin: 2px 10px;
}

mat-select {
    border: 1px solid #6495ED;
    height: 22px;
    border-radius: 3px;
}
