<ngx-spinner type="ball-spin-clockwise" bdOpacity="0.7"></ngx-spinner>
<div class="dialog-div">  
    <ul *ngIf="errorMsgs.length > 0" class="error-span">
        <li *ngFor="let msg of errorMsgs">{{msg}}</li>
    </ul>
    <table class="detail-tbl-min">
        <tr> 
            <td colspan="4">
                <span class="min">
                    <label>謄本情報　登録</label>
                    <!--<label class="contracted" *ngIf="data.isContracted">契約済み</label>-->
                </span>
            </td>
            <!-- 20200913 S_Add -->
            <th>謄本取得日</th>
            <td>
                <input type="text" [matDatepicker]="acquisitionDate" class="width100" [(ngModel)]="data.acquisitionDateMap">
                <mat-datepicker-toggle matSuffix [for]="acquisitionDate" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #acquisitionDate></mat-datepicker>
            </td>
            <!-- 20200913 E_Add -->
        </tr>
        <tr>
            <th><app-select-component  [codes]="getCode('007')" [(ngModel)]="data.locationType" [isError]="errors['locationType']" [noBlank]="true" (changed)="changeType($event)"></app-select-component></th>
            <td>
                <!--<mat-checkbox *ngFor="let code of getCode('016')" [checked]="inList(data.notyetType, code.codeDetail)"  (change)="changeCheck(data.notyetType, code.codeDetail ,$event)">{{code.name}}&nbsp;</mat-checkbox>-->
                <mat-checkbox [checked]="data.inheritanceNotyet === '1'"  (change)="notChange($event, data)" ></mat-checkbox>&nbsp;相続未登記あり&nbsp;
                <mat-checkbox [checked]="data.buildingNotyet === '1'"  (change)="yetChange($event, data)" ></mat-checkbox>&nbsp;建物未登記あり
            </td>
            
            <th>一棟の建物</th>
            <td colspan="3">
            <!--<mat-select multiple [(ngModel)]="data.oneBuilding" [disabled]="data.locationType == '01' || data.locationType == '02' || data.locationType == '03'" [ngClass]="{'width300': true, 'disabled': (data.locationType == '01' ||data.locationType == '02' || data.locationType == '03')}">
                <mat-option *ngFor="let code of sysCodes['003']" [value]="code.codeDetail">{{code.name}}</mat-option>
            </mat-select>-->
            <!-- 20200831 S_Update -->
            <!--<app-select-component [codes]="getLocAdress()" style="width: 300px;" [(ngModel)]="data.ridgePid" [isDisabled]="data.locationType == '01' || data.locationType == '02' || data.locationType == '03'" [ngClass]="{'width300': true, 'select-disabled': (data.locationType == '01' ||data.locationType == '02' || data.locationType == '03')}" [exclass] = "true"></app-select-component>-->
            <app-select-component [codes]="getLocAdress()" style="width: 300px;" [(ngModel)]="data.ridgePid" [cusClass]="'width300 ' + (errors['ridgePid'] ? 'error' : '')" [isDisabled]="data.locationType == '01' || data.locationType == '02' || data.locationType == '03'" [ngClass]="{'width300': true, 'select-disabled': (data.locationType == '01' ||data.locationType == '02' || data.locationType == '03')}" [exclass] = "true"></app-select-component>
            <!-- 20200831 E_Update -->
            </td>
        </tr>
        <tr> 
            <th>所在地</th>
            <td><input type="text" [(ngModel)]="data.address" [ngClass]="{'width250': true, 'error': errors['address']}" maxlength="100"></td>
            <th>地番</th>
            <td><input type="text" [(ngModel)]="data.blockNumber" [disabled]="data.locationType == '02'" class="width100" maxlength="15"></td>
            <th>家屋番号</th>
            <td><input type="text" [(ngModel)]="data.buildingNumber" [disabled]="data.locationType == '01'" class="width100" maxlength="30"></td>
        </tr>
        <tr>
            <th class="sharer">所有者名
                <button mat-raised-button class="addSharer" (click)="addSharer()" [disabled]="data.locationType == '03'">追加</button>
            </th>
            <td>&nbsp;<span class= "buysell">売買対象&nbsp;&nbsp;</span><mat-checkbox [checked]="data.buysellFlg === '1'" (change)="flgChange($event, data)" [disabled]="data.locationType == '03'"></mat-checkbox>
            <!--20200116_S_Add-->
            <br><input type="text" [(ngModel)]="data.owner" [ngClass]="{'width300': true, 'error': errors['owner']}" [disabled]="data.locationType == '03'" maxlength="100" placeholder="スペースなし"></td>
            <!--20200116_E_Add-->
            <th class="sharer">所有者住所</th>
            <td><input type="text" [(ngModel)]="data.ownerAdress" class = "width300" [disabled]="data.locationType == '03'" maxlength="100"></td>
            <th class="sharer">持ち分</th>
            <td><input type="text" [(ngModel)]="data.equity" class = "width152" [disabled]="data.locationType == '03'" maxlength="100"></td>
        </tr>
        <!--共有者情報-->                
        <tr *ngFor="let sharer of data.sharers | slice:1; index as sharerPos">
            <th class="sharer">所有者名
                <button mat-raised-button class="deleteSharer" (click)="deleteSharer(sharerPos)" [disabled]="data.locationType == '03'">削除</button>
            </th>
            <td>&nbsp;<span class= "buysell">売買対象&nbsp;&nbsp;</span><mat-checkbox [checked]="sharer.buysellFlg == 1"  (change)="flgChange($event, sharer)" [disabled]="data.locationType == '03'"></mat-checkbox>
            <!--20200116_S_Add-->
            <br><input type="text" [(ngModel)]="sharer.sharer" class="width300" [disabled]="data.locationType == '03'" maxlength="100"></td>
            <!--20200116_E_Add-->
            <th class="sharer">所有者住所</th>
            <td><input type="text" [(ngModel)]="sharer.sharerAdress" class = "width300" [disabled]="data.locationType == '03'" maxlength="100"></td>
            <th class="sharer">持ち分</th>
            <td><input type="text" [(ngModel)]="sharer.shareRatio" class = "width152" [disabled]="data.locationType == '03'" maxlength="100"></td>
        </tr>
        <!--/共有者情報-->

        <tr>
            <th>地積</th>
            <td><input type="text" [(ngModel)]="data.areaMap" [ngClass]="{'width80': true, 'number': true, 'error': errors['area']}" (keypress)="floatOnly($event)" [disabled]="data.locationType == '02'" maxlength="12" [value]="changeValue(data.areaMap)">&nbsp;㎡
            <input type="text" [(ngModel)]="data.tsubo" class="width80 number" (keypress)="floatOnly($event)" [attr.disabled]="true" maxlength="15" [value]="calTsubo(data.areaMap)">&nbsp;坪</td>
            <th>権利形態</th>
            <td><app-select-component [codes]="getCode('011')" [(ngModel)]="data.rightsForm"></app-select-component></td>
            <th>地目</th>
            <td>
                <!-- 20200913 S_Update -->
                <!--
                <app-select-component [codes]="getCode('002')" [(ngModel)]="data.landCategory"></app-select-component>
                -->
                <app-select-component [codes]="getCode('002')" [(ngModel)]="data.landCategory" [isDisabled]="data.locationType == '02'" [ngClass]="{'width300': true, 'select-disabled': (data.locationType == '02')}"></app-select-component>
                <!-- 20200913 E_Update -->
            </td>
        </tr>
        <tr>
            <th>種類</th>
            <td>
            <mat-select multiple [(ngModel)]="data.dependTypeMap" [disabled]="data.locationType == '01'"  [ngClass]="{'width300': true, 'disabled': data.locationType == '01'}">
                <mat-option *ngFor="let code of sysCodes['003']" [value]="code.codeDetail">{{code.name}}</mat-option>
            </mat-select>
            </td>
            <th>階建</th>
            <td colspan="3">
                <input type="text" class="width100" [(ngModel)]="data.dependFloor" [disabled]="data.locationType == '01'" maxlength="2">&nbsp;階建
            </td>
        </tr>
        <tr>
            <th>構造</th>
            <td><textarea [(ngModel)]="data.structure"  class="area" [disabled]="data.locationType == '01'" maxlength="128"></textarea></td>
    
            <th>床面積</th>
            <td colspan="3"><textarea [(ngModel)]="data.floorSpace"  class="area" [ngClass]="{'error': errors['floorSpace']}" [disabled]="data.locationType == '01'" maxlength="128"></textarea></td>
        </tr>
        <tr>
            <th>入居者情報</th>
            <td colspan="5">
                <input type="text" [(ngModel)]="data.liveInfo" class="width85Per" [disabled]="data.locationType == '01'" maxlength="255">
            </td>
        </tr>
        
        <tr>
            <th>備考</th>
            <td colspan="5">
                <input type="text" [(ngModel)]="data.ownerRemark" class="width85Per" maxlength="255">
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <mat-dialog-actions align="center">
                    <button mat-raised-button class="attach-btn" *ngIf="data.pid > 0" (click)="deleteLoc()">削除</button>             
                    <button mat-raised-button class="width100" (click)="cancel()">キャンセル</button>
                    <button mat-raised-button class="width80" color="primary" (click)="save()">登録</button>
                </mat-dialog-actions>
            </td>
        </tr>
    </table>
</div>