.contracted {
    margin-left: 30px;
    color: red;
    background-color: beige;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 3px;
}

.addSharer {
    background-color: rgb(238, 187, 45);
    color: white;
    height: 35px;
    margin: 2px 10px; 
}
.deleteSharer {
    background-color: rgb(163, 158, 142);
    color: black;
    height: 35px;
    margin: 2px 10px;
}

mat-select {
    border: 1px solid #6495ED;
    height: 22px;
    border-radius: 3px;
}

.area{
    width: 300px;
    height: 70px;
    font-family: Roboto;
}
.attach-btn{
    background-color: red;
    margin-left: 20px;
    color: white;
    height: 34px;
    width: 80px;
    font-size: 1.0em;
}
.buysell{
    font-size: 0.6em;
}

/* 20211107 S_Add */
.calendar-cell {
    position: relative;
}
/* 20211107 E_Add */
/* 20220614 S_Add */
.detail-tbl-min > tr > td > label.sharer {
    background-color: rgba(226, 239, 218, 1);
    font-size: 0.8em;
    text-align: left;
    padding: 14px;
    padding-left: 2px;
    padding-right: 26px;
    font-weight: bold;
}
/* 20220614 E_Add */
