<div class="dialog-div">
    <ul *ngIf="errorMsgs.length > 0" class="error-span" style="margin-top: -5px;">
        <li *ngFor="let msg of errorMsgs">{{msg}}</li>
    </ul>
    <table class="detail-tbl">
        <tr>
            <th style="width: 100px !important;">プラン種別</th>
            <!--
            <td><input type="text" [(ngModel)]="data.planStatus" [ngClass]="{'width150': true}" disabled="true"></td> [ngModel]="plan.planStatus"-->
            
            <td><app-select-component [codes]="getCode('016')" [(ngModel)]="data.planStatus" [isDisabled]="data.planHistoryName == null||data.planHistoryName !== null"></app-select-component></td>
            <th style="width: 100px !important;">履歴作成日</th>
            <td>
                <input type="text" [matDatepicker]="createHistoryDay" class="width100" [(ngModel)]="data.createHistoryDayMap">
                <mat-datepicker-toggle matSuffix [for]="createHistoryDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #createHistoryDay></mat-datepicker>
            </td>
        </tr>
        <tr>
            <th style="width: 100px !important;">プラン履歴名</th>
            <td><input type="text" [(ngModel)]="data.planHistoryName" [ngClass]="{'width200': true, 'error': errors['planHistoryName']}" maxlength="100"></td>
        </tr>
       
    </table>
    <mat-dialog-actions align="end">
        <button mat-raised-button class="width80" (click)="cancel()">閉じる</button>
        <button mat-raised-button class="width80" color="primary" (click)="save()">OK</button>
    </mat-dialog-actions>
</div>
