.detail-div{
    margin:0px;
    background-color:white;   
    display: flex;
    flex-direction: column;
}

input[type="text"], select, mat-select{
    min-width: 100px;
    height: 21px;
    border: solid 1px cornflowerblue;
    border-radius: 2px;
    margin-left: 3px;
}

select, mat-select{
    height: 25px;
}
mat-form-field{
    height: 23px;
    border: solid 1px cornflowerblue !important;
    border-radius: 2px !important;
    margin-left: 3px !important;
}
mat-form-field > input {       
    margin-top: -20px !important;
}
.button-div
{
    position: relative;
    right: 20px;
    margin-bottom:5px;
}
.button-div > button {
    background-color: rgb(238, 187, 45);
    color: white;
    position: absolute;
    right: 0px;
    top:10px;
    width: 110px;
}
.iconbtn{
    margin-left: 30px;
    background-color: black;
    color: white;
    width: 60px;
}

.iconDelete{
    background-color: black;
    color: floralwhite;
    margin-left:10px;
}

.block-title-status{
    font-size: 0.9em;
    border-left:solid 5px  rgb(175, 173, 173);
    color:black;
    width: 142px !important;
    padding: 2px 0px 2px 10px;
    height: 30px;
    margin: 0px 0px 3px 0px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    
}
.block-title-etc{
    font-size: 0.9em;
    border-left:solid 5px  rgb(175, 173, 173);
    color:black;
    width: 142px !important;
    padding: 2px 0px 2px 10px;
    height: 30px;
    margin: 0px 0px 3px 0px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    
}
.block-status{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 20px 10px ;
    background-color: white;
    padding-top:10px;
}

.button-div button,
.button-div-row a {
  margin: 10px 10px 10px 0px;
}

.removeLocation{
    background-color: rgb(91, 91, 95);
    color: whitesmoke;
    height: 34px;
    width: 80px;
    font-size: 0.8em;
    position : absolute;
    right: 20px;
    top: 5px;
}
.button-div > .addLocation {
    right: 140px;
}
.button-div > .contractButton{
    display: block;
    color: rgb(255, 255, 255);
    background-color:rgb(139, 111, 49);
    text-align: center;
}

.attach-btn{
    background-color: red;
    margin-left: 20px;
    color: white;
    height: 34px;
    width: 80px;
    font-size: 0.8em;
}

/*---------契約-------------*/
.contact-div {
    width: 86%;
    height: 100%;
    overflow-x: auto;
    margin-left: 12px;
}
.contracted {
    margin-left: 30px;
    color: red;
    background-color: beige;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 3px;
}

.contact-div > table{
    border-spacing: 0px;
    border-collapse: collapse;
    width:100%;
}
.list-header {
    background-color: cadetblue;
}
.list-header > th {
    height: 40px;
    min-width: 120px;    
    font-size: 12px;
    font-weight: 500;
    color:white;
    border: solid 1px gainsboro;    
}

.list-body > tr {
    height: 34px;
}

.list-body > tr > td {
    text-align: center;
    font-size: 12px;
    border: solid 1px gainsboro;    
}