<div class="detail-div">
        <div class="register-div">
            <button mat-raised-button class="button" (click)="backToList()">一覧へ</button>
            <button mat-raised-button color="primary" class="button" (click)="save()">登録</button>
        </div>
        <ul *ngIf="errorMsgs.length > 0" class="error-span">
            <li *ngFor="let msg of errorMsgs">{{msg}}</li>
        </ul>
        <table class="detail-tbl"  style="margin:10px;width:99%">  
            <tr>
                <th>物件番号</th>
                <td>
                    <input type="text" [(ngModel)]="data.bukkenNo" [attr.disabled]="data.pid < 0">
                </td>
            </tr>
            <tr>
                <th>物件名</th>
                <td>
                    <input type="text" [(ngModel)]="data.bukkenName" [ngClass]="{'width400': true, 'error': errors['bukkenName']}" >
                </td>
            </tr>
        </table>
    <table class ="block-status">
        <br>
        <span class="block-title-status">情報ステータス</span>
        <table class="detail-tbl-status">  
            <tr>
                <th>物件担当部署</th>
                <td>
                    <app-select-component [codes]="getDeps()" [(ngModel)]="data.department"></app-select-component>
                </td>
                <th>物件担当者</th>
                <td>
                    <mat-select multiple class="width300" [(ngModel)]="data.infoStaffMap">
                        <mat-option *ngFor="let emp of emps" [value]="emp.employeeCode">{{emp.employeeName}}</mat-option>
                    </mat-select>
                </td>
                <th>情報提供者</th>
                <td> 
                    <mat-select multiple class="width300" [(ngModel)]="data.infoOfferMap">
                        <mat-option *ngFor="let emp of emps" [value]="emp.employeeCode">{{emp.employeeName}}</mat-option>
                    </mat-select>
                </td>
            </tr>
            <tr>
                <th>情報収集日</th>
                <td>
                    <div class="picker-div">
                        <input type="text" [matDatepicker]="pickDate" [(ngModel)]="data.pickDateMap"  class="width150">
                        <mat-datepicker-toggle matSuffix [for]="pickDate" class="picker-icon"></mat-datepicker-toggle>
                        <mat-datepicker #pickDate></mat-datepicker>
                    </div>
                </td>
                <th>着手日</th>
                <td>
                    <div class="picker-div">
                        <input type="text" [matDatepicker]="startDate" [(ngModel)]="data.startDateMap" class="width150">
                        <mat-datepicker-toggle matSuffix [for]="startDate" class="picker-icon"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                    </div>
                </td>      
                <th>終了日</th>
                <td>
                    <div class="picker-div">
                        <input type="text" [matDatepicker]="finishDate" [(ngModel)]="data.finishDateMap" class="width150">
                        <mat-datepicker-toggle matSuffix [for]="finishDate" class="picker-icon"></mat-datepicker-toggle>
                        <mat-datepicker #finishDate></mat-datepicker>
                    </div>
                </td>
                <th>結果</th>
                <td>
                    <app-select-component [codes]="getCode('001')" [(ngModel)]="data.result"></app-select-component>
                </td>      
            </tr>
            <tr>
                <th>備考1</th>
                <td colspan="9">
                    <input type="text" [(ngModel)]="data.remark1" class="width85Per">
                </td>      
            </tr>
            <tr>
                <th>備考2</th>
                <td colspan="9">
                    <input type="text" [(ngModel)]="data.remark2" class="width85Per">
                </td>      
            </tr>
        </table>
        <br>
        <span class="block-title-etc">物件概要</span>
        <table class="detail-tbl-etc">  
            <tr>
                <th>不可分</th>
                <td>
                    <app-select-component [codes]="getCode('006')" [(ngModel)]="data.indivisibleFlg"></app-select-component>
                </td>
                <th>不可分子</th>
                <td><input type="text" [(ngModel)]="data.indivisibleNumerator" class="width150"></td>
                <th>不可分母</th>
                <td><input type="text" [(ngModel)]="data.indivisibleDenominator" class="width150"></td>
            </tr>
            <!--11/26修正-->
            <tr>
                    <th>地目</th>
                    <td>
                        <app-select-component [codes]="getCode('002')" [(ngModel)]="data.landCategory"></app-select-component>
                    </td>
                    <th>容積率</th>
                    <td><input type="text" [(ngModel)]="data.floorAreaRatio" class="width80 number" (keypress)="floatOnly($event)">&nbsp;%</td>
                    <th>建蔽率</th>
                    <td><input type="text" [(ngModel)]="data.coverageRate" class="width80 number" (keypress)="floatOnly($event)">&nbsp;%</td>
            </tr>
            <!--11/26修正-->
    
            <tr>
                <th>地図添付</th>
                <td colspan="5">
                    <label *ngIf="!(data.pid > 0)" style="color:red">※土地情報登録してからファイルアップロードできます</label>
                    <app-file bukkenId="{{data.pid}}" *ngIf="data.pid > 0" (uploaded)="mapUploaded($event)"></app-file>                                        
               
                    <div *ngFor="let map of data.mapFiles" class="attach-div">                                        
                        <a [attr.href]="map.mapFilePath + map.mapFileName" target="_blank">{{map.mapFileName}}</a>
                        <button mat-flat-button class="attach-btn" (click)="deleteMapFile(map)">削除</button>                        
                    </div>
                    
                </td> 
            </tr> 
            <tr>
                <th>ファイル添付</th>
                <td colspan="5">
                    <label *ngIf="!(data.pid > 0)" style="color:red">※土地情報登録してからファイルアップロードできます</label>

                    <app-file bukkenId="{{data.pid}}" hasComment="true" *ngIf="data.pid > 0" (uploaded)="mapUploaded($event)"></app-file>                         
                    <div *ngFor="let map of data.attachFiles" class="attach-div">                                        
                        <a [attr.href]="map.attachFilePath + map.attachFileName" target="_blank">{{map.attachFileName}}</a>
                        <input type="text" class="width400" [(ngModel)]="map.attachFileRemark" style ="margin-left:20px;">
                        <button mat-flat-button class="attach-btn" (click)="deleteAttachFile(map)">削除</button>                        
                    </div>
                    
                </td>
            </tr> 

        </table>		    
    </table>
<!--11/26修正-->
        <div class="button-div">
            <button mat-raised-button  class="addLocation"  (click)="addLocation()" >所有地追加</button>
        </div>        
  
       
        <!--Tab group-->
       
                <!--block-->
                <span class="min">所在地</span>
                <div *ngFor="let location of data.locations; index as pos">                                        
                <table class="detail-tbl-min">  
                
                <tr>
                    <th>
                        <app-select-component [codes]="getCode('004')" [(ngModel)]="location.structure"></app-select-component>
                    </th>
                    <td>
                        <button mat-stroked-button style="float: right;margin:5px;" (click)="navigateContract(location)" class="contractButton">
                                    <!--削除項目-->
                                    <!--<mat-icon *ngIf="!location.hasContract">arrow_drop_down</mat-icon>
                                    <mat-icon *ngIf="location.hasContract">arrow_drop_up</mat-icon>-->
                            契約書情報
                        </button>
                    </td>
                </tr>
                <tr>
                        <th>所在地</th>
                        <td colspan = "3">
                            <input type="text" [(ngModel)]="location.address" class="width400">
                        </td>
            
                        <th>地番</th>
                        <td><input type="text" [(ngModel)]="location.blockNumber"></td>

                        <th>家屋番号</th>
                        <td><input type="text" [(ngModel)]="location.buildingNumber"></td>
                </tr>
                <tr>
                    <th>所有者名</th>
                    <td colspan = "3"><input type="text" [(ngModel)]="location.owner" class = "width300"></td>

                    <th>所有者住所</th>
                    <td colspan = "3"><input type="text" [(ngModel)]="location.ownerAdress" class = "width400"></td>
                </tr>

                <tr>
                        <th>地積</th>
                        <td><input type="text" [(ngModel)]="location.area" class="width80 number" (keypress)="floatOnly($event)">&nbsp;㎡</td>
                        <th>坪数</th>
                        <td><input type="text" [(ngModel)]="location.tsubo" class="width80 number" (keypress)="floatOnly($event)">&nbsp;坪</td>
                        <th>床面積</th>
                        <td><input type="text" [(ngModel)]="location.floorSpace" class="width80 number" (keypress)="floatOnly($event)">&nbsp;㎡</td>
                        <th>構造</th>
                        <td>
                            <app-select-component [codes]="getCode('004')" [(ngModel)]="location.structure"></app-select-component>
                        </td>
                        <th>権利形態</th>
                        <td><app-select-component [codes]="getCode('004')" [(ngModel)]="location.structure"></app-select-component></td>
                </tr>
                <tr>
                    <th>入居者情報</th>
                    <td colspan="13">
                        <input type="text" [(ngModel)]="data.remark1" class="width85Per">
                    </td>
                </tr>
                <tr>
                    <th>備考</th>
                    <td colspan="13">
                        <input type="text" [(ngModel)]="data.remark1" class="width85Per">
                    </td>
                </tr>
                <table>
                    <button mat-raised-button color="blue" *ngIf="data.locations.length > 1" (click)="removeLocation(pos)"  class="buttonDelete">削除</button>
                </table>
                </table>
                </div>
            
    <!--11/26修正-->

        <div class="register-div">
            <button mat-raised-button class="button" (click)="backToList()">一覧へ</button>
            <button mat-raised-button color="primary" class="button" (click)="save()">登録</button>
        </div>

</div>