<div class="detail-div">
        <div class="register-div">
            <button mat-raised-button class="button" (click)="backToList()">一覧へ</button>
            <button mat-raised-button color="primary" class="button" (click)="save()">登録</button>
        </div>
        <ul *ngIf="errorMsgs.length > 0" class="error-span">
            <li *ngFor="let msg of errorMsgs">{{msg}}</li>
        </ul>
        <table class="detail-tbl"  style="margin:10px;width:99%">  
            <tr>
                <th>物件番号</th>
                <td>
                    <input type="text" [(ngModel)]="data.bukkenNo" [attr.disabled]="data.pid < 0">
                </td>
            </tr>
            <tr>
                <th>物件名</th>
                <td>
                    <input type="text" [(ngModel)]="data.bukkenName" [ngClass]="{'width400': true, 'error': errors['bukkenName']}" >
                </td>
            </tr>
        </table>
    <table class ="block-status">
        <br>
        <span class="block-title-status">情報ステータス</span>
        <table class="detail-tbl-status">  
            <tr>
                <th>物件担当部署</th>
                <td>
                    <app-select-component [codes]="getDeps()" [(ngModel)]="data.department"></app-select-component>
                </td>
                <th>物件担当者</th>
                <td>
                    <mat-select multiple class="width300" [(ngModel)]="data.infoStaffMap">
                        <mat-option *ngFor="let emp of emps" [value]="emp.employeeCode">{{emp.employeeName}}</mat-option>
                    </mat-select>
                </td>
            </tr>
            <tr>
                <th>情報収集日</th>
                <td>
                    <div class="picker-div">
                        <input type="text" [matDatepicker]="pickDate" [(ngModel)]="data.pickDateMap"  class="width100">
                        <mat-datepicker-toggle matSuffix [for]="pickDate" class="picker-icon"></mat-datepicker-toggle>
                        <mat-datepicker #pickDate></mat-datepicker>
                    </div>
                </td>
                <th>情報提供者</th>
                <td> 
                    <mat-select multiple class="width300" [(ngModel)]="data.infoOfferMap">
                        <mat-option *ngFor="let emp of emps" [value]="emp.employeeCode">{{emp.employeeName}}</mat-option>
                    </mat-select>
                </td>
            <tr>
                <th>着手日</th>
                <td>
                    <div class="picker-div">
                        <input type="text" [matDatepicker]="startDate" [(ngModel)]="data.startDateMap" class="width100">
                        <mat-datepicker-toggle matSuffix [for]="startDate" class="picker-icon"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                    </div>
                </td>      
                <th>終了日</th>
                <td>
                    <div class="picker-div">
                        <input type="text" [matDatepicker]="finishDate" [(ngModel)]="data.finishDateMap" class="width100">
                        <mat-datepicker-toggle matSuffix [for]="finishDate" class="picker-icon"></mat-datepicker-toggle>
                        <mat-datepicker #finishDate></mat-datepicker>
                    </div>
                </td>
                <th>結果</th>
                <td>
                    <app-select-component [codes]="getCode('001')" [(ngModel)]="data.result"></app-select-component>
                </td>      
            </tr>
            <tr>
                <th>備考1</th>
                <td colspan="5">
                    <input type="text" [(ngModel)]="data.remark1" class="width85Per">
                </td>      
            </tr>
            <tr>
                <th>備考2</th>
                <td colspan="5">
                    <input type="text" [(ngModel)]="data.remark2" class="width85Per">
                </td>      
            </tr>
        </table>
        <br>
        <span class="block-title-etc">物件概要</span>
        <table class="detail-tbl-etc">  
            <tr>
                <th>不可分</th>
                <td>
                    <app-select-component [codes]="getCode('006')" [(ngModel)]="data.indivisibleFlg"></app-select-component>
                </td>
                <th>不可分子</th>
                <td><input type="text" [(ngModel)]="data.indivisibleNumerator" class="width150"></td>
                <th>不可分母</th>
                <td><input type="text" [(ngModel)]="data.indivisibleDenominator" class="width150"></td>
            </tr>
            <!--11/26修正-->
            <tr>
                <th>地目</th>
                <td>
                    <app-select-component [codes]="getCode('002')" [(ngModel)]="data.landCategory"></app-select-component>
                </td>
                <th>容積率</th>
                <td><input type="text" [(ngModel)]="data.floorAreaRatio" [ngClass]="{'width80': true, 'number': true, 'error': errors['floorAreaRatio']}" maxlength="5" (keypress)="floatOnly($event)">&nbsp;%</td>
                <th>建蔽率</th>
                <td><input type="text" [(ngModel)]="data.coverageRate"  [ngClass]="{'width80': true, 'number': true, 'error': errors['coverageRate']}" maxlength="5" (keypress)="floatOnly($event)">&nbsp;%</td>
            </tr>
            <!--11/26修正-->
    
            <tr>
                <th>地図添付</th>
                <td colspan="5" style = "border-top: solid 1px rgba(197, 191, 191, 0.822);">
                    <label *ngIf="!(data.pid > 0)" style="color:red">※土地情報登録してからファイルアップロードできます</label>
                    <app-file bukkenId="{{data.pid}}" *ngIf="data.pid > 0" (uploaded)="mapUploaded($event)"></app-file>                                        
               
                    <table style="margin-left: 5px;">
                        <tr *ngFor="let map of data.mapFiles">
                            <td class="min-width160"><a [attr.href]="map.mapFilePath + map.mapFileName" target="_blank">{{map.mapFileName}}</a></td>
                            <td><button mat-flat-button class="attach-btn" (click)="deleteMapFile(map)">削除</button></td>
                        </tr>
                    </table>
                    
                    
                </td> 
            </tr> 
            <tr>
                <th>ファイル添付</th>
                <td colspan="5" style = "border-top: solid 1px rgba(197, 191, 191, 0.822); border-bottom: solid 1px rgba(197, 191, 191, 0.822);">
                    <label *ngIf="!(data.pid > 0)" style="color:red">※土地情報登録してからファイルアップロードできます</label>
                    <app-file bukkenId="{{data.pid}}" hasComment="true" *ngIf="data.pid > 0" (uploaded)="mapUploaded($event)"></app-file>  

                    <table style="margin-left: 5px;">
                        <tr *ngFor="let map of data.attachFiles">
                            <td class="min-width160"><a [attr.href]="map.attachFilePath + map.attachFileName" target="_blank">{{map.attachFileName}}</a></td>
                            <td><input type="text" class="width400" [(ngModel)]="map.attachFileRemark" style ="margin-left:20px;"></td>
                            <td><button mat-flat-button class="attach-btn" (click)="deleteAttachFile(map)">削除</button></td>
                        </tr>
                    </table>
                    
                </td>
            </tr> 

        </table>		    
    </table>
<!--11/26修正-->
        <div class="button-div">
            <button mat-raised-button class="addLocation" (click)="addLocation()" >所有地追加</button>
            <button mat-stroked-button class="contractButton" (click)="navigateContract(location)">契約書情報</button>
        </div>
        <div class="button-div"> 
            <button mat-stroked-button style="float: right;margin:5px;" (click)="navigateContract(location)" class="contractButton">契約書情報</button>    
        </div>             
        <!--Tab group-->
        <!--block-->
                
        <div *ngFor="let location of data.locations; index as pos">                 
            <table class="detail-tbl-min">
                <tr>
                    <td colspan="6">
                        <span class="min">
                            <label>所在地</label>
                            <button mat-mini-fab color="blue" *ngIf="data.locations.length > 1" (click)="removeLocation(pos)" class="iconDelete">
                                <mat-icon>close</mat-icon>
                            </button>
                        </span>                        
                    </td>
                </tr>
                <tr>
                    <th><app-select-component [exclass]="true" [codes]="getCode('007')" [(ngModel)]="location.locationType" [isError]="errors['locationType' + pos]" (changed)="changeType(location)"></app-select-component></th>
                    <td colspan="5"><input type="text" class="width150" [attr.disabled]="data.pid < 0"></td>
                </tr>
                <tr>
                    <th>所在地</th>
                    <td style="width: 450px;"><input type="text" [(ngModel)]="location.address" [ngClass]="{'width400': true, 'error': errors['address' + pos]}"></td>            
                    <th>地番</th>
                    <td><input type="text" [(ngModel)]="location.blockNumber" [disabled]="location.locationType == '02'" class="width100"></td>
                    <th>家屋番号</th>
                    <td><input type="text" [(ngModel)]="location.buildingNumber" [disabled]="location.locationType == '01'" class="width100"></td>                        
                </tr>
                <tr>
                    <th>所有者名</th>
                    <td><input type="text" [(ngModel)]="location.owner" [ngClass]="{'width300': true, 'error': errors['owner' + pos]}"></td>
                    <th>所有者住所</th>
                    <td colspan="3"><input type="text" [(ngModel)]="location.ownerAdress" class = "width400"></td>
                </tr>

                <tr>
                    <th>地積</th>
                    <td><input type="text" [(ngModel)]="location.area" [ngClass]="{'width80': true, 'number': true, 'error': errors['area' + pos]}" (keypress)="floatOnly($event)" (keyup)="changeArea($event, location)" [disabled]="location.locationType == '02'">&nbsp;㎡                    
                    <input type="text" [(ngModel)]="location.tsubo" class="width80 number" (keypress)="floatOnly($event)" [attr.disabled]="true">&nbsp;坪</td>
                    <th>床面積</th>
                    <td colspan="3"><input type="text" [(ngModel)]="location.floorSpace" [ngClass]="{'width80': true, 'number': true, 'error': errors['floorSpace' + pos]}" (keypress)="floatOnly($event)" [disabled]="location.locationType == '01'">&nbsp;㎡</td>
               </tr>
                <tr>
                    <th>構造</th>
                    <td><app-select-component [codes]="getCode('004')" [(ngModel)]="location.structure" [attr.disabled]="location.locationType == '01'"></app-select-component></td>
                    <th>権利形態</th>
                    <td colspan="3"><app-select-component [codes]="getCode('004')" [(ngModel)]="location.rightsForm" [disabled]="location.locationType == '01'"></app-select-component></td>
                </tr>
                <tr>
                    <th>入居者情報</th>
                    <td colspan="5">
                        <input type="text" [(ngModel)]="location.liveInfo" class="width85Per" [disabled]="location.locationType == '01'">
                    </td>
                </tr>
                <tr>
                    <th>備考</th>
                    <td colspan="5">
                        <input type="text" [(ngModel)]="location.ownerRemark" class="width85Per">
                    </td>
                </tr>
                <!--
                <table>
                    <button mat-raised-button color="blue" *ngIf="data.locations.length > 1" (click)="removeLocation(pos)"  class="buttonDelete">削除</button>
                </table>
                -->
            </table>
            
        </div>
            
    <!--11/26修正-->

        <div class="register-div-bottom">
            <button mat-raised-button class="button" (click)="backToList()">一覧へ</button>
            <button mat-raised-button color="primary" class="button" (click)="save()">登録</button>
        </div>

</div>