.detail-div{
    margin:0px;
    background-color:white;   
    display: flex;
    flex-direction: column;
}

.detail-tbl > tr > th{
    width:100px !important;
    background-color: whitesmoke;
    text-align: left;
    height: 22px !important;
    padding: 2px;
    /*padding-left:5px;*/
    font-size: 0.8em;
    border-top: solid 2px white;  
}


input[type="text"], select, mat-select{
    min-width: 100px;
    height: 21px;
    border: solid 1px cornflowerblue;
    border-radius: 2px;
    margin-left: 3px;
}

select, mat-select{
    height: 25px;
}
mat-form-field{
    height: 23px;
    border: solid 1px cornflowerblue !important;
    border-radius: 2px !important;
    margin-left: 3px !important;
}
mat-form-field > input {       
    margin-top: -20px !important;
}
.button-div
{
    position: relative;
    right: 20px;
    margin-bottom:5px;
}
.button-div > button {
    background-color: rgb(238, 187, 45);
    color: white;
    position: absolute;
    right: 0px;
    top:10px;
    width: 110px;
}
.iconbtn{
    margin-left: 30px;
    background-color: black;
    color: white;
    width: 60px;
}

.iconDelete{
    background-color: black;
    color: floralwhite;
    margin-left:10px;
}

.block-title-status{
    font-size: 0.9em;
    border-left:solid 5px  rgb(175, 173, 173);
    color:black;
    width: 142px !important;
    padding: 2px 0px 2px 10px;
    height: 30px;
    margin: 0px 0px 3px 0px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    
}
.block-title-statusNew{
    font-size: 0.9em;
    border-left:solid 5px  rgb(175, 173, 173);
    color:black;
    width: 127px !important;
    padding: 2px 0px 2px 10px;
    height: 30px;
    margin: 0px 0px 3px 0px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    float: left;
    
}
.block-title-etc{
    font-size: 0.9em;
    border-left:solid 5px  rgb(175, 173, 173);
    color:black;
    width: 142px !important;
    padding: 2px 0px 2px 10px;
    height: 30px;
    margin: 0px 0px 3px 0px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    
}
.block-status{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 20px 10px ;
    background-color: white;
    padding-top:10px;
}

.button-div button,
.button-div-row a,
.button-div-left button {
  margin: 10px 10px 10px 0px;
}

.removeLocation{
    background-color: rgb(91, 91, 95);
    color: whitesmoke;
    height: 34px;
    width: 80px;
    font-size: 0.8em;
    position : absolute;
    right: 20px;
    top: 5px;
}
.button-div > .addLocation {
    right: 140px;
}
.button-div > .contractButton{
    display: block;
    color: rgb(255, 255, 255);
    background-color:rgb(139, 111, 49);
    text-align: center;
}
.button-div > .contractButton{
    display: block;
    color: rgb(255, 255, 255);
    background-color:rgb(139, 111, 49);
    text-align: center;
}
.button-div-left {
    display: flex;
    margin-left: 10px;
}
.button-div-left > .addLocation {
    background-color:#FFC000;
    color: white;
}
.button-div-left > .contractButton{
    display: block;
    color: rgb(255, 255, 255);
    background-color:#C55A11;
    text-align: center;
}

.attach-btn{
    background-color: red;
    margin-left: 20px;
    color: white;
    height: 34px;
    width: 80px;
    font-size: 0.8em;
}

/*---------契約-------------*/
.contact-div {
    width: 86%;
    height: 100%;
    overflow-x: auto;
    margin-left: 12px;
}

.contact-div > table{
    border-spacing: 0px;
    border-collapse: collapse;
    width:100%;
}
.list-header {
    background-color: cadetblue;
}
.list-header > th {
    height: 40px;
    min-width: 120px;    
    font-size: 12px;
    font-weight: 500;
    color:white;
    border: solid 1px gainsboro;    
}

.list-body > tr {
    height: 34px;
}

.list-body > tr > td {
    text-align: center;
    font-size: 12px;
    border: solid 1px gainsboro;    
}

.contract-div {
    display: grid;font-size: 14px;padding-top: 2px;
}

.contract-link {
    cursor: pointer;color: #FF0000;margin-bottom: 3px;margin-top: 3px;
}

.export-button {
    background: dimgray;
    color: white;
    width: 180px;
}

/*------------tab-------------*/
.switch-tab {
    display: flex;
    float: right;
    margin-right: 20px;
}

.switch-tab span {
    padding-left:4px;
    padding-right: 4px;
    padding-top: 4px;
    border-left: solid 2px antiquewhite;
    border-right: solid 2px antiquewhite;
    margin-right: 5px;
}

.switch-tab button {
    width: 70px;
    height: 30px;
}

/*-------------------------------tab----------------------------*/
.tab-wrap {
    display: flex;
    flex-wrap: wrap;
    /*margin:20px 0;*/
    width: 300px;
    margin-bottom: unset;
    margin-bottom: -5px;
    margin-left: -2px;
  }
  .tab-wrap:after {
    content: '';
    width: 100%;
    height: 3px;
    /*background: #325A8C;*/
    display: block;
    order: -1;
  }

  .tab_bottom {
      border-bottom: solid 1px lightgray;
  }

  .tab-label {
    color: White;
    background: LightGray;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    padding: 7px .5em;
    order: -1;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    flex: 1;    
  }
  .tab-label:not(:last-of-type) {
    margin-right: 5px;
  }
  .tab-content {
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }
  .tab-switch:checked+.tab-label {
    background: #325A8C;    
    cursor: default;
  }
  .tab-switch:checked+.tab-label+.tab-content {
    height: auto;
    overflow: auto;
    padding: 15px;
    opacity: 1;
    transition: .5s opacity;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
  .tab-switch {
    display: none;
  }

  ::ng-deep.multiselect-dropdown {
    width: 275px !important;
    margin-left: 3px;
  }
  
  ::ng-deep.multiselect-dropdown .dropdown-btn {
    height: 22px !important;
    padding: 5px 12px !important;
    border-color: #6495ED !important;
    border-radius: 3px !important;
    line-height: unset !important;
    font-size: 13px !important;
  }

  ::ng-deep.multiselect-dropdown .dropdown-btn .dropdown-down {
    border-top: 5px solid #adadad !important;
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
}