<div class="dialog-div">  
    <ul *ngIf="errorMsgs.length > 0" class="error-span" style="margin-top: -5px;">
        <li *ngFor="let msg of errorMsgs">{{msg}}</li>
    </ul>         
    <table class="detail-tbl">
        <tr>
            <th>部署コード</th>
            <td><input type="text"  [(ngModel)]="data.depCode" [ngClass]="{'width150': true, 'error': errors['depCode']}" [attr.disabled]="data.createUserId > 0 ? '' : null"  maxlength="20"></td>
        
            <th>部署名</th>
            <td><input type="text"  [(ngModel)]="data.depName" [ngClass]="{'width300': true, 'error': errors['depName']}"  maxlength="20"></td>
        </tr>
        <tr>
            <th>登録日</th>
            <td><input type="text"  [(ngModel)]="data.createDate" class="width150" disabled ="true"></td>
        
            <th>登録ユーザーID</th>
            <td><input type="text"  [(ngModel)]="data.createUserId" class="width150" disabled ="true"></td>
        </tr>
        <tr>
            <th>更新日</th>
            <td><input type="text"  [(ngModel)]="data.updateDate" class="width150" disabled ="true"></td>
        
            <th>更新ユーザーID</th>
            <td><input type="text"  [(ngModel)]="data.updateUserId"  class="width150" disabled ="true"></td>
        </tr>
    </table>
    <mat-dialog-actions align="end">        
        <button mat-raised-button class="width80" (click)="cancel()">閉じる</button>
        <button mat-raised-button class="width80" color="primary" (click)="ok()">OK</button>
    </mat-dialog-actions>
</div>
    