.detail-div {
    margin: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.contact-div {
    width: 89vw;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.contact-div > table{
    border-spacing: 0px;
    border-collapse: collapse;
}
.list-header {
    background-color: cadetblue;
}
.list-header > th {
    height: 40px;
    min-width: 120px;    
    font-size: 12px;
    font-weight: 500;
    color:white;
    border: solid 1px gainsboro;    
}

.list-body > tr {
    height: 34px;
}

.list-body > tr > td {
    text-align: center;
    font-size: 12px;
    border: solid 1px gainsboro;    
}

.bukken-button {
    /*float: left;*/
    background: #00B050;
    color: white;
    width: 120px;
}

.export-button {
    /*float: left;*/
    background: dimgray;
    color: white;
    width: 120px;
}

.attach-btn{
    background-color: red;
    margin-left: 20px;
    color: white;
    height: 34px;
    width: 80px;
    font-size: 0.8em;
}