<ngx-spinner type="ball-spin-clockwise" bdOpacity="0.7"></ngx-spinner>
<div  class="detail-div">
    <div class="register-div">
        <button mat-raised-button class="button" (click)="backToList()">一覧へ</button>
        <button mat-raised-button class="button bukken-button" (click)="toBukken()">物件情報</button>
        <button mat-raised-button class="button export-button" (click)="export()">契約書出力</button>
        <button mat-raised-button color="primary" class="button" (click)="save()">登録</button>
    </div>
    <ul *ngIf="errorMsgs.length > 0" class="error-span">
        <li *ngFor="let msg of errorMsgs">{{msg}}</li>
    </ul>
    <br>
    <!--/土地情報契約-->
    <table class="detail-tbl-min">  
        <tr>
            <td><span class="min">契約区分</span></td>
            
            <td colspan="9">
                <span class="now">契約状況</span>&nbsp;&nbsp;<app-select-component [codes]="getCode('019')"  [(ngModel)]="contract.contractNow"></app-select-component>
            </td>
        </tr>
        <tr>
            <th>物件番号</th>
            <td><input type="text" class="width150" [attr.disabled]="true" [ngModel]="data.bukkenNo" maxlength="10"></td>
            
            <th>契約物件番号</th>
            <td><input type="text" class="width150" [attr.disabled]="true" [ngModel]="data.contractBukkenNo" maxlength="20"></td>

            <th>契約番号</th>
            <td>
                <input type="text" class="width150" [attr.disabled]="true" value="{{data.bukkenNo + '-' + contract.contractNumber}}">
            </td>
            <th>契約書番号</th>
            <td>
                <input type="text" class="width150"  [(ngModel)]="contract.contractFormNumber" maxlength="20">
            </td>
        </tr>
        <tr>
            <th>契約担当者</th>
            <!-- 20200828 S_Update -->
            <!--<td>-->
            <td colspan="2">
            <!-- 20200828 E_Update -->
                <!-- 20200828 S_Delete -->
                <!--
                <app-select-component [codes]="getUsers()" [(ngModel)]="contract.contractStaff"></app-select-component>
                -->
                <!-- 20200828 E_Delete -->
                <!-- 20200828 S_Add -->
                <ng-multiselect-dropdown class="width300"
                    [placeholder]="'選択'"
                    [data]="emps"
                    [(ngModel)]="contract.contractStaffMap"
                    [settings]="dropdownSettings"
                    >
                </ng-multiselect-dropdown>
                <!-- 20200828 E_Add -->
            </td> 
        </tr>        
        <tr>
            <th>即決和解</th>
            <td>
                <app-select-component [codes]="getCode('006')" [(ngModel)]="contract.promptDecideFlg"></app-select-component>
            </td>
            <th>契約種別</th>
            <td>
                <app-select-component [codes]="getCode('012')" [(ngModel)]="contract.contractType"></app-select-component>
            </td>
            <td colspan="4">
                <mat-radio-group [(ngModel)]="contract.promptDecideContent">
                    <mat-radio-button *ngFor="let code of getCode('008')" [value]="code.codeDetail">{{code.name}}&nbsp;&nbsp;</mat-radio-button>  
                  </mat-radio-group>
                <!--<mat-checkbox *ngFor="let code of getCode('008')" [ngModel]="contract.promptDecideContent"  (change)="change($event, item, '01')">{{code.name}}&nbsp;&nbsp;</mat-checkbox>-->
            </td>  
            
        </tr>
        <tr>             
            <th>不可分</th>
            <td><app-select-component [codes]="getCode('006')" [(ngModel)]="contract.indivisibleFlg"></app-select-component></td>
            <th>三為</th>
            <td><app-select-component [codes]="getCode('006')" [(ngModel)]="contract.thirdPartyFlg"></app-select-component></td>
            <th>等価交換</th>
            <td><app-select-component [codes]="getCode('006')" [(ngModel)]="contract.equiExchangeFlg"></app-select-component></td>
            <th>売買</th>
            <td><app-select-component [codes]="getCode('009')" [(ngModel)]="contract.tradingType"></app-select-component></td>
        </tr>       
    </table>
    <!--/土地情報契約-->

    <!--/建物情報契約-->
    <table class="detail-tbl-min">  
        <tr>
            <td><span class="min">売主・不可分選択</span></td>
        </tr>
        <tr>
            <td>
                <div class="contact-div">
                    <table>
                        <thead class="list-header">
                            <th class="c_width40">売主<br>選択</th>
                            <th class="c_width40">不可分<br>選択</th>
                            <th class="c_width40">底地<br>選択</th>
                            <th>区分</th>
                            <th class="c_width80">権利形態</th>
                            <th><span style="display: inline-block;width: 200px;">所在</span></th>
                            <th>地番</th>
                            <th>家屋番号</th>
                            <th>所有者<br>（売主・登記名義人）</th>
                            <th>登記名義人</th>
                            <th style="display: block;border:none" class="width300">所有者住所<br>（売主住所）</th>
                            <!--<th>契約者名</th>-->
                            <th class="c_width80">地目</th>
                            <th>地積</th>
                            <th class="c_width250">地積のうち借地契約面積<br>または地上権持分</th>
                            <th>地積のうち有効面積</th>
                            <th>種類</th>
                            <th>構造</th>
                            <th class="c_width40">階建</th>
                            <th>床面積</th>
                        </thead>
                        <tbody class="list-body">
                            <tr *ngFor="let item of data.locations; index as pos">
                                <td [ngClass]="{'tderror': errors['contractDataType_01_' + pos]}"><mat-checkbox color="primary" [ngModel]="item.contractDetail.contractDataType === '01'" (change)="change($event, item, '01')" *ngIf="hasSharer(item)" ></mat-checkbox></td>
                                <td><mat-checkbox color="primary" [ngModel]="item.contractDetail.contractDataType === '02'" (change)="change($event, item, '02')"></mat-checkbox></td>
                                <td [ngClass]="{'tderror': errors['contractDataType_03_' + pos]}"><mat-checkbox color="primary" [ngModel]="item.contractDetail.contractDataType === '03'" (change)="change($event, item, '03')" *ngIf="item.locationType === '01'" ></mat-checkbox></td>                                
                                <td>{{getCodeTitle('007', item.locationType)}}</td>
                                <td>{{getCodeTitle('011', item.rightsForm)}}</td>
                                <td class="width200 text-left">{{item.address}}</td>
                                <td>{{item.blockNumber}}</td>
                                <td>{{item.buildingNumber}}</td>
                                <td>{{item.owner}}</td>
                                <td>
                                    <label *ngIf="!(item.sharers.length > 1)">{{item.sharers.length === 1 ? item.sharers[0].sharer : ''}}</label>
                                    <button class="sharerBtn" *ngIf="item.sharers.length > 1" (click)="showSharer(item)" >表示</button> 
                                </td>
                                <td class="width300 text-left">{{item.ownerAdress}}</td>
                                <td>{{getCodeTitle('002', item.landCategory)}}</td>
                                <td>{{item.area > 0 ? item.area + '&nbsp;㎡' : ''}}</td>
                                <td><span *ngIf="item.contractDetail.contractDataType === '03'"><input type="text" class="c_width250" (keypress)="floatOnly($event)" [(ngModel)]="item.contractDetail.contractArea" maxlength="100"></span></td>
                                <td><span *ngIf="item.contractDetail.contractDataType === '01'"><input type="text" class="width80 number" (keypress)="floatOnly($event)" [(ngModel)]="item.contractDetail.contractHaveMap" maxlength="12" [value]="changeValue(item.contractDetail.contractHaveMap)">&nbsp;㎡</span></td>
                                <td>{{getCodeTitles('003',item.dependType)}}</td>
                                <td style="white-space: pre;">{{item.structure}}</td>
                                <td>{{item.dependFloor}}</td>
                                <td style="white-space: pre;">{{item.floorSpace}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>        

    <table class="detail-tbl-min">
        <tr>
            <td colspan="8">
                <span class="min"><label>契約内容</label></span>
            </td>
        </tr>
        <tr *ngFor="let seller of contract.sellers | slice:0:1">
            <th class="sharer" style="white-space: nowrap;">契約者名
                <button mat-raised-button class="addSharer" (click)="addContractSeller()">追加</button>
            </th>
            <td colspan="3">
                <input type="text" [(ngModel)]="seller.contractorName" class="width300" maxlength="100">
            </td>
                <th class="sharer">契約者住所</th>
                <td colspan="3">
                    <input type="text" [(ngModel)]="seller.contractorAdress" class="width300" maxlength="100">
                </td>
            
        </tr>  
        <tr *ngFor="let seller of contract.sellers | slice:1; index as sharerPos">
            <th class="sharer">契約者名
                <button mat-raised-button class="deleteSharer" (click)="deleteContractSeller(sharerPos)">削除</button>
            </th>
            <td colspan="3">
                <input type="text" [(ngModel)]="seller.contractorName" class="width300" maxlength="100">
            </td>
            <th class="sharer">契約者住所</th>
                <td colspan="3">
                    <input type="text" [(ngModel)]="seller.contractorAdress" class="width300" maxlength="100">
                </td>
        </tr>
        <tr>
            <th>契約日</th>
            <td>
                <input type="text" [matDatepicker]="contractDay" class="width100" [(ngModel)]="contract.contractDayMap">
                <mat-datepicker-toggle matSuffix [for]="contractDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #contractDay></mat-datepicker>
                
            </td>
        </tr> 
        <tr>
            <th>売買代金</th>
            <td>
                <input type="text" [(ngModel)]="contract.tradingPriceMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(contract.tradingPriceMap)">&nbsp;円
                <span style="font-size: small;">&nbsp;&nbsp;(売買代金内訳)</span>
            </td>
            <th>売買代金（土地）</th>
            <td>
                <input type="text" [(ngModel)]="contract.tradingLandPriceMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(contract.tradingLandPriceMap)">&nbsp;円
            </td>
            <th>売買代金（建物）</th>
            <td><input type="text" [(ngModel)]="contract.tradingBuildingPriceMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(contract.tradingBuildingPriceMap)">&nbsp;円</td>
            <th>売買代金（借地権）</th>
            <td><input type="text" [(ngModel)]="contract.tradingLeasePriceMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(contract.tradingLeasePriceMap)">&nbsp;円</td>
        </tr>
        <tr>
            <th>実測精算単価</th>
            <td colspan="7"><input type="text" [(ngModel)]="contract.setlementPriceMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(contract.setlementPriceMap)">&nbsp;万円</td> 
        </tr>
        <tr>
            <th>決済日(所有権移転日)</th>
            <td>
            <input type="text" [matDatepicker]="decisionDay" class="width100" [(ngModel)]="contract.decisionDayMap">
            <mat-datepicker-toggle matSuffix [for]="decisionDay" class="picker-icon"></mat-datepicker-toggle>
            <mat-datepicker #decisionDay></mat-datepicker>
            &nbsp;<span style="font-size: 0.8em;">&nbsp;&nbsp;済</span><mat-checkbox [checked]="contract.decisionDayChk === '1'" (change)="flgFinish($event, data)"></mat-checkbox>
            </td>
            <th>引渡期日</th>
            <td>
                <input type="text" [matDatepicker]="deliveryFixedDay" class="width100" [(ngModel)]="contract.deliveryFixedDayMap">
                <mat-datepicker-toggle matSuffix [for]="deliveryFixedDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #deliveryFixedDay></mat-datepicker>
            </td>
           <th>明渡期日</th>
           <td>
                <input type="text" [matDatepicker]="vacationDay" class="width100" [(ngModel)]="contract.vacationDayMap">
                <mat-datepicker-toggle matSuffix [for]="vacationDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #vacationDay></mat-datepicker>
           </td>
           
        </tr>
        <tr>
            <th>即決和解申請日</th>
             <td>
             <input type="text" [matDatepicker]="settlementDay" class="width100" [(ngModel)]="contract.settlementDayMap">
             <mat-datepicker-toggle matSuffix [for]="settlementDay" class="picker-icon"></mat-datepicker-toggle>
             <mat-datepicker #settlementDay></mat-datepicker>
             </td>
             <th>即決和解成立日</th>
             <td>
             <input type="text" [matDatepicker]="settlementDayFin" class="width100" [(ngModel)]="contract.settlementDayFinMap">
             <mat-datepicker-toggle matSuffix [for]="settlementDayFin" class="picker-icon"></mat-datepicker-toggle>
             <mat-datepicker #settlementDayFin></mat-datepicker>
             </td>
         
             <th>和解成立後</th>
             <td><input type="text" value="1か月以内"  class="width100 number" (keypress)="numericOnly($event)" [(ngModel)]="contract.settlementAfter" maxlength="100"><span style="font-size: small;">以内に支払い</span></td>
        </tr>
        <tr>
            <th>内金①</th>
            <td><input type="text" [(ngModel)]="contract.deposit1Map" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(contract.deposit1Map)">&nbsp;円
                <br>
                <input type="text" [matDatepicker]="deposit1Day" class="width100" [(ngModel)]="contract.deposit1DayMap">
                <mat-datepicker-toggle matSuffix [for]="deposit1Day" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #deposit1Day></mat-datepicker>
                &nbsp;<span style="font-size: 0.8em;">&nbsp;&nbsp;済</span><mat-checkbox [checked]="contract.deposit1DayChk === '1'" (change)="flgChange1($event, data)"></mat-checkbox>
            </td>
            <th>内金②</th>
            <td><input type="text" [(ngModel)]="contract.deposit2Map" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(contract.deposit2Map)">&nbsp;円
                <br>
                <input type="text" [matDatepicker]="deposit2Day" class="width100" [(ngModel)]="contract.deposit2DayMap">
                <mat-datepicker-toggle matSuffix [for]="deposit2Day" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #deposit2Day></mat-datepicker>
                &nbsp;<span style="font-size: 0.8em;">&nbsp;&nbsp;済</span><mat-checkbox [checked]="contract.deposit2DayChk === '1'" (change)="flgChange2($event, data)"></mat-checkbox>
            </td>
            <th>手付金</th>
            <td><input type="text" [(ngModel)]="contract.earnestPriceMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(contract.earnestPriceMap)">&nbsp;円
                <br>
                <input type="text" [matDatepicker]="earnestPriceDay" class="width100" [(ngModel)]="contract.earnestPriceDayMap">
                <mat-datepicker-toggle matSuffix [for]="earnestPriceDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #earnestPriceDay></mat-datepicker>
                &nbsp;<span style="font-size: 0.8em;">&nbsp;&nbsp;済</span><mat-checkbox [checked]="contract.earnestPriceDayChk === '1'" (change)="flgChange3($event, data)"></mat-checkbox>
            </td>
            <th>売買残代金</th>
            <td><input type="text" [(ngModel)]="contract.tradingBalanceMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(contract.tradingBalanceMap)">&nbsp;円</td> 
        </tr>
        
       
        

        <tr>
            <th>固都税清算金</th>
            <td>
            <input type="text" class="width100 number" (keypress)="numericOnly($event)" [(ngModel)]="contract.fixedTaxMap" maxlength="15" [value]="changeValue(contract.fixedTaxMap)">&nbsp;円
            </td> 

            <th>決済代金</th>
            <td>
                <input type="text" class="width100 number" (keypress)="numericOnly($event)" [(ngModel)]="contract.decisionPriceMap" maxlength="15" [value]="changeValue(contract.decisionPriceMap)">&nbsp;円
            </td>
        
        
            <th>留保金</th>
            <td>
                <input type="text" class="width100 number" (keypress)="numericOnly($event)" [(ngModel)]="contract.retainageMap" maxlength="15" [value]="changeValue(contract.retainageMap)">&nbsp;円
            </td>
        
            <th>留保金支払(明渡)日</th>
            <td>
                <input type="text" [matDatepicker]="retainageDay" class="width100" [(ngModel)]="contract.retainageDayMap">
                <mat-datepicker-toggle matSuffix [for]="retainageDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #retainageDay></mat-datepicker>
            </td>
        </tr>
        
        <tr>
            <th>振込情報</th>
            <td colspan="7">
                &nbsp;&nbsp;&nbsp;<label>・銀行</label>&nbsp;&nbsp;&nbsp;<input type="text" [(ngModel)]="contract.bank" class="width150" maxlength="100">
                &nbsp;&nbsp;&nbsp;<label>・支店</label>&nbsp;&nbsp;&nbsp;<input type="text" [(ngModel)]="contract.branchName" class="width150" maxlength="100">
                &nbsp;&nbsp;&nbsp;<label>・口座種別</label>&nbsp;&nbsp;&nbsp;<app-select-component [codes]="getCode('026')"  [(ngModel)]="contract.accountType"></app-select-component>
                &nbsp;&nbsp;&nbsp;<label>・口座</label>&nbsp;&nbsp;&nbsp;<input type="text" [(ngModel)]="contract.accountName" class="width150" maxlength="100">
                &nbsp;&nbsp;&nbsp;<label>・名義</label>&nbsp;&nbsp;&nbsp;<input type="text" [(ngModel)]="contract.bankName" class="width150" maxlength="100">
            </td>
        </tr>
        <!-- 20200828 S_Add -->
        <tr>
            <th>仲介会社</th>
            <td>
                <input type="text" [(ngModel)]="contract.intermediaryName" class="width300" maxlength="100">
            </td>
            <th>仲介会社住所</th>
            <td>
                <input type="text" [(ngModel)]="contract.intermediaryAddress" class="width300" maxlength="100">
            </td>
            <th>仲介手数料</th>
            <td>
                <!--<input type="text" class="width100 number" (keypress)="numericOnly($event)" [(ngModel)]="contract.intermediaryPrice" maxlength="15">&nbsp;円-->
                <input type="text" class="width100 number" (keypress)="numericOnly($event)" [(ngModel)]="contract.intermediaryPriceMap" maxlength="15" [value]="changeValue(contract.intermediaryPriceMap)">&nbsp;円
            </td>
        </tr>
        <tr>
            <th>業務委託先</th>
            <td>
                <input type="text" [(ngModel)]="contract.outsourcingName" class="width300" maxlength="100">
            </td>
            <th>業務委託先住所</th>
            <td>
                <input type="text" [(ngModel)]="contract.outsourcingAddress" class="width300" maxlength="100">
            </td>
            <th>業務委託料</th>
            <td>
                <!--<input type="text" class="width100 number" (keypress)="numericOnly($event)" [(ngModel)]="contract.outsourcingPrice" maxlength="15">&nbsp;円-->
                <input type="text" class="width100 number" (keypress)="numericOnly($event)" [(ngModel)]="contract.outsourcingPriceMap" maxlength="15" [value]="changeValue(contract.outsourcingPriceMap)">&nbsp;円
            </td>
        </tr>
        <!-- 20200828 E_Add -->
       <tr>
       <th>解約日</th>
       <td>
           <input type="text" [matDatepicker]="canncellDay" class="width100" [(ngModel)]="contract.canncellDayMap">
           <mat-datepicker-toggle matSuffix [for]="canncellDay" class="picker-icon"></mat-datepicker-toggle>
           <mat-datepicker #canncellDay></mat-datepicker>
           &nbsp;<span style="font-size: 0.8em;">&nbsp;&nbsp;等価交換の為</span><mat-checkbox [checked]="contract.canncellDayChk === '1'" (change)="flgCanncell($event, data)"></mat-checkbox>
       </td>
       </tr>
       <tr>
        <th>解約理由</th>
        <td colspan="7">
            <input type="text" class="width85Per" [(ngModel)]="contract.canncell" maxlength="100">
        </td>
        </tr>
        <tr>
            <th>備考</th>
            <td colspan="7">
                <input type="text" class="width85Per" [(ngModel)]="contract.remarks" maxlength="100">
            </td>
        </tr>
        <tr>
            <th>計画地の公図</th>
            <td colspan="9">
                <label *ngIf="!(contract.pid > 0)" style="color:red">※契約情報を登録後に添付可能となります。</label>   
                <app-file contractInfoId="{{contract.pid}}" *ngIf="contract.pid > 0" (uploaded)="uploaded($event)" [immediately]="true"></app-file> 
                
                <table style="margin-left: 5px;">
                    <tr *ngFor="let map of contract.contractFiles">
                        <td class="min-width160"><a [attr.href]="map.attachFilePath + map.attachFileName" target="_blank">{{map.attachFileName}}</a></td>
                        <td><button mat-flat-button class="attach-btn" (click)="deleteFile(map)">削除</button></td>
                    </tr>
                   
                </table>
                
            </td> 
       </tr>
    </table>
    <table class="detail-tbl-min">
        <tr>
            <td colspan="8">
                <span class="min" style="width: 155px !important;">優先分譲特約内容</span>
            </td>
        </tr>
        <tr>
            <th>優先分譲面積<br>（専有面積）</th>
            <td style="width: 136px;"><input type="text" [(ngModel)]="contract.prioritySalesAreaMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="12" [value]="changeValue(contract.prioritySalesAreaMap)">&nbsp;㎡</td>
            <th>優先分譲戸数（階）</th>
            <td style="width: 136px;"><input type="text" [(ngModel)]="contract.prioritySalesFloorMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="3" [value]="changeValue(contract.prioritySalesFloorMap)">&nbsp;階</td>
            <th>優先分譲予定価格</th>
            <td  colspan="5"><input [(ngModel)]="contract.prioritySalesPlanPriceMap" type="text" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(contract.prioritySalesPlanPriceMap)">&nbsp;円</td>      
        </tr>
    </table> 

    <table class="detail-tbl-min">
        <tr>
            <td colspan="8">
                <span class="min" style="width: 155px !important;">本件マンションの計画概要</span>
            </td>
        </tr>
        <tr>
            <th>敷地面積</th>
            <td><input type="text" [(ngModel)]="contract.siteAreaMap" class="width100 number" (keypress)="floatOnly($event)" maxlength="15" [value]="changeValue(contract.siteAreaMap)">&nbsp;㎡</td>
            <th>有効敷地面積</th>
            <td><input type="text" [(ngModel)]="contract.siteAvailableAreaMap" class="width100 number" (keypress)="floatOnly($event)" maxlength="15" [value]="changeValue(contract.siteAvailableAreaMap)">&nbsp;㎡</td>
            <th>構造</th>
            <td><input type="text" [(ngModel)]="contract.structure" class="width150" maxlength="100"></td>
            <th>規模</th>
            <td><input type="text" [(ngModel)]="contract.scale" lass="width200" maxlength="100"></td> 
            <th>延床面積</th>
            <td><input type="text" [(ngModel)]="contract.totalFloorAreaMap" class="width100 number" (keypress)="floatOnly($event)" maxlength="15" [value]="changeValue(contract.totalFloorAreaMap)">&nbsp;㎡</td>
        </tr>
    </table> 
    
    <table class="detail-tbl-min">
        <tr>
            <td colspan="8">
                <span class="min"><label>事業スケジュール</label></span>
            </td>
        </tr>
        <tr>
            <th>建築確認取得</th>
            <td style="width: 120px;">
                <input type="text" [matDatepicker]="acquisitionConfirmDay" class="width100" [(ngModel)]="contract.acquisitionConfirmDayMap">
                <mat-datepicker-toggle matSuffix [for]="acquisitionConfirmDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #acquisitionConfirmDay></mat-datepicker>
            </td>
            <th>計画建物着工</th>
            <td style="width: 120px;">
                <input type="text" [matDatepicker]="startScheduledDay" class="width100" [(ngModel)]="contract.startScheduledDayMap">
                <mat-datepicker-toggle matSuffix [for]="startScheduledDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #startScheduledDay></mat-datepicker>
            </td>
            <th>優先分譲契約締結</th>
            <td style="width: 150px;">
                <input type="text" [matDatepicker]="prioritySalesAgreementDay" class="width100" [(ngModel)]="contract.prioritySalesAgreementDayMap">
                <mat-datepicker-toggle matSuffix [for]="prioritySalesAgreementDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #prioritySalesAgreementDay></mat-datepicker>
            </td>
            <th>計画建物竣工</th>
            <td style="width: 160px;">
                <input type="text" [matDatepicker]="finishScheduledDay" class="width100" [(ngModel)]="contract.finishScheduledDayMap">
                <mat-datepicker-toggle matSuffix [for]="finishScheduledDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #finishScheduledDay></mat-datepicker>
            </td> 
            <th>取得物件引渡</th>
            <td style="width: 120px;">
                <input type="text" [matDatepicker]="deliveryDay" class="width100" [(ngModel)]="contract.deliveryDayMap">
                <mat-datepicker-toggle matSuffix [for]="deliveryDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #deliveryDay></mat-datepicker>
            </td> 
        </tr>
    </table> 

    <!--/建物情報契約-->
    <br>
    
    <div class="register-div" style="margin-top:10px">
        <button mat-raised-button class="button" (click)="backToList()">一覧へ</button>
        <button mat-raised-button class="button bukken-button" (click)="toBukken()">物件情報</button>
        <button mat-raised-button color="primary" class="button" (click)="save()">登録</button>
    </div>

</div>
