<div  class="detail-div">
    <div class="register-div">
        <button mat-raised-button class="button" (click)="backToList()">一覧へ</button>
        <button mat-raised-button color="primary" class="button" (click)="save()">登録</button>
    </div>
    <br>
    <!--/土地情報契約-->
    <table class="detail-tbl-min">  
        <tr>
            <td colspan="8"><span class="min">契約区分</span></td>
        </tr>
        <tr>
            <th>物件番号</th>
            <td><input type="text" class="width150" [attr.disabled]="true" [ngModel]="data.bukkenNo"></td>            
            <th>契約番号</th>
            <td colspan="5">
                <input type="text" class="width150" [attr.disabled]="true" value="{{data.bukkenNo + '-' + contract.contractNumber}}">
            </td>
        </tr>        
        <tr>
            <th>即決和解</th>
            <td>
                <app-select-component [codes]="getCode('006')" [(ngModel)]="contract.promptDecideFlg"></app-select-component>
            </td>
            <td colspan="6">
                <mat-checkbox *ngFor="let code of getCode('008')">{{code.name}}&nbsp;&nbsp;</mat-checkbox>
            </td>   
        </tr>
        <tr>             
            <th>不可分</th>
            <td><app-select-component [codes]="getCode('006')" [(ngModel)]="contract.indivisibleFlg"></app-select-component></td>       
            <th>三為</th>
            <td><app-select-component [codes]="getCode('006')" [(ngModel)]="contract.thirdPartyFlg"></app-select-component></td>
            <th>等価交換</th>
            <td><app-select-component [codes]="getCode('006')" [(ngModel)]="contract.equiExchangeFlg"></app-select-component></td>
            <th>売買</th>
            <td><app-select-component [codes]="getCode('009')" [(ngModel)]="contract.tradingType"></app-select-component></td>
        </tr>       
    </table>
    <!--/土地情報契約-->

    <!--/建物情報契約-->
    <table class="detail-tbl">  
        <tr>
            <td><span class="min">契約区分</span></td>
        </tr>
        <tr>
            <td>
                <div class="contact-div">
                    <table>
                        <thead class="list-header">
                            <th>売主選択</th>
                            <th>不可分選択</th>
                            <th>区分</th>
                            <th><span style="display: inline-block;width: 200px;">所在</span></th>
                            <th>地番</th>
                            <th>家屋番号</th>
                            <th>所有者<br>（売主・登記名義人）</th>
                            <th style="display: block;border:none" class="width300">所有者住所<br>（売主住所）</th>
                            <th>契約者名</th>
                            <th>地目</th>
                            <th>地積</th>
                            <th>地積のうち借地契約面積</th>
                            <th>種類</th>
                            <th>構造</th>
                            <th>階建</th>
                            <th>床面積</th>
                        </thead>
                        <tbody class="list-body">
                            <tr *ngFor="let item of data.locations; index as pos">
                                <td><mat-checkbox color="primary" [(ngModel)]="item.isContract" (change)="change(item, true)" ></mat-checkbox></td>
                                <td><mat-checkbox color="primary" [(ngModel)]="item.isDepend" (change)="change(item, false)"></mat-checkbox></td>
                                <td>{{getCodeTitle('007', item.locationType)}}</td>
                                <td class="width200 text-left">{{item.address}}</td>
                                <td>{{item.blockNumber}}</td>
                                <td>{{item.buildingNumber}}</td>
                                <td>{{item.owner}}</td>
                                <td class="width300 text-left">{{item.ownerAdress}}</td>
                                <td><input type="text" *ngIf="item.isContract || item.isDepend" class="width150"></td>
                                <td></td>
                                <td>{{item.area > 0 ? item.area + '&nbsp;㎡' : ''}}</td>
                                <td><span *ngIf="item.isContract"><input type="text" class="width80">&nbsp;㎡</span></td>
                                <td><app-select-component *ngIf="item.isDepend" [codes]="getCode('004')" [exclass]="true"></app-select-component></td>
                                <td><textarea *ngIf="item.isDepend" class="width120" rows="3"></textarea></td>
                                <td><span *ngIf="item.isDepend"><input type="text" class="width40">&nbsp;階建</span></td>
                                <td><textarea *ngIf="item.isDepend" class="width120" rows="3"></textarea></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>        

    <table class="detail-tbl-min">
        <tr>
            <td colspan="8">
                <span class="min"><label>契約内容</label></span>                        
            </td>
        </tr>
        <tr>
            <th>売買代金</th>
            <td colspan="7">
                <input type="text" [(ngModel)]="contract.tradingPrice" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円
            </td>
        </tr>
        <tr>
            <th>売買代金（土地）</th>
            <td><input type="text" [(ngModel)]="contract.tradingLandPrice" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円</td>
            <th>売買代金（建物）</th>
            <td><input type="text" [(ngModel)]="contract.tradingBuildingPrice" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円</td>
            <th>売買代金（借地権）</th>
            <td><input type="text" [(ngModel)]="contract.tradingLeasePrice" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円</td>
            <th>実測精算単価</th>
            <td><input type="text" [(ngModel)]="contract.setlementPrice" lass="width100 number" (keypress)="numericOnly($event)">&nbsp;円</td> 
        </tr>
        <tr>
            <th>内金①</th>
            <td><input type="text" [(ngModel)]="contract.deposit1" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円</td>
            <th>内金②</th>
            <td><input type="text" [(ngModel)]="contract.deposit2" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円</td>
            <th>手付金</th>
            <td><input type="text" [(ngModel)]="contract.earnestPrice" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円</td>
            <th>売買残代金</th>
            <td><input type="text" [(ngModel)]="contract.tradingBalance" lass="width100 number" (keypress)="numericOnly($event)">&nbsp;円</td> 
        </tr>
        <tr>
            <th>優先分譲面積<br>（専有面積）</th>
            <td><input type="text" [(ngModel)]="contract.prioritySalesArea" class="width100 number" (keypress)="numericOnly($event)">&nbsp;㎡</td>
            <th>優先分譲戸数（階）</th>
            <td><input type="text" [(ngModel)]="contract.prioritySalesFloor" class="width100 number" (keypress)="numericOnly($event)">&nbsp;階</td>
            <th>優先分譲予定価格</th>
            <td colspan="3"><input [(ngModel)]="contract.prioritySalesPlanPrice" type="text" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円</td>            
        </tr>
       <tr>
           <th>明渡期日</th>
           <td>
                <input type="text" [matDatepicker]="aVacateDate" class="width100">
                <mat-datepicker-toggle matSuffix [for]="aVacateDate" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #aVacateDate></mat-datepicker>
           </td>
           <th>契約日</th>
           <td colspan="5">
                <input type="text" [matDatepicker]="aContractDate" class="width100">
                <mat-datepicker-toggle matSuffix [for]="aContractDate" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #aContractDate></mat-datepicker>
           </td>
       </tr>
       <tr>
            <th>計画地の公図</th>
            <td colspan="7" style="border-top: solid 1px rgba(197, 191, 191, 0.822);">
                <label style="color:red">※土地情報登録してからファイルアップロードできます</label>                                           
            </td> 
       </tr>
    </table>        

    <table class="detail-tbl-min">
        <tr>
            <td colspan="8">
                <span class="min"><label>本件マンションの<br>計画概要</label></span>                        
            </td>
        </tr>
        <tr>
            <th>敷地面積</th>
            <td><input type="text" class="width100 number" (keypress)="floatOnly($event)">&nbsp;㎡</td>
            <th>有効敷地面積</th>
            <td><input type="text" class="width100 number" (keypress)="floatOnly($event)">&nbsp;㎡</td>
            <th>構造</th>
            <td><input type="text" class="width150"></td>
            <th>規模</th>
            <td><input type="text" lass="width200"></td> 
        </tr>
    </table> 
    
    <table class="detail-tbl-min">
        <tr>
            <td colspan="8">
                <span class="min"><label>事業スケジュール</label></span>                        
            </td>
        </tr>
        <tr>
            <th>建築確認取得</th>
            <td>
                <input type="text" [matDatepicker]="date1" class="width100">
                <mat-datepicker-toggle matSuffix [for]="date1" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #date1></mat-datepicker>
            </td>
            <th>計画建物着工</th>
            <td>
                <input type="text" [matDatepicker]="date2" class="width100">
                <mat-datepicker-toggle matSuffix [for]="date2" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #date2></mat-datepicker>
            </td>
            <th>優先分譲契約締結</th>
            <td>
                <input type="text" [matDatepicker]="date3" class="width100">
                <mat-datepicker-toggle matSuffix [for]="date3" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #date3></mat-datepicker>
            </td>
            <th>計画建物竣工</th>
            <td>
                <input type="text" [matDatepicker]="date4" class="width100">
                <mat-datepicker-toggle matSuffix [for]="date4" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #date4></mat-datepicker>
            </td> 
        </tr>
        <tr>
            <th>計画建物竣工</th>
            <td colspan="7">
                <input type="text" class="width150">
            </td>
        </tr>
    </table> 

    <!--/建物情報契約-->
    <br>
    <mat-divider></mat-divider>
    <div class="register-div" style="margin-top:10px">
        <button mat-raised-button class="button" (click)="backToList()">一覧へ</button>
        <button mat-raised-button color="primary" class="button" (click)="save()">登録</button>
    </div>

</div>    
