<div class="detail-div">
    <div class="register-div">
        <button mat-raised-button class="button" (click)="backToList()">一覧へ</button>
        <button mat-raised-button color="primary" class="button" (click)="save()">登録</button>
    </div>
    <br>
    <!--/土地情報契約-->
    <span class="block-title">土地情報契約</span>
    <table class="detail-tbl-aria">  
        <tr>
            <th class="min2">契約担当者</th>
            <td><input type="text" [(ngModel)]="contract.aContractStaff" class="width150"></td>
            
            <th class="min2">不可分成立日</th>
            <td>
                <input type="text" [matDatepicker]="aIndivisibleDate" [(ngModel)]="contract.aIndivisibleDate" class="width100">
                <mat-datepicker-toggle matSuffix [for]="aIndivisibleDate" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #aIndivisibleDate></mat-datepicker>
            </td>


            <th>契約日</th>
            <td><input type="text" [matDatepicker]="aContractDate" [(ngModel)]="contract.aContractDate" class="width100">
                <mat-datepicker-toggle matSuffix [for]="aContractDate" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #aContractDate></mat-datepicker></td>
            <th>売買代金</th>
            <td>
                <input type="text" [(ngModel)]="contract.aTradingPrice" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円
            </td>

        </tr>
        <tr>
            <th class="min2">内金①</th>
            <td><input type="text" [(ngModel)]="contract.aDeposit1" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円</td>
            <th>内金②</th>
            <td><input type="text" [(ngModel)]="contract.aDeposit2" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円</td>
            <th>内金③</th>
            <td><input type="text" [(ngModel)]="contract.aDeposit3" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円</td>
            <th>内金④</th>
            <td colspan="3"><input type="text" [(ngModel)]="contract.aDeposit4" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円</td> 
        </tr>
        <tr>
            <th class="min2">支払日</th>
            <td><input type="text" [matDatepicker]="aPayDate1" [(ngModel)]="contract.aPayDate1" class="width100">
                <mat-datepicker-toggle matSuffix [for]="aPayDate1"  class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #aPayDate1></mat-datepicker></td>
            <th>支払日</th>
            <td><input type="text" [matDatepicker]="aPayDate2" [(ngModel)]="contract.aPayDate2" class="width100">
                <mat-datepicker-toggle matSuffix [for]="aPayDate2" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #aPayDate2></mat-datepicker></td>
            <th>支払日</th>
            <td><input type="text" [matDatepicker]="aPayDate3" [(ngModel)]="contract.aPayDate3" class="width100">
                <mat-datepicker-toggle matSuffix [for]="aPayDate3" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #aPayDate3></mat-datepicker></td>
            <th>支払日</th>
            <td colspan="3"><input type="text" [matDatepicker]="aPayDate4" [(ngModel)]="contract.aPayDate4" class="width100">
                <mat-datepicker-toggle matSuffix [for]="aPayDate4" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #aPayDate4></mat-datepicker></td> 
        </tr>
        <tr>
            <th class="min2">即決和解</th>
            <td>
                <mat-radio-group [(ngModel)]="contract.aPromptDecideFlg">
                    <mat-radio-button value="1">無&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                    <mat-radio-button value="2">有</mat-radio-button>
                </mat-radio-group>
            </td>
            <th class="min2">即決和解申請期日</th>
            <td>
                <input type="text" [matDatepicker]="aPromptDecideApplyDeadline" [(ngModel)]="contract.aPromptDecideApplyDeadline" class="width100">
                <mat-datepicker-toggle matSuffix [for]="aPromptDecideApplyDeadline" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #aPromptDecideApplyDeadline></mat-datepicker>
            </td>
            <th>即決和解申請日</th>
            <td>
                <input type="text" [matDatepicker]="aPromptDecideApplyDate" [(ngModel)]="contract.aPromptDecideApplyDate" class="width100">
                <mat-datepicker-toggle matSuffix [for]="aPromptDecideApplyDate" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #aPromptDecideApplyDate></mat-datepicker></td>
            <th>即決和解費用</th>
            <td><input type="text" [(ngModel)]="contract.aPromptDecideCost" class="width130">&nbsp;円</td>   
        </tr>
        <tr>             
            <th>即決日</th>
            <td>
                <input type="text" [matDatepicker]="aPromptDecideDate" [(ngModel)]="contract.aPromptDecideDate" class="width100">
                <mat-datepicker-toggle matSuffix [for]="aPromptDecideDate" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #aPromptDecideDate></mat-datepicker>
            </td>       
            <th class="min2">和解成立後</th>
            <td><input type="text" [(ngModel)]="contract.aSettlementAfter" class="width130"></td>
            <th>明渡期限</th>
            <td><input type="text" [(ngModel)]="contract.aVacateDeadline" class="width130"></td>
            <th>明渡日</th>
            <td>
                <input type="text" [matDatepicker]="aVacateDate" [(ngModel)]="contract.aVacateDate" class="width100">
                <mat-datepicker-toggle matSuffix [for]="aVacateDate" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #aVacateDate></mat-datepicker>
            </td>
        </tr>
        <tr>
            <th>明渡(留保金支払)日</th>
            <td>
                <input type="text" [matDatepicker]="aVacateKeepPayDate" [(ngModel)]="contract.aVacateKeepPayDate" class="width100">
                <mat-datepicker-toggle matSuffix [for]="aVacateKeepPayDate" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #aVacateKeepPayDate></mat-datepicker>
            </td>
            <th>成果簿予定完成日</th>
            <td><input type="text" [matDatepicker]="aResultSchFinishDate" [(ngModel)]="contract.aResultSchFinishDate" class="width100">
                <mat-datepicker-toggle matSuffix [for]="aResultSchFinishDate" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #aResultSchFinishDate></mat-datepicker></td>

            <th class="min2">等価交換</th>
            <td><mat-radio-group [(ngModel)]="contract.aExchangeFlg">
                <mat-radio-button value="1">無&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                <mat-radio-button value="2">有</mat-radio-button>
                </mat-radio-group>
            </td>
            <th>合意解除</th>
            <td>
                <mat-radio-group [(ngModel)]="contract.aCancelFlg">
                    <mat-radio-button value="1">無&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                    <mat-radio-button value="2">有</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr>
            <th>テナント立退</th>
            <td><mat-radio-group [(ngModel)]="contract.aEvictionFlg">
                    <mat-radio-button value="1">無&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                    <mat-radio-button value="2">有</mat-radio-button>
                </mat-radio-group>
            </td>
            <th>紙</th>
            <td>
                <mat-radio-group [(ngModel)]="contract.aPaperFlg">
                    <mat-radio-button value="1">無&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                    <mat-radio-button value="2">有</mat-radio-button>
                </mat-radio-group>
            </td>
            <th>覚書</th>
            <td colspan="3">
                <mat-radio-group [(ngModel)]="contract.aMemoFlg">
                    <mat-radio-button value="1">無&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                    <mat-radio-button value="2">有</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr>
            <th>業務委託・仲介等</th>
            <td colspan="7">
                <input type="text" [(ngModel)]="contract.aSubcontracting" class="width85Per">
            </td>      
        </tr>
        <tr>
            <th>契約備考</th>
            <td colspan="7">
                <input type="text" [(ngModel)]="contract.aContractRemark" class="width85Per">
            </td>      
        </tr>
    </table>
    <!--/土地情報契約-->

    <!--/建物情報契約-->
    <span class="block-title">建物情報契約</span>
    <table class="detail-tbl-build">  
        <tr>
            <th class="min2">契約担当者</th>
            <td><input type="text" [(ngModel)]="contract.bContractStaff" class="width130"></td>
            <th class="min2">不可分成立日</th>
            <td>
                <input type="text" [matDatepicker]="bIndivisibleDate" [(ngModel)]="contract.bIndivisibleDate" class="width100">
                <mat-datepicker-toggle matSuffix [for]="bIndivisibleDate" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #bIndivisibleDate></mat-datepicker>
            </td>


            <th>契約日</th>
            <td><input type="text" [matDatepicker]="bContractDate" [(ngModel)]="contract.bContractDate" class="width100">
                <mat-datepicker-toggle matSuffix [for]="bContractDate" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #bContractDate></mat-datepicker></td>
            <th>売買代金</th>
            <td><input type="text" [(ngModel)]="contract.bTradingPrice" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円</td>

        </tr>
        <tr>
            <th class="min2">内金①</th>
            <td><input type="text" [(ngModel)]="contract.bDeposit1" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円</td>
            <th>内金②</th>
            <td><input type="text" [(ngModel)]="contract.bDeposit2" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円</td>
            <th>内金③</th>
            <td><input type="text" [(ngModel)]="contract.bDeposit3" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円</td>
            <th>内金④</th>
            <td><input type="text" [(ngModel)]="contract.bDeposit4" class="width100 number" (keypress)="numericOnly($event)">&nbsp;円</td> 
        </tr>
        <tr>
            <th class="min2">支払日</th>
            <td><input type="text" [matDatepicker]="bPayDate1" [(ngModel)]="contract.bPayDate1" class="width100">
                <mat-datepicker-toggle matSuffix [for]="bPayDate1"  class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #bPayDate1></mat-datepicker></td>
            <th>支払日</th>
            <td><input type="text" [matDatepicker]="bPayDate2" [(ngModel)]="contract.bPayDate2" class="width100">
                <mat-datepicker-toggle matSuffix [for]="bPayDate2" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #bPayDate2></mat-datepicker></td>
            <th>支払日</th>
            <td><input type="text" [matDatepicker]="bPayDate3" [(ngModel)]="contract.bPayDate3" class="width100">
                <mat-datepicker-toggle matSuffix [for]="bPayDate3" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #bPayDate3></mat-datepicker></td>
            <th>支払日</th>
            <td><input type="text" [matDatepicker]="bPayDate4" [(ngModel)]="contract.bPayDate4" class="width100">
                <mat-datepicker-toggle matSuffix [for]="bPayDate4" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #bPayDate4></mat-datepicker></td> 
        </tr>
        <tr>
            <th class="min2">即決和解</th>
            <td colspan="7">
                <mat-radio-group [(ngModel)]="contract.bPromptDecideFlg">
                    <mat-radio-button value="1">無&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                    <mat-radio-button value="2">有</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr>
            <th class="min2">即決和解申請期日</th>
            <td>
                <input type="text" [matDatepicker]="bPromptDecideApplyDeadline" [(ngModel)]="contract.bPromptDecideApplyDeadline" class="width100">
                <mat-datepicker-toggle matSuffix [for]="bPromptDecideApplyDeadline" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #bPromptDecideApplyDeadline></mat-datepicker>
            </td>
            <th>即決和解申請日</th>
            <td>
                <input type="text" [matDatepicker]="bPromptDecideApplyDate" [(ngModel)]="contract.bPromptDecideApplyDate" class="width100">
                <mat-datepicker-toggle matSuffix [for]="bPromptDecideApplyDate" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #bPromptDecideApplyDate></mat-datepicker>
            </td>
            <th>即決和解費用</th>
            <td><input type="text" [(ngModel)]="contract.bPromptDecideCost" class="width130">&nbsp;円</td>
            <th>即決日</th>
            <td>
                <input type="text" [matDatepicker]="bPromptDecideDate" [(ngModel)]="contract.bPromptDecideDate" class="width100">
                <mat-datepicker-toggle matSuffix [for]="bPromptDecideDate" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #bPromptDecideDate></mat-datepicker>
            </td>
        </tr>
        <tr>
            <th class="min2">和解成立後</th>
            <td><input type="text" [(ngModel)]="contract.bSettlementAfter" class="width130"></td>
            <th>明渡期限</th>
            <td><input type="text" [(ngModel)]="contract.bVacateDeadline" class="width130"></td>
            <th>明渡日</th>
            <td>
                <input type="text" [matDatepicker]="bVacateDate" [(ngModel)]="contract.bVacateDate" class="width100">
                <mat-datepicker-toggle matSuffix [for]="bVacateDate" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #bVacateDate></mat-datepicker>
            </td>
            <th>明渡(留保金支払)日</th>
            <td>
                <input type="text" [matDatepicker]="bVacateKeepPayDate" [(ngModel)]="contract.bVacateKeepPayDate" class="width100">
                <mat-datepicker-toggle matSuffix [for]="bVacateKeepPayDate" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #bVacateKeepPayDate></mat-datepicker>
            </td>
        </tr>
        <tr>
            <th>成果簿予定完成日</th>
            <td>
                <input type="text" [matDatepicker]="bResultSchFinishDate" [(ngModel)]="contract.bResultSchFinishDate" class="width100">
                <mat-datepicker-toggle matSuffix [for]="bResultSchFinishDate" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #bResultSchFinishDate></mat-datepicker>
            </td>

            <th class="min2">等価交換</th>
            <td><mat-radio-group [(ngModel)]="contract.bExchangeFlg">
                <mat-radio-button value="1">無&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                <mat-radio-button value="2">有</mat-radio-button>
                </mat-radio-group>
            </td>
            <th>合意解除</th>
            <td><mat-radio-group [(ngModel)]="contract.bCancelFlg">
                    <mat-radio-button value="1">無&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                    <mat-radio-button value="2">有</mat-radio-button>
                </mat-radio-group>
            </td>
            <th>テナント立退</th>
            <td>
                <mat-radio-group [(ngModel)]="contract.bEvictionFlg">
                    <mat-radio-button value="1">無&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                    <mat-radio-button value="2">有</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr>
            <th>紙</th>
            <td><mat-radio-group [(ngModel)]="contract.bPaperFlg">
                    <mat-radio-button value="1">無&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                    <mat-radio-button value="2">有</mat-radio-button>
                </mat-radio-group>
            </td>
            <th>覚書</th>
            <td colspan="5"><mat-radio-group [(ngModel)]="contract.bMemoFlg">
                    <mat-radio-button value="1">無&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                    <mat-radio-button value="2">有</mat-radio-button>
                </mat-radio-group>
            </td>
        </tr>
        <tr>
            <th>業務委託・仲介等</th>
            <td colspan="7">
                <input type="text" [(ngModel)]="contract.bSubcontracting" class="width85Per">
            </td>      
        </tr>
        <tr>
            <th>契約備考</th>
            <td colspan="7">
                <input type="text" [(ngModel)]="contract.bContractRemark" class="width85Per">
            </td>      
        </tr>
    </table>
    <!--/建物情報契約-->
    <br>
    <mat-divider></mat-divider>
    <div class="register-div" style="margin-top:10px">
        <button mat-raised-button class="button" (click)="backToList()">一覧へ</button>
        <button mat-raised-button color="primary" class="button" (click)="save()">登録</button>
    </div>

</div>    
