.detail-div {
    margin: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.plan_detail{
    width: 100%;
}

.detail-tbl-plan{
   
    border-spacing: 0px;
    border-collapse: collapse;
    margin:0px 10px 40px 10px;
    width: max-content;
    overflow-x: auto;
}

th.head_plan{
    font-size: 0.6em;
    float: left;
    color:black;
    font-weight: bold;
    text-align: center;
    width:80px !important;;
    height: 25px;
    margin: 3px 0px 3px 0px;
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}

td.yentitle{
    min-height: 30px;
    line-height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    font-size: 0.6em;
    float: left;
    min-width: 100px;
}

.detail-tbl-plan> tr > th.title{
    width:180px !important;
    height: 22px !important;
    line-height:30px;
    padding: 2px 2px 5px 5px;
    font-size: 1.0em;
    float: left;
    margin:10px 10px 10px 0px;
    border-bottom:double 3px rgba(146, 192, 140, 0.692);;
}

.detail-tbl-plan> tr > th.main{
    width: 80px !important;
    text-align: left;
    min-height: 22px !important;
    padding: 2px 2px 2px 5px;
    font-size: 0.5em;
    border-top: solid 10px white;
    float: left;
    margin-right: 20px;
}

.detail-tbl-plan> tr > td.yen{
    min-height: 30px;
    line-height:30px;
    min-width: 105px;
    margin-right: 10px;
    float: left;
} 

.price_lbl {
    width: 100px;
    text-align: right;
    padding-right: 3px;
    margin-right: 20px;
    display: inline-block;
    border: solid 1px lightgray;
}
