<ngx-spinner type="ball-spin-clockwise" bdOpacity="0.7"></ngx-spinner>
<div  class="detail-div">
    <div class="register-div">
        <button mat-raised-button class="button" (click)="backPlan()">戻る</button>
    </div>
    <ul *ngIf="errorMsgs.length > 0" class="error-span">
        <li *ngFor="let msg of errorMsgs">{{msg}}</li>
    </ul>
    <br>
    <table class ="plan_detail">
        <table class = "detail-tbl-plan">
            <tr>
                <th class="title">事業収支履歴照会</th>
            </tr>
            <tr *ngFor="let item of history | slice:0:1;">
                <th class="main"></th>
                <td class="yen" *ngFor="let detail of item.details">
                    <label class="history_name">{{detail.planHistoryName}}</label>
                </td>
            </tr>
            <tr *ngFor="let item of history">
                <th class="main">{{item.paymentName}}</th>
                <td class="yen" *ngFor="let detail of item.details" nowrap>
                    <label class="price_lbl">{{detail.price | number:'':'en'}}</label>
                </td>
            </tr>
        </table>
        <div class="register-div">
            <button mat-raised-button class="button" (click)="backPlan()">戻る</button>
        </div>
    </table>
</div>
