<ngx-spinner type="ball-spin-clockwise" bdOpacity="0.7"></ngx-spinner>
<div class="dialog-div">  
    <ul *ngIf="errorMsgs.length > 0" class="error-span">
        <li *ngFor="let msg of errorMsgs">{{msg}}</li>
    </ul>
    <table class="detail-tbl-min">
        <tr> 
            <td colspan="6">
                <span class="min">
                    <label>売り契約情報 登録</label>
                    <!--<label class="contracted" *ngIf="data.isContracted">契約済み</label>-->
                </span>
            </td>
        </tr>
        <!-- 20210905 S_Add -->
        <tr>
            <th>銀行名</th>
            <td colspan="2">
                <app-select-component [codes]="bankPids" [(ngModel)]="data.bankPid" [cusClass]="'width250'"></app-select-component>
            </td>
        </tr>
        <!-- 20210905 E_Add -->
        <tr>
            <th>売買区分</th>
            <!-- 20210319 S_Update -->
            <!--<td colspan="3">-->
            <td>
            <!-- 20210319 E_Update -->
                <app-select-component [codes]="getCode('021')" [(ngModel)]="data.salesType" [noBlank]="true"></app-select-component>
            </td>
            <!-- 20210319 S_Add -->
            <th>契約書番号</th>
            <td>
                <input type="text" [(ngModel)]="data.contractFormNumber" class="width150" maxlength="32">
            </td>
            <!-- 20210319 E_Add -->
            <th>売却先</th>
            <td colspan="3">
                <input type="text" [(ngModel)]="data.salesName" class= "width250" maxlength="100">
            </td>
        </tr>
        <tr>
            <th>売買対象<br>（所在地）</th>
            <td colspan="3">
                <!--<input type="text" [(ngModel)]="data.salesLocation" class="width400" maxlength="100">-->
                <!--<app-select-component [codes]="getLocAdress()" style="width: 400px;" [(ngModel)]="data.salesLocation" [exclass] = "true"></app-select-component>-->
                <ng-multiselect-dropdown
                    [placeholder]="'選択'"
                    [data]="selectAddresses"
                    [(ngModel)]="data.salesLocationMap"
                    [settings]="dropdownSettings"
                >
                </ng-multiselect-dropdown>
            </td>
            <th>売却先住所</th>
            <td colspan="3">
                <input type="text" [(ngModel)]="data.salesAddress" class="width400" maxlength="100">
            </td>
        </tr>
        <tr>
            <th>契約日</th>
            <td>
                <div class="picker-div">
                    <input type="text" [matDatepicker]="salesContractDay" [(ngModel)]="data.salesContractDayMap" class="width100">
                    <mat-datepicker-toggle matSuffix [for]="salesContractDay" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #salesContractDay></mat-datepicker>
                </div>
            </td>
            <th>売買代金</th>
            <td>
                <input type="text" [(ngModel)]="data.salesTradingPriceMap" class="width100 number" maxlength="15" [value]="changeValue(data.salesTradingPriceMap)">&nbsp;円
            </td>
            <th>契約予定日</th>
            <td colspan="3">
                <div class="picker-div">
                    <input type="text" [matDatepicker]="salesContractSchDay" [(ngModel)]="data.salesContractSchDayMap" class="width100">
                    <mat-datepicker-toggle matSuffix [for]="salesContractSchDay" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #salesContractSchDay></mat-datepicker>
                </div>
            </td>
        </tr>
        <!-- 20201124 S_Add -->
        <tr>
            <th>売買代金（土地）</th>
            <td>
                <input type="text" [(ngModel)]="data.salesTradingLandPriceMap" class="width100 number" maxlength="15" (keypress)="numericOnly($event)"[value]="changeValue(data.salesTradingLandPriceMap)">&nbsp;円
            </td>
            <th>売買代金（建物）</th>
            <td>
                <input type="text" [(ngModel)]="data.salesTradingBuildingPriceMap" class="width100 number" maxlength="15" (keypress)="numericOnly($event)" [value]="changeValue(data.salesTradingBuildingPriceMap)">&nbsp;円
            </td>
            <th>売買代金（借地権）</th>
            <td>
                <input type="text" [(ngModel)]="data.salesTradingLeasePriceMap" class="width100 number" maxlength="15" (keypress)="numericOnly($event)" [value]="changeValue(data.salesTradingLeasePriceMap)">&nbsp;円
            </td>
            <th>売買代金（消費税）</th>
            <td>
                <input type="text" [(ngModel)]="data.salesTradingTaxPriceMap" class="width100 number" maxlength="15" (keypress)="numericOnly($event)" [value]="changeValue(data.salesTradingTaxPriceMap)">&nbsp;円
            </td>
        </tr>
        <tr>
            <th>内金①</th>
            <td>
                <input type="text" [(ngModel)]="data.salesDeposit1Map" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.salesDeposit1Map)">&nbsp;円
                <br>
                <input type="text" [matDatepicker]="salesDeposit1Day" class="width100" [(ngModel)]="data.salesDeposit1DayMap">
                <mat-datepicker-toggle matSuffix [for]="salesDeposit1Day" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #salesDeposit1Day></mat-datepicker>
                <!-- 20230510 S_Add -->
                &nbsp;<span style="font-size: 0.8em;">&nbsp;&nbsp;済</span><mat-checkbox [checked]="data.salesDeposit1DayChk === '1'" (change)="flgChangeSalesDeposit1DayChk($event, data)"></mat-checkbox>
                <!-- 20230510 E_Add -->
            </td>
            <th>内金②</th>
            <td>
                <input type="text" [(ngModel)]="data.salesDeposit2Map" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.salesDeposit2Map)">&nbsp;円
                <br>
                <input type="text" [matDatepicker]="salesDeposit2Day" class="width100" [(ngModel)]="data.salesDeposit2DayMap">
                <mat-datepicker-toggle matSuffix [for]="salesDeposit2Day" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #salesDeposit2Day></mat-datepicker>
                <!-- 20230510 S_Add -->
                &nbsp;<span style="font-size: 0.8em;">&nbsp;&nbsp;済</span><mat-checkbox [checked]="data.salesDeposit2DayChk === '1'" (change)="flgChangeSalesDeposit2DayChk($event, data)"></mat-checkbox>
                <!-- 20230510 E_Add -->
            </td>
            <th>手付金</th>
            <!-- 20230510 S_Update -->
            <!-- <td> -->
            <td colspan="3">
            <!-- 20230510 E_Update -->
                <input type="text" [(ngModel)]="data.salesEarnestPriceMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.salesEarnestPriceMap)">&nbsp;円
                <br>
                <input type="text" [matDatepicker]="salesEarnestPriceDay" class="width100" [(ngModel)]="data.salesEarnestPriceDayMap">
                <mat-datepicker-toggle matSuffix [for]="salesEarnestPriceDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #salesEarnestPriceDay></mat-datepicker>
                <!-- 20230510 S_Add -->
                &nbsp;<span style="font-size: 0.8em;">&nbsp;&nbsp;済</span><mat-checkbox [checked]="data.salesEarnestPriceDayChk === '1'" (change)="flgChangeSalesEarnestPriceDayChk($event, data)"></mat-checkbox>
                <!-- 20230510 E_Add -->
            </td>
        </tr>
        <!-- 20201124 E_Add -->
        <tr>
            <th>決済予定日</th>
            <td>
                <div class="picker-div">
                    <input type="text" [matDatepicker]="salesDecisionSchDay" [(ngModel)]="data.salesDecisionSchDayMap" class="width100">
                    <mat-datepicker-toggle matSuffix [for]="salesDecisionSchDay" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #salesDecisionSchDay></mat-datepicker>
                </div>
            </td>
            <th>決済代金</th>
            <td>
                <input type="text" [(ngModel)]="data.salesDecisionPriceMap" class="width100 number" maxlength="15" (keypress)="numericOnly($event)"[value]="changeValue(data.salesDecisionPriceMap)">&nbsp;円
            </td>
            <th>決済日</th>
            <td colspan="3">
                <div class="picker-div">
                    <input type="text" [matDatepicker]="salesDecisionDay" [(ngModel)]="data.salesDecisionDayMap" class="width100">
                    <mat-datepicker-toggle matSuffix [for]="salesDecisionDay" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #salesDecisionDay></mat-datepicker>
                    <!-- 20230510 S_Add -->
                    &nbsp;&nbsp;<span style="font-size: 0.8em;">&nbsp;&nbsp;済</span><mat-checkbox [checked]="data.salesDecisionDayChk === '1'" (change)="flgChangeSalesDecisionDayChk($event, data)"></mat-checkbox>
                    <!-- 20230510 E_Add -->
                </div>
            </td>
        </tr>
        <tr>
            <th>固都税清算金</th>
            <td>
                <!-- 20220522 S_Add -->
                <button mat-raised-button style="line-height:20px" color="primary" class="button" (click)="calcSaleKotozei()">計算</button><br>
                <!-- 20220522 E_Add -->
                <input type="text" [(ngModel)]="data.salesFixedTaxMap" class="width100 number" maxlength="15" (keypress)="numericOnly($event)"[value]="changeValue(data.salesFixedTaxMap)">&nbsp;円
                <!-- 20230510 S_Add -->
                <br>
                <input type="text" [matDatepicker]="salesFixedTaxDay" class="width100" [(ngModel)]="data.salesFixedTaxDayMap">
                <mat-datepicker-toggle matSuffix [for]="salesFixedTaxDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #salesFixedTaxDay></mat-datepicker>
                &nbsp;<span style="font-size: 0.8em;">&nbsp;&nbsp;済</span><mat-checkbox [checked]="data.salesFixedTaxDayChk === '1'" (change)="flgChangeSalesFixedTaxDayChk($event, data)"></mat-checkbox>
                <!-- 20230510 E_Add -->
            </td>
            <th>(固都税清算金)土地</th>
            <td>
                <input type="text" [(ngModel)]="data.salesFixedLandTaxMap" class="width100 number" maxlength="15" (keypress)="numericOnly($event)" [value]="changeValue(data.salesFixedLandTaxMap)">&nbsp;円
            </td>
            <th>(固都税清算金)建物</th>
            <td>
                <input type="text" [(ngModel)]="data.salesFixedBuildingTaxMap" class="width100 number" maxlength="15" (keypress)="numericOnly($event)" [value]="changeValue(data.salesFixedBuildingTaxMap)">&nbsp;円
            </td>
            <!-- 20220523 S_Update -->
            <!--
            <th>(固都税清算金)消費</th>
            <td>
                <input type="text" [(ngModel)]="data.salesFixedConsumptionTaxMap" class="width100 number" maxlength="15" (keypress)="numericOnly($event)" [value]="changeValue(data.salesFixedConsumptionTaxMap)">&nbsp;円
            </td>
            -->
            <th>建物分消費税</th>
            <td>
                <input type="text" [(ngModel)]="data.salesFixedBuildingTaxOnlyTaxMap" class="width100 number" maxlength="15" (keypress)="numericOnly($event)" [value]="changeValue(data.salesFixedBuildingTaxOnlyTaxMap)">&nbsp;円
            </td>
            <!-- 20220523 E_Update -->
        </tr>
        <tr>
            <th>その他清算金</th>
            <td><input type="text" [(ngModel)]="data.salesLiquidation1Map" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.salesLiquidation1Map)"></td>
            <td><input type="text" [(ngModel)]="data.salesLiquidation2Map" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.salesLiquidation2Map)"></td>
            <td><input type="text" [(ngModel)]="data.salesLiquidation3Map" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.salesLiquidation3Map)"></td>
            <td><input type="text" [(ngModel)]="data.salesLiquidation4Map" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.salesLiquidation4Map)"></td>
            <td><input type="text" [(ngModel)]="data.salesLiquidation5Map" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(data.salesLiquidation5Map)"></td>
        </tr>
        <tr>
            <!-- 20201218 S_Add -->
            <th>留保金</th>
            <td>
                <input type="text" [(ngModel)]="data.salesRetainageMap" class="width100 number" maxlength="15" (keypress)="numericOnly($event)" [value]="changeValue(data.salesRetainageMap)">&nbsp;円
            </td>
            <th>留保金入金日</th>
            <td>
                <div class="picker-div">
                    <input type="text" [matDatepicker]="salesRetainageDay" [(ngModel)]="data.salesRetainageDayMap" class="width100">
                    <mat-datepicker-toggle matSuffix [for]="salesRetainageDay" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #salesRetainageDay></mat-datepicker>
                </div>
            </td>
            <!-- 20201218 E_Add -->
            <th>地積</th>
            <td>
                <input type="text" [(ngModel)]="data.salesLandAreaMap" class="width100 number" maxlength="15" (keypress)="floatOnly($event)" (ngModelChange)="changeValue('salesLandAreaMap')">&nbsp;㎡
            </td>
            <td style="width: 150px;">
                <input type="text" class="width100 number" (keypress)="floatOnly($event)" [value]="calTsubo(data.salesLandAreaMap)" [attr.disabled]="true" maxlength="15">&nbsp;坪
            </td>
            <!--[value]="getNumber(data.salesLandArea) | number"--> 
        </tr>
        <!-- 20201218 S_Add -->
        <tr>
            <th>仲介手数料</th>
            <td>
                <input type="text" [(ngModel)]="data.salesBrokerageFeeMap" class="width100 number" maxlength="15" (keypress)="numericOnly($event)" [value]="changeValue(data.salesBrokerageFeeMap)">&nbsp;円
            </td>
            <th>仲介手数料支払日</th>
            <td>
                <div class="picker-div">
                    <input type="text" [matDatepicker]="salesBrokerageFeePayDay" [(ngModel)]="data.salesBrokerageFeePayDayMap" class="width100">
                    <mat-datepicker-toggle matSuffix [for]="salesBrokerageFeePayDay" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #salesBrokerageFeePayDay></mat-datepicker>
                </div>
            </td>
            <th>業務委託料</th>
            <td>
                <input type="text" [(ngModel)]="data.salesOutsourcingPriceMap" class="width100 number" maxlength="15" (keypress)="numericOnly($event)" [value]="changeValue(data.salesOutsourcingPriceMap)">&nbsp;円
            </td>
            <th>業務委託料支払日</th>
            <td>
                <div class="picker-div">
                    <input type="text" [matDatepicker]="salesOutsourcingPricePayDay" [(ngModel)]="data.salesOutsourcingPricePayDayMap" class="width100">
                    <mat-datepicker-toggle matSuffix [for]="salesOutsourcingPricePayDay" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #salesOutsourcingPricePayDay></mat-datepicker>
                </div>
            </td>
        </tr>
        <!-- 20201218 E_Add -->
        <tr>
            <th>仲介会社</th>
            <td colspan="3">
                <input type="text" [(ngModel)]="data.salesIntermediary" class="width400" maxlength="100">
            </td>
            <!-- 20200828 S_Add -->
            <th>仲介会社住所</th>
            <td colspan="3">
                <input type="text" [(ngModel)]="data.salesIntermediaryAddress" class="width400" maxlength="100">
            </td>
            <!-- 20200828 E_Add -->
        </tr>
        <!-- 20201124 S_Add -->
        <tr>
            <th>業務委託先</th>
            <td colspan="3">
                <input type="text" [(ngModel)]="data.salesOutsourcingName" class="width400" maxlength="100">
            </td>
            <th>業務委託先住所</th>
            <td colspan="3">
                <input type="text" [(ngModel)]="data.salesOutsourcingAddress" class="width400" maxlength="100">
            </td>
        </tr>
        <!-- 20201124 E_Add -->
        <tr>
            <th>備考</th>
            <td colspan="3">
                <input type="text" [(ngModel)]="data.salesRemark" class="width400" maxlength="100">
            </td>
        </tr>
        <!-- 20220403 S_Delete -->
        <!--
        <tr>
            <th>表示順序</th>
            <td>
                <input type="text" [(ngModel)]="data.displayOrder" class="width80 number" maxlength="6">
            </td>
        </tr>
        -->
        <!-- 20220403 E_Delete -->
        <!-- 20230227 S_Add -->
        <!-- 20230331 S_Update -->
        <!-- <tr *ngIf="enableAttachUser"> -->
        <tr>
        <!-- 20230331 E_Update -->
            <th>契約書等</th>
            <td colspan="7">
                <label *ngIf="!(data.pid > 0)" style="color:red">※契約情報を登録後に添付可能となります。</label>
                <!-- 20230317 S_Update -->
                <!-- <app-file bukkenSalesInfoPid="{{data.pid}}" attachFileType="0" *ngIf="data.pid > 0" (uploaded)="attachUploaded($event)" [immediately]="true"></app-file>  -->
                <app-file bukkenSalesInfoPid="{{data.pid}}" attachFileType="0" *ngIf="data.pid > 0 && !disableUser" (uploaded)="attachUploaded($event)" [immediately]="true"></app-file> 
                <!-- 20230317 E_Update -->
                
                <table style="margin-left: 5px;">
                    <tr *ngFor="let map of data.salesAttaches">
                        <!-- 20230511 S_Add -->
                        <mat-checkbox [checked]="map.attachFileChk === '1'" (change)="flgChangeAttachFileChk($event, map)"></mat-checkbox>
                        <!-- 20230511 E_Add -->
                        <td class="min-width160"><a [attr.href]="map.attachFilePath + map.attachFileName" target="_blank">{{map.attachFileName}}</a></td>
                        <!-- 20230511 S_Add -->
                        <input type="text" [matDatepicker]="attachFileDay" class="width100" [(ngModel)]="map.attachFileDayMap">
                        <mat-datepicker-toggle matSuffix [for]="attachFileDay" class="picker-icon"></mat-datepicker-toggle>
                        <mat-datepicker #attachFileDay></mat-datepicker>
                        <input type="text" [(ngModel)]="map.attachFileDisplayName" class="width300" maxlength="128">
                        <!-- 20230511 E_Add -->
                        <!-- 20230317 S_Update -->
                        <!-- <td><button mat-flat-button class="attach-btn" (click)="deleteAttach(map)">削除</button></td> -->
                        <td><button mat-flat-button class="attach-btn" *ngIf="!disableUser" (click)="deleteAttach(map)">削除</button></td>
                        <!-- 20230317 E_Update -->
                    </tr>
                </table>
            </td>
        </tr>
        <!-- 20230227 E_Add -->
        <tr>
            <td colspan="8">
                <mat-dialog-actions align="center">
                    <button mat-raised-button class="attach-btn" *ngIf="data.pid > 0" (click)="delete()">削除</button>
                    <button mat-raised-button class="width100" (click)="cancel()">キャンセル</button>
                    <button mat-raised-button class="width80" color="primary" (click)="save()">登録</button>
                </mat-dialog-actions>
            </td>
        </tr>
    </table>
</div>
