<div class="mat-elevation-z8 main" (keydown.enter)="searchFb()">
    <mat-expansion-panel expanded='true'>
        <mat-expansion-panel-header>
            <mat-panel-title>検索条件</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="search-div">
            <table class="search-tbl">
                <tr>
                    <th>支払予定日</th>
                    <td>
                        <div class="picker-div">
                            <input type="text" [matDatepicker]="contractDay" class="width100" [(ngModel)]="cond.contractDayMap">
                            <mat-datepicker-toggle matSuffix [for]="contractDay" class="picker-icon"></mat-datepicker-toggle>
                            <mat-datepicker #contractDay></mat-datepicker>
                        </div>
                    </td>

                    <th>支払種別</th>
                    <td>
                        <select [(ngModel)]="cond.paymentCode" class="payment-type">
                            <option value=""></option>
                            <ng-container *ngFor="let tp of payTypes">
                                <!-- 20241024 S_Update -->
                                <!-- <optgroup [label]="tp.paymentName" *ngIf="tp.categoryFlg === '1'"></optgroup>
                                <option [value]="tp.paymentCode" *ngIf="tp.categoryFlg !== '1'">&nbsp;&nbsp;&nbsp;&nbsp;{{tp.paymentName}}</option> -->
                                <optgroup [label]="tp.paymentName" *ngIf="tp.categoryFlg === '1' && tp.payContractEntryFlg === '1' && (tp.deleteDate == null || tp.deleteDate == '')"></optgroup>
                                <option [value]="tp.paymentCode" *ngIf="tp.categoryFlg !== '1' && tp.payContractEntryFlg === '1' && (tp.deleteDate == null || tp.deleteDate == '')">&nbsp;&nbsp;&nbsp;&nbsp;{{tp.paymentName}}</option>
                                <!-- 20241024 E_Update -->
                            </ng-container>
                        </select>
                    </td>

                    <th>取引先名称</th>
                    <td>
                        <input type="text" class="fuzzyWidth400" [(ngModel)]="cond.supplierName_Like" maxlength="256">
                    </td>
                </tr>
                <tr>
                    <th>物件番号</th>
                    <td>
                        <input type="text" class="width100" [(ngModel)]="cond.bukkenNo" maxlength="10">
                    </td>

                    <th>契約物件番号</th>
                    <td>
                        <input type="text" class="width100" [(ngModel)]="cond.contractBukkenNo" maxlength="30">
                    </td>

                    <th>物件名称</th>
                    <td>
                        <input type="text" class="fuzzyWidth400" [(ngModel)]="cond.bukkenName_Like" maxlength="256">
                    </td>

                    <th>FB承認フラグ</th>
                    <td>
                        <app-select-component  class="width158" [codes]="getCode('032')" [(ngModel)]="cond.fbApprovalFlg" maxlength="6"></app-select-component>
                    </td>
                </tr>
            </table>
            <div style="margin: 10px 0px 10px 0px;">
                <button mat-raised-button (click)="fbApproval()" *ngIf="searched" color="primary">&nbsp;承認&nbsp;</button>
                <div class = "search-btns">
                    <button mat-raised-button (click)="searchFb()" class="search-btn">&nbsp;&nbsp;検索&nbsp;&nbsp;</button>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</div>
<ngx-spinner type="ball-spin-clockwise" bdOpacity="0.7"></ngx-spinner>
<div class="mat-elevation-z8 main data">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="contractDay">
            <th mat-header-cell *matHeaderCellDef> 支払予定日 </th>
            <td mat-cell *matCellDef="let element"> {{formatDay(element.contractDay, 'yyyy/MM/dd')}}</td>
        </ng-container>

        <ng-container matColumnDef="bukkenNo">
            <th mat-header-cell *matHeaderCellDef> 物件番号 </th>
            <td mat-cell *matCellDef="let element" class="bukkenlist_width">{{element.bukkenNo}}</td>
        </ng-container>

        <ng-container matColumnDef="contractBukkenNo">
            <th mat-header-cell *matHeaderCellDef> 契約物件番号 </th>
            <td mat-cell *matCellDef="let element" class="bukkenlist_width">{{element.contractBukkenNo}}</td>
        </ng-container>

        <ng-container matColumnDef="bukkenName">
            <th mat-header-cell *matHeaderCellDef> 物件名称 </th>
            <td mat-cell *matCellDef="let element" class="bukkenlist_width">{{element.bukkenName}}</td>
        </ng-container>

        <ng-container matColumnDef="supplierName">
            <th mat-header-cell *matHeaderCellDef> 取引先名称 </th>
            <td mat-cell *matCellDef="let element" class="bukkenlist_width">{{element.supplierName}}</td>
        </ng-container>

        <ng-container matColumnDef="paymentCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 支払種別 </th>
            <td mat-cell *matCellDef="let element"> {{getPaymentName(element.paymentCode)}} </td>
        </ng-container>

        <ng-container matColumnDef="payPriceTax">
            <th mat-header-cell *matHeaderCellDef> 支払金額(税込) </th>
            <td mat-cell *matCellDef="let element">{{numberFormat(element.payPriceTax)}}
            </td>
        </ng-container>

            
        <ng-container matColumnDef="fbApprovalFlg">
            <th mat-header-cell *matHeaderCellDef> FB承認フラグ </th>
            <td mat-cell *matCellDef="let element" class="bukkenlist_width"> {{getCodeTitle('032',element.fbApprovalFlg)}} </td>
        </ng-container>

        <!-- 承認 -->
        <ng-container matColumnDef="fbApprovalCheck">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox [(ngModel)]="element.select"></mat-checkbox>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlighted': selectedRowIndex == row.pid}" (mouseover)="highlight(row)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>
