select{
    height: 25px !important;
    min-width: 100px;
    height: 21px;
    border: solid 1px cornflowerblue;
    border-radius: 2px;
    margin-left: 3px;
}
/* 20230926 S_Add */
select:disabled {
    background-color: #EBEBE4;
}
/* 20230926 E_Add */
