mat-expansion-panel-header{
    height: 45px !important;
}
.main{
    width: 98%;
    margin: 10px;
}
.data{
    /* 20210208 S_Delete */
    /*
    max-height: calc(100% - 100px);    
    overflow: auto;
    */
    /* 20210208 E_Delete */
    margin: 0px;
    width: 99.2%;
}
mat-form-field{
    margin-right: 10px;
}
table {
    width: 100%;
}

mat-paginator{
    width: 100%;
}

.mat-raised-button{
    margin-right: 10px;
}

/*----------Map------------*/
#map {
    min-height: 75vh;
    width: 99%;
}

.map-equip {
    width: 500px;
    height: 240px;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
}

.map-equip > table > tbody > tr > th {
    font-weight: normal;
}

.map-equip .label {
    width: 80px;
    text-align: left;
}

.bukken-tab {
    margin-left: 10px;
    margin-right: 10px;
}
mat-tab-header{
    display: none !important;
}
.mat-tab-body-content {
    min-height: 80vh;
    /* 20210208 S_Delete */
    /*max-height: 90vh;*/
    /* 20210208 E_Delete */
}
th.mat-sort-header-sorted {
    color: black;
}
.mat-sort-header-arrow {
    color: brown;
}


.bukkenlist_width{
   max-width: 200px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
/*20200828 S_Add*/
.person_width{
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*20200828 E_Add*/
.left{
    float: left;
}

/*20200828 S_Add*/
.multiselect-dropdown {
    width: 275px !important;
    margin-left: 3px;
}

.dropdown-list {
    position: fixed !important;
    width: 300px !important;
}
  
.multiselect-dropdown .dropdown-btn {
    height: 22px !important;
    padding: 5px 12px !important;
    border-color: #6495ED !important;
    border-radius: 3px !important;
    line-height: unset !important;
    font-size: 13px !important;
}

.multiselect-dropdown .dropdown-btn .dropdown-down {
    border-top: 5px solid #adadad !important;
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
}

.grayrow {
    background-color: #BFBFBF;
}
/*20200828 E_Add*/

/* 20231111 S_Add */
.w-l{
    width: 70% !important;
}

.w-r{
    width: 30% !important;
}

.fl{
    float: left !important;
}

.fr{
    float: right !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin: 5px;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body {
    padding: 0.5rem 0.5rem; 
}

.map-equip2 {
    text-align: left;
    font-size: 12px;
    font-weight: normal !important;
}

.map-equip2 > table > tr > th {
    font-weight: normal !important;
}

.map-equip2 .label {
    width: 80px;
    text-align: left;
}

.map-wrapper-l {
    height: 100vh;
    overflow-y: scroll;
}
.map-wrapper-r {
    height: 100vh;
    overflow-y: scroll;
}
.custom-marker-label {
    color: white !important;
    font-size: 16px;
    font-weight: bold;
    padding-top: 7px;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}

.icon-container {
    height: 90px;
    display: flex;
    overflow: hidden; 
}
  
.icon-image {
    height: 100%;
    width: auto;
}
 
@media print {
    .icon-container {
        height: 240px;
      }

        
    .map-wrapper-r {
        height: unset;
        overflow-y: unset;

        position: relative;
        width: 100%;

        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
    }

    .w-l{
        width: 100% !important;
    }
    
    .w-r{
        width: 100% !important;
    }

    .card-height {
        height: calc(calc(100vh / 2) - 15px);
        -ms-flex: 0 0 calc(50% - 10px);
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
        margin: 0;
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
    
    .card-height:nth-child(4n+1),.card-height:nth-child(4n+2) {
        page-break-before: always;
    }
    .card-height:nth-child(4n+3),.card-height:nth-child(4n+4) {
        page-break-before:avoid;
    }
    .label, .valueClass{
        font-weight: normal !important;
    }
} 
/* 20231111 E_Add */
