<div class="mat-elevation-z8 main">
  <mat-expansion-panel expanded='true'>
    <mat-expansion-panel-header>
        <mat-panel-title>検索条件</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="search-div">
      <table class="search-tbl">
        <tr>
          <th>物件番号</th>
          <td>
            <input type="text" [(ngModel)]="cond.bukkenNo" class="width100" maxlength="15">
          </td>

          <th>契約物件番号</th>
          <td>
            <input type="text" [(ngModel)]="cond.contractBukkenNo" class="width100" maxlength="15">
          </td>
          
          <th>物件名</th>
          <td colspan="2">
            <input type="text" class="fuzzyWidth400" [(ngModel)]="cond.bukkenName" maxlength="100">
          </td>
          <tr>
          <th>所在地</th>
          <td colspan="3">
            <input type="text" class="fuzzyWidth400" [(ngModel)]="cond.address" maxlength="100">
          </td>
          <th>住居表示</th>
          <td colspan="2">
            <input type="text" class="fuzzyWidth400" [(ngModel)]="cond.residence" maxlength="100">
          </td>
          </tr>
          <tr>
          <th>情報収集日</th>
          <td>
            <div class="picker-div">
                <input type="text" [matDatepicker]="pickDate_From" [(ngModel)]="cond.pickDate_From" placeholder="開始日" class="width100">
                <mat-datepicker-toggle matSuffix [for]="pickDate_From" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #pickDate_From></mat-datepicker>
            </div>
          </td>
          <td colspan="2">
            <div class="picker-div">
                <input type="text" [matDatepicker]="pickDate_To" [(ngModel)]="cond.pickDate_To"  placeholder="終了日"class="width100">
                <mat-datepicker-toggle matSuffix [for]="pickDate_To" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #pickDate_To></mat-datepicker>
            </div>
          </td>
          <th>測量依頼日</th>
          <td>
            <div class="picker-div">
                <input type="text" [matDatepicker]="surveyRequestedDay_From" [(ngModel)]="cond.surveyRequestedDay_From" placeholder="開始日" class="width100">
                <mat-datepicker-toggle matSuffix [for]="surveyRequestedDay_From" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #surveyRequestedDay_From></mat-datepicker>
            </div>
          </td>
          <td>
            <div class="picker-div">
                <input type="text" [matDatepicker]="surveyRequestedDay_To" [(ngModel)]="cond.surveyRequestedDay_To" placeholder="終了日" class="width100">
                <mat-datepicker-toggle matSuffix [for]="surveyRequestedDay_To" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #surveyRequestedDay_To></mat-datepicker>
            </div>
          </td>
          
        </tr>
        <tr>
                
          <th>担当部署</th>
          　<td colspan="3">           
                <mat-checkbox *ngFor="let dep of deps" [checked]="inList(cond.department, dep.depCode)" (change)="changeCheck(cond.department, dep.depCode ,$event)">{{dep.depName}}&nbsp;</mat-checkbox>                              
            </td>
           <th>結果</th>
          <td colspan="2">
            <section>
              <mat-checkbox *ngFor="let code of getCode('001')" [checked]="inList(cond.result, code.codeDetail)"  (change)="changeCheck(cond.result, code.codeDetail ,$event)">{{code.name}}&nbsp;</mat-checkbox>              
            </section>
          </td>
      </tr>        
      </table>      
      <div style="margin: 10px 0px 10px 0px;">
        <button mat-raised-button (click)="searchBukken()" class="search-btn">&nbsp;&nbsp;検索&nbsp;&nbsp;</button>&nbsp;
        <!--<button mat-raised-button (click)="export()">&nbsp;&nbsp;出力&nbsp;&nbsp;</button>-->
        <button mat-raised-button (click)="createNew()" *ngIf="searched" color="warn">&nbsp;新規登録&nbsp;</button>&nbsp;

        <button mat-raised-button (click)="csvExport()" *ngIf="searched" color="primary">&nbsp;出力&nbsp;</button>

        <mat-radio-group (change)="switchTab($event)" *ngIf="searched" style="float: right;" [(ngModel)]="cond.mode">
          <mat-radio-button [value]="1" [checked]="true">一覧表示&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button> 
          <mat-radio-button [value]="2">MAP表示&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button> 
        </mat-radio-group>

      </div>
    </div>    
    
  </mat-expansion-panel>  
  
</div>
<ngx-spinner type="ball-spin-clockwise" bdOpacity="0.7"></ngx-spinner>

<mat-tab-group class="bukken-tab">
  <mat-tab label="一覧">
    <div class="mat-elevation-z8 main data">

      <table mat-table [dataSource]="dataSource" matSort>
    
         <!-- bukkenId Column -->
         <ng-container matColumnDef="bukkenNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 物件番号 </th>
            <td mat-cell *matCellDef="let element" > {{element.bukkenNo}} </td>
          </ng-container>

           <!-- contractBukkenNo Column -->
         <ng-container matColumnDef="contractBukkenNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 契約物件番号 </th>
          <td mat-cell *matCellDef="let element" > {{element.contractBukkenNo}} </td>
        </ng-container>
      
        <!-- bukkenName Column -->
        <ng-container matColumnDef="bukkenName">
          <th mat-header-cell *matHeaderCellDef> 物件名 </th>
          <td mat-cell *matCellDef="let element" class="bukkenlist_width"> {{element.bukkenName}} </td>
        </ng-container>

         <!-- 住居表示 -->
         <ng-container matColumnDef="residence">
          <th mat-header-cell *matHeaderCellDef> 住居表示 </th>
          <td mat-cell *matCellDef="let element" class="bukkenlist_width"> {{element.residence}} </td>
        </ng-container>
        
        <!--所在地-->
        <ng-container matColumnDef="remark1">
          <th mat-header-cell *matHeaderCellDef> 所在地 </th>
          <td mat-cell *matCellDef="let element" class="bukkenlist_width"> {{element.remark1.split(',')[0]}} </td>
        </ng-container>

        <!--地番-->
        <ng-container matColumnDef="remark2">
          <th mat-header-cell *matHeaderCellDef > 地番 </th>
          <td mat-cell *matCellDef="let element"> {{element.remark2.split(',')[0]}} </td>
        </ng-container>

        <!--地図情報-->
        <ng-container matColumnDef="mapFiles">
          <th mat-header-cell *matHeaderCellDef> 地図情報 </th>
          <td mat-cell *matCellDef="let element"> 
              <div *ngFor="let file of element.mapFiles" style="margin-top: 5px; margin-bottom: 10px;">
                  <a [attr.href]="file.mapFilePath + file.mapFileName" target="_blank">{{file.mapFileName}}</a> <br>
              </div>              
          </td>
        </ng-container>
      
        <!-- 情報収集日 Column -->
        <ng-container matColumnDef="pickDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 情報収集日 </th>
          <td mat-cell *matCellDef="let element"> {{formatDay(element.pickDate, 'yyyy/MM/dd')}} </td>
        </ng-container>

        <!-- 測量依頼日 Column -->
        <ng-container matColumnDef="surveyRequestedDay">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 測量依頼日 </th>
          <td mat-cell *matCellDef="let element"> {{formatDay(element.surveyRequestedDay, 'yyyy/MM/dd')}} </td>
        </ng-container>
    
         <!-- 担当部署 Column -->
         <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef > 担当部署 </th>
          <td mat-cell *matCellDef="let element"> {{element.department}} </td>
        </ng-container>
    
         <!-- 地目 Column -->
         <ng-container matColumnDef="result">
          <th mat-header-cell *matHeaderCellDef> 結果 </th>
          <td mat-cell *matCellDef="let element"> {{element.result}} </td>
        </ng-container>
    
        <!-- 詳細 Column -->
        <ng-container matColumnDef="detail">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row"> 
              <button mat-raised-button (click)="showDetail(row)" color="warn">詳細</button>
          </td>
        </ng-container>

        <!--CSV出力-->
        <ng-container matColumnDef="csvCheck">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
              <mat-checkbox  [(ngModel)]="row.select"></mat-checkbox>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlighted': selectedRowIndex == row.pid}" (mouseover)="highlight(row)"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-tab>

  <mat-tab label="マップ">
    <div #mapContainer id="map"></div>
  </mat-tab>  
</mat-tab-group>

