.dialog-div{
    padding-top: 30px;
    margin: -20px;
    width: 90%;
    height: 90%;
}
.detail-tbl{
    margin-left: 20px;
    margin-top: 50px;

}
.mat-dialog-actions {    
    margin: auto;
    margin-top: auto;
}