<div class="dialog-div">
    <ul *ngIf="errorMsgs.length > 0" class="error-span" style="margin-top: -5px;">
        <li *ngFor="let msg of errorMsgs">{{msg}}</li>
    </ul>
    <table class="detail-tbl-head">
        <tr>
            <td>
                <span class="title">
                    <label>事業収支履歴　登録</label>
                </span>
            </td>
        </tr>
    </table>
    <table class="detail-tbl">
        <tr>
            <th>プラン種別</th>
            <td>
                <app-select-component [codes]="getCode('016')" [(ngModel)]="data.planStatus" [isDisabled]="true"></app-select-component>
            </td>
            <th>履歴作成日</th>
            <td style="margin-right:0px !important;">
                <div class="picker-div" style="margin-top: 0px !important;"> 
                    <input type="text" [matDatepicker]="createHistoryDay" class="width100" [(ngModel)]="data.createHistoryDayMap">
                    <mat-datepicker-toggle matSuffix [for]="createHistoryDay" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #createHistoryDay></mat-datepicker>
                </div>
            </td>
        </tr>
        <tr>
            <th>プラン履歴名</th>
            <td>
                <input type="text" [(ngModel)]="data.planHistoryName" [ngClass]="{'width200': true, 'error': errors['planHistoryName']}" maxlength="100">
            </td>
        </tr>
       
    </table>
    <mat-dialog-actions align="center">
        <button mat-raised-button class="width100" (click)="cancel()">キャンセル</button>
        <button mat-raised-button class="width100" color="primary" (click)="save()">登録</button>
    </mat-dialog-actions>
</div>
