mat-expansion-panel-header{
    height: 45px !important;
}

.main{
    width: 98%;
    margin: 10px;
}

.data{
    max-height: calc(100% - 100px);
    overflow: auto;
    margin: 0px;
    width: 99.2%;
}

mat-form-field{
    margin-right: 10px;
}

table {
    width: 100%;
}

th.mat-column-detail, td.mat-column-detail {
    width: 100px;
}

th.mat-column-bukkenId, td.mat-column-bukkenId {
    width: 100px;
}

/*20200906 S_Delete*/
/*
.mat-column-bukkenNo{
    width: 100px;
}

.mat-column-remark2,
.mat-column-contractNo,
.mat-column-buildingType,
.mat-column-contractOwner {
    width:150px;
}
*/
/*20200906 E_Delete*/

td.mat-cell:last-of-type {
    padding-right: 0px;
}

.ct-list {
    height: 42px;
    display: flex;
    align-items: center;
    /*background-color: ivory;*/
}

.ct-list button {
    margin-left: 15px;
}

.contractlist_width{
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*20200906 S_Add*/
.person_width{
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*20200906 E_Add*/
/*20210314 S_Add*/
.delete_btn{
    background-color: rgb(91, 91, 95);
    color: whitesmoke;
    height: 30px;
    width: 60px;
    /*font-size: 0.8em;*/
    margin-right: 20px;
}
/*20210314 E_Add*/
/*20220912 S_Add*/
.fuzzy{
    background-color: rgb(255, 249, 197);
}
/*20220912 E_Add*/
