<div class="mat-elevation-z8 main">
        <mat-expansion-panel expanded='true'>
            <mat-expansion-panel-header>
                <mat-panel-title>検索条件</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="search-div">
            <table class="search-tbl">                
                <tr>
                    <th>部署コード</th>
                    <td>
                        <!--20191202　inList は　BaseComponent.ts参照　-->
                        <input type="text" class="width200" [(ngModel)]="cond.depCode">
                    </td>
                <!--
                    <th>掲載終了</th>
                    <td>
                        <mat-checkbox *ngFor="let code of getCode('005')" [checked]="inList(cond.finishFlg, code.codeDetail)" (change)="changeCheck(cond.finishFlg, code.codeDetail ,$event)" >{{code.name}}&nbsp;&nbsp;&nbsp;&nbsp;</mat-checkbox>
                    </td>
                -->
                
                </tr>    
                <tr>
                    <th>部署名</th>
                    <td colspan="3">
                        <!--fuzzyWide 曖昧検索-->
                        <input type="text" class="fuzzyWidth400" [(ngModel)]="cond.depName">
                    </td>
                </tr>   
            </table>      
            <div style="margin: 10px 0px 10px 0px;">
                <button mat-raised-button (click)="searchDep()" class="search-btn">&nbsp;&nbsp;検索&nbsp;&nbsp;</button>&nbsp;&nbsp;
                <button mat-raised-button (click)="createNew()" color="warn">&nbsp;新規登録&nbsp;</button>
            </div>
            </div>    
            
        </mat-expansion-panel>
    </div>        
    <ngx-spinner type="ball-spin-clockwise" bdOpacity="0.7"></ngx-spinner>
    <div class="mat-elevation-z8 main data">
        <table mat-table [dataSource]="dataSource" matSort>
        
            <!--<ng-container matColumnDef="infoDate">
                <th mat-header-cell *matHeaderCellDef> 日付 </th>
                <td mat-cell *matCellDef="let element" > {{element.infoDate | date:'yyyy/MM/dd'}} </td>
            </ng-container>-->

            <ng-container matColumnDef="depCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 部署コード </th>
            <td mat-cell *matCellDef="let element"> {{element.depCode}} </td>
            </ng-container>

            <ng-container matColumnDef="depName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 部署名 </th>
            <td mat-cell *matCellDef="let element"> {{element.depName}} </td>
            </ng-container>


            <ng-container matColumnDef="createDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> 登録日 </th>
                <td mat-cell *matCellDef="let element"> {{element.createDate | date:'yyyy/MM/dd HH:mm:ss'}} </td>
                </ng-container>

            <ng-container matColumnDef="updateDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> 更新日 </th>
                <td mat-cell *matCellDef="let element"> {{element.updateDate | date:'yyyy/MM/dd HH:mm:ss'}} </td>
            </ng-container>

        <!--<ng-container matColumnDef="detailFlg">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 詳細有無 </th>
            <td mat-cell *matCellDef="let element"> {{element.detailFlg == 1 ? '有' : '無'}} </td>
            </ng-container>
        -->
        
        <!--<ng-container matColumnDef="infoDetail">
            <th mat-header-cell *matHeaderCellDef> 詳細 </th>
            <td mat-cell *matCellDef="let element" class="infoDetail_width break-line"> {{element.infoDetail | slice:0:20}} </td>
            </ng-container>
        -->
        <!--
            <ng-container matColumnDef="attachFileName">
            <th mat-header-cell *matHeaderCellDef> 添付ファイル </th>
            <td mat-cell *matCellDef="let element"> <a [attr.href]="element.attachFilePath + element.attachFileName"  target="_blank" class="action-link">{{element.attachFileName}}</a></td>
            </ng-container>

            <ng-container matColumnDef="finishFlg">
            <th mat-header-cell *matHeaderCellDef> 掲載終了 </th>
            <td mat-cell *matCellDef="let element"> {{element.finishFlg == 1 ? '完了' : '有効'}} </td>
            </ng-container>
            -->
            <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row"> 
                <button mat-raised-button (click)="deleteRow(row)" class="delete_btn">削除</button>
            </td>
            </ng-container>
            
            <ng-container matColumnDef="detail">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row"> 
                <button mat-raised-button (click)="showDetail(row)" color="warn">詳細</button>
            </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlighted': selectedRowIndex == row.pid}" (mouseover)="highlight(row)"></tr>
        </table>        
    </div>