<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="app-toolbar">
        <!--
        <button mat-icon-button *ngIf="!isLogin" (click)="snav.toggle()" class="menu"><mat-icon>menu</mat-icon></button>
        -->
        <h1 class="app-app-name">{{title}}</h1>
        <!--
        <button *ngIf="!isLogin" mat-raised-button mat-raised-button color="basic" class="logout-btn" (click)="logout()">Logout</button>
　　　　　-->
    </mat-toolbar>
    <div class="cp_navi" *ngIf="!isLogin">
        <ul>
            <li><a (click)="navigate('top')">&nbsp;ダッシュボード&nbsp;</a></li>
            <li><a (click)="navigate('bukkens')">&nbsp;物件情報&nbsp;</a></li>
            
            <li><a (click)="navigate('contracts')">&nbsp;仕入契約&nbsp;</a></li>
            <!-- 20230917 S_Add -->
            <li *ngIf="authority !== '03' && authority !== '04'"><a (click)="navigate('rentals')">&nbsp;賃貸情報&nbsp;</a></li>
            <!-- 20230917 E_Add -->
            <li *ngIf="authority !== '03'"><a (click)="navigate('plans')">&nbsp;事業収支&nbsp;</a></li>
            <li *ngIf="authority !== '03'"><a (click)="navigate('pays')">&nbsp;支払管理&nbsp;</a></li>
            <li *ngIf="authority !== '03'"><a (click)="navigate('receives')">&nbsp;入金管理&nbsp;</a></li>
            <!-- 20210731 S_Add -->
            <!-- 管理者のみ表示で確認中 --><li *ngIf="authority === '01'"><a>&nbsp;FB連携&nbsp;<span class="caret"></span></a>
                <div style="z-index: 999;">
                    <ul>
                        <li><a (click)="navigate('fbApproval')">承認</a></li>
                        <li><a (click)="navigate('fb')">CSV出力</a></li>
                    </ul>
                </div>
            </li>
            <!-- リリースまでコメント --><!--<li><a (click)="navigate('sorting')">&nbsp;会計連携用CSV出力&nbsp;</a></li>-->
            <!-- 20210731 E_Add -->
            <!-- 20211227 S_Update -->
            <!--<li><a (click)="navigate('infos')">&nbsp;インフォメーション&nbsp;</a></li>-->
            <li><a>&nbsp;インフォメーション&nbsp;<span class="caret"></span></a>
                <div style="z-index: 999;">
                    <ul>
                        <li><a (click)="navigate('infos')">インフォメーション</a></li>
                        <li *ngIf="authority === '01' || authority === '02'"><a (click)="navigate('notices')">お知らせ</a></li>
                    </ul>
                </div>
            </li>
            <!-- 20211227 E_Update -->
            <!-- 20210905 S_Update -->
            <!--
            <li *ngIf="authority !== '02' && authority !== '03'"><a>&nbsp;マスタ管理&nbsp;<span class="caret"></span></a>
            -->
            <li *ngIf="authority !== '02' && authority !== '03' && authority !== '05'"><a>&nbsp;マスタ管理&nbsp;<span class="caret"></span></a>
            <!-- 20210905 E_Update -->
                <div style="z-index: 999;">
                    <ul>
                        <li><a (click)="navigate('deps')">部署マスタ</a></li>
                        <li><a (click)="navigate('users')">社員マスタ</a></li>
                        <li><a (click)="navigate('codes')">コードマスタ</a></li>
                        <li><a (click)="navigate('paymentTypes')">支払種別マスタ</a></li>
                        <li><a (click)="navigate('receiveTypes')">入金種別マスタ</a></li>
                        <li><a (click)="navigate('bank')">銀行マスタ</a></li><!-- 20210831 Add -->
                        <li><a (click)="navigate('bkupdate')">担当割付・変更</a></li><!-- 20210207 Add -->
                        <!-- リリースまでコメント --><!--<li><a (click)="navigate('kanjyos')">勘定マスタ</a></li>--><!-- 20210628 Add -->
                        <!-- リリースまでコメント --><!--<li><a (click)="navigate('kanjyoFixs')">貸方借方決定マスタ</a></li>--><!-- 20210628 Add -->
                        <!-- 20240802 S_Add -->
                        <li *ngIf="authority == '01'"><a (click)="navigate('kanjyos')">勘定マスタ</a></li>
                        <li *ngIf="authority == '01'"><a (click)="navigate('kanjyoFixs')">貸方借方決定マスタ</a></li>
                        <!-- 20240802 E_Add -->
                    </ul>
                </div>
            </li>
            <li class = "logout"><a (click)="logout()" *ngIf="!isLogin">&nbsp;ログアウト&nbsp;</a></li>
        </ul>
    </div>
    <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">        
    <!--
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                        [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
            <button mat-raised-button mat-stroked-button (click)="navigate('top')">ダッシュボード</button><br>
            <button mat-raised-button mat-stroked-button (click)="navigate('bukkens')">物件情報</button><br>
            <button mat-raised-button mat-stroked-button (click)="navigate('contracts')">仕入契約</button><br>
            <button mat-raised-button mat-stroked-button (click)="navigate('infos')">インフォメーション</button><br>
            <button mat-raised-button mat-stroked-button (click)="navigate('deps')">部署マスタ</button><br>
            <button mat-raised-button mat-stroked-button (click)="navigate('users')">社員マスタ</button><br>
            <button mat-raised-button mat-stroked-button (click)="navigate('codes')">コードマスタ</button><br>
            <button mat-raised-button mat-stroked-button (click)="navigate('paymentTypes')">支払種別マスタ</button><br>
            <button mat-raised-button mat-stroked-button (click)="navigate('plans')">事業収支</button><br>
            <button mat-raised-button mat-stroked-button (click)="navigate('pays')">支払管理</button>
        </mat-nav-list>
    </mat-sidenav>
    -->

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
