 .app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .app-toolbar{
    height:40px;
    background-color: rgb(58, 133, 116);
  }
  .app-toolbar > h1,
  .app-toolbar > button{
    font-size: 0.8em;
  }
  .app-toolbar > button.menu{
    font-size: 0.8em;
    color: white;
  }

  .app-is-mobile .app-toolbar {
    position: fixed;
    z-index: 2;
  }
  
  h1.app-app-name {
    margin-left: 8px;
    color: white;
    font-weight: 500;
  }
  
  .app-sidenav-container {    
    flex: 1;
  }

  .app-sidenav-container > mat-sidenav{
    background-color: rgb(243, 245, 165);
  }
  
  .app-is-mobile .app-sidenav-container {
    flex: 1 0 auto;
  }
  
  mat-nav-list > button{
      min-width: 120px;
      min-height: 35px;
      margin: 10px 5px 10px 5px;
      font-size: 0.6em;
      font-weight: bold;
  }

  mat-nav-list > button:hover{
    background-color: bisque;
}

.logout-btn{
  position: absolute;
  font-size: 0.6em !important;
  height: 35px;
  top: 2px;
  right: 10px;

}