<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="app-toolbar">
        <button mat-icon-button (click)="snav.toggle()" *ngIf="!isLogin" class = "menu"><mat-icon>menu</mat-icon></button>
        <h1 class="app-app-name">{{title}}</h1>        
        <button *ngIf="!isLogin" mat-raised-button mat-raised-button color="basic" class="logout-btn" (click)="logout()">Logout</button>        

    </mat-toolbar>

    <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                        [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
            <button mat-raised-button mat-stroked-button (click)="navigate('top')">ダッシュボード</button><br>
            <button mat-raised-button mat-stroked-button (click)="navigate('bukkens')">土地情報</button><br>
            <button mat-raised-button mat-stroked-button (click)="navigate('contracts')">仕入契約</button><br>
            <button mat-raised-button mat-stroked-button (click)="navigate('infos')">インフォメーション</button><br>
            <button mat-raised-button mat-stroked-button (click)="navigate('deps')">部署マスタ</button><br>
            <button mat-raised-button mat-stroked-button (click)="navigate('users')">社員マスタ</button>

        </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
                <router-outlet></router-outlet>    
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>