<div class="mat-elevation-z8 main">
        <mat-expansion-panel expanded='true'>
            <mat-expansion-panel-header>
                <mat-panel-title>検索条件</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="search-div">
            <table class="search-tbl">                
                <tr>
                    <th>日付</th>
                    <td>
                        <div class="picker-div">
                            <input type="text" [matDatepicker]="finishDate" class="width150">
                            <mat-datepicker-toggle matSuffix [for]="finishDate" class="picker-icon"></mat-datepicker-toggle>
                            <mat-datepicker #finishDate></mat-datepicker>
                        </div>
                    </td>
                   
                    <th>掲載終了</th>
                    <td>
                        <mat-checkbox *ngFor="let code of getCode('005')" [checked]="code.codeDetail === '0'" >{{code.name}}&nbsp;&nbsp;&nbsp;&nbsp;</mat-checkbox>
                    </td>
                
                </tr>    
                <tr>
                    <th>件名</th>
                    <td>
                        <input type="text" class="width400">
                    </td>
                </tr>   
            </table>      
            <div style="margin: 10px 0px 10px 0px;">
                <button mat-raised-button (click)="searchInfo()" class="search-btn">&nbsp;&nbsp;検索&nbsp;&nbsp;</button>&nbsp;&nbsp;
                <button mat-raised-button (click)="createNew()" color="warn">&nbsp;新規登録&nbsp;</button>
            </div>
            </div>    
            
        </mat-expansion-panel>
    </div>        
    