<div class="dialog-div">
    <ul *ngIf="errorMsgs.length > 0" class="error-span" style="margin-top: -5px;">
        <li *ngFor="let msg of errorMsgs">{{msg}}</li>
    </ul>
    <table class="detail-tbl">
        <tr>
            <th>ユーザーID</th>
            <td><input type="text" [(ngModel)]="data.userId" [ngClass]="{'width150': true}" disabled="true"></td>
            <th>ユーザー名</th>
            <td><input type="text" [(ngModel)]="data.userName" [ngClass]="{'width300': true, 'error': errors['userName']}" maxlength="100"></td>
        </tr>
        <tr>
            <th>ユーザー名<div>（フリガナ）</div></th>
            <td><input type="text" class="width200" [(ngModel)]="data.userNameKana" maxlength="20" [ngClass]="{'error': errors['userNameKana']}"></td>
        </tr>
        <tr>
            <th>社員コード</th>
            <td><input type="text" [(ngModel)]="data.employeeCode" maxlength="20"></td>
        <!-- 20251214 S_Update -->
            <!--<th>部署名</th>-->
            <!-- 20210211 S_Update -->
            <!--<td><app-select-component [codes]="getDeps()" [(ngModel)]="data.depCode"></app-select-component></td>-->
            <!--<td><app-select-component [codes]="depCodes" [(ngModel)]="data.depCode"></app-select-component></td>-->
            <!-- 20210211 E_Update -->
        </tr>
        <tr *ngFor="let dep of data.departments; let i = index">
            <th  style="white-space: nowrap;">部署名</th>
            <td><app-select-component [codes]="depCodes" [(ngModel)]="dep.depCode"></app-select-component></td>
            <td *ngIf="i === 0"><button mat-raised-button *ngIf="i === 0" (click)="addDepCodeInput()">追加</button></td>
            <td *ngIf="i !== 0"><button mat-raised-button *ngIf="i !== 0" (click)="deleteDepCodeInput(i)">削除</button></td>
        </tr>
        <!-- 20251214 E_Update -->
        <tr>
            <th>ログインID</th>
            <td><input type="text" [(ngModel)]="data.loginId" maxlength="20"></td>
            <th>パスワード</th>
            <td><input type="text" [(ngModel)]="data.password" maxlength="20"></td>
        </tr>

        <tr>
            <th>権限</th>
            <td><app-select-component [codes]="getCode('010')" [(ngModel)]="data.authority"></app-select-component></td>
            <!-- 20220213 S_Add -->
            <th>メールアドレス</th>
            <td><input type="text" [(ngModel)]="data.mailAddress" [ngClass]="{'width300': true, 'error': errors['mailAddress']}" maxlength="100"></td>
            <!-- 20220213 E_Add -->
        </tr>

        <tr>
            <th>登録日</th>
            <td><input type="text" [(ngModel)]="data.createDate" class="width150" disabled ="true"></td>
            <th>登録ユーザーID</th>
            <td><input type="text" [(ngModel)]="data.createUserId" class="width150" disabled ="true"></td>
        </tr>

        <tr>
            <th>更新日</th>
            <td><input type="text" [(ngModel)]="data.updateDate" class="width150" disabled ="true"></td>
            <th>更新ユーザーID</th>
            <td><input type="text" [(ngModel)]="data.updateUserId"  class="width150" disabled ="true"></td>
        </tr>
    </table>
    <mat-dialog-actions align="end">
        <button mat-raised-button class="width80" (click)="cancel()">閉じる</button>
        <button mat-raised-button class="width80" color="primary" (click)="ok()">OK</button>
    </mat-dialog-actions>
</div>
