table {
    width: 100%;
}
.mat-column-infoDate{
    width: 120px;
}
.mat-column-infoSubject{
    width: 220px;
}
.mat-column-detailFlg{
    width: 120px;
}
/*
.mat-column-infoDetail{
    /*width: 30%;
}
*/
.mat-column-attachFileName{
    width: 200px;
}
.mat-column-finishFlg{
    width: 80px;
}
.mat-column-delete{
    width: 80px;
}
.mat-column-detail{
    width: 80px;
}
.delete_btn{
    background-color: rgb(91, 91, 95);
    color: whitesmoke;
    height: 30px;
    width: 60px;
    /*font-size: 0.8em;*/
    margin-right: 20px;
}
.main {
    width: 98%;
    margin: 10px;
}
.infoDetail_width{    
    /*width: 250px;*/
    height:35px;
    /*max-width: 100px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*padding-bottom: 13px;*/

}
.picker-div_1{
    width: 120px;
    margin-right: 10px;
}
.left{
    float: left;
}

.ct-list {
    height: 42px;
    display: flex;
    align-items: center;
}
.search-tbl > tr > th.picker-div_2{
    width:140px !important;
    background-color: #D9E1F2;
    text-align: left;
    padding: 2px;
    /*padding-left:5px;*/
    font-size: 0.8em;
    border-top: solid 2px white;
    float: left;
    /*border-left: solid 2px rgba(0,0,0,.12);*/
}