.chart-content{
    width:100%;
    height: auto;
    display: grid;
    align-items:center;
    grid-template-rows: 150px repeat(4, 220px);
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.bulletin-board {
    width:100%;
    height:97%;
    border: solid 1px black;
    border-radius: 4px;
    background-color: #FAFAFA;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bulletin-board > label {
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: #FAFAFA;
    font-weight: bold;
}

.bulletin-board .main-data {
    margin: 10px;
    width:98%;
    height:130px;
    box-shadow: none;
    background-color:#FAFAFA;
    overflow-y: auto;
}
.action-link{
    color:cornflowerblue;
    text-decoration: underline;
    cursor: pointer;
}

.bulletin-board .main-data .mat-table{
    width:100%;
    background-color: #FAFAFA;
}
.bulletin-board .more {
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 120px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
}
.bulletin-board .mat-column-infoDate{
    width: 15%;
}
.bulletin-board .mat-column-infoSubject{
    width: 40%;
}
.bulletin-board .mat-column-attachFileName{
    width: 45%;
}
.bulletin-board .more > a {
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
}

.bulletin-notice {
    width:100%;
    height:220px;
    border: solid 1px black;
    border-radius: 4px;
    position: relative;
    background-color: #EBFFED;
}

.bulletin-nagoya { grid-row: 2; }
.bulletin-osaka { grid-row: 3; }
.bulletin-fukuoka { grid-row: 4; }
.bulletin-kyoto { grid-row: 5; }

.bulletin-notice > label {
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: #EBFFED;
    font-weight: bold;
}

.bulletin-notice .main-data {
    margin: 10px;
    width:98%;
    height:200px;
    box-shadow: none;
    background-color: #EBFFED;
    overflow-y: auto;
}
.bulletin-notice .main-data .mat-table{
    width:100%;
    background-color: #EBFFED;
}

.bulletin-notice .more {
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 180px;
    background-color: #EBFFED;
    display: flex;
    align-items: center;
}

.bulletin-notice .more > a {
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
}

.bulletin-notice .mat-table .mat-column-infoDate {
    width: 15%;
}
.bulletin-notice .main-data .mat-table .mat-column-infoSubject {
    width: 40%;
}
.bulletin-notice .mat-column-confirmFlg {
    width: 7%;
}
.bulletin-notice .mat-column-approvalFlg {
    width: 7%;
}
.bulletin-notice .mat-column-createUserId {
    width: 14%;
}
.bulletin-notice .mat-column-answerTimeLimit {
    width: 17%;
}

.mat-row{
    height:35px;
}
.mat-cell{
    border:none;
    height:35px;
}