<ngx-spinner type="ball-spin-clockwise" bdOpacity="0.7"></ngx-spinner>
<div class="detail-div">
    <div class="register-div">
        <button mat-raised-button class="button" (click)="backToList()">一覧へ</button>
        <!-- 20240201 S_Update -->
        <!-- <button mat-raised-button class="button bukken-button" (click)="toContract()">契約詳細</button> -->
        <button mat-raised-button *ngIf="this.contractInfoPid > 0" class="button bukken-button" (click)="toContract()">契約詳細</button>
        <!-- 20240201 E_Update -->
        <button mat-raised-button color="primary" class="button" (click)="save()">登録</button>
    </div>
    <ul *ngIf="errorMsgs.length > 0" class="error-span">
        <li *ngFor="let msg of errorMsgs">{{msg}}</li>
    </ul>
    <!--/賃貸情報-->
    <table class="detail-tbl" style="margin:10px;width:99%">
        <!-- 20231027 S_Add -->
        <tr>
            <th rowspan="">物件名称</th>
            <td>
                <input type="search" [disabled]="isDisableContract" name="example" list="data" [(ngModel)]="bukkenName" (change)="bukkenSearch()" style="width: 250px">
                <datalist id="data">
                    <option *ngFor="let land of bukkens">{{land.bukkenNo + ':' + land.bukkenName}}</option>
                </datalist>
            </td>
            <!-- 20250909 S_Add -->
            <th>契約物件番号</th>
            <td>
                <input [disabled]="isDisableContract" [(ngModel)]="contractBukkenNo" style="width: 250px"/>
            </td>
            <!-- 20250909 E_Add -->
            <th>契約番号</th>
            <td>
                <app-select-component [isDisabled]="isDisableContract || tempLandInfoPid == null || tempLandInfoPid < 1" [codes]="contracts" [(ngModel)]="rental.contractInfoPid" (changed)="searchByContract()" [ngClass]="{'width250': true, 'error-select': errors['contractInfoPid']}"></app-select-component>
            </td>
        </tr> 
        <!-- 20231027 E_Add -->
        <tr>
            <th>所有者名</th>
            <td>
                <app-select-component [isDisabled]="rental.contractInfoPid == null || rental.contractInfoPid < 1" [codes]="contractSellerInfoPids" [(ngModel)]="rental.contractSellerInfoPid" [cusClass]="'width250'"></app-select-component>
            </td>
            <th>地番 家屋番号</th>
            <td>
                <app-select-component [isDisabled]="rental.contractInfoPid == null || rental.contractInfoPid < 1" [codes]="locationInfoPids" [(ngModel)]="rental.locationInfoPid" [ngClass]="{'width250': true, 'error-select': errors['locationInfoPid']}"></app-select-component>
            </td>
            <th>建物名</th>
            <td colspan="3">
                <!-- 20231005 S_Update -->
                <!-- <input type="text" [(ngModel)]="rental.apartmentName" [ngClass]="{'width400': true, 'error': errors['apartmentName']}" maxlength="128"> -->
                <input type="text" [(ngModel)]="rental.apartmentName" [ngClass]="{'width300': true, 'error': errors['apartmentName']}" maxlength="128">
                <!-- 20231005 E_Update -->
            </td>
        </tr>
        <tr>
            <th>入金口座</th>
            <td>
                <app-select-component [codes]="bankPids" [(ngModel)]="rental.bankPid" [cusClass]="'width250'"></app-select-component>
            </td>
            <th>有効区分</th>
            <td>
                <app-select-component [codes]="getCode('005')" [(ngModel)]="rental.validType"></app-select-component>
            </td>
            <th>総戸数</th>
            <td>
                <input type="text" [(ngModel)]="rental.totalUnitsMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(rental.totalUnitsMap)">
            </td>
            <th>所有権移転日</th>
            <td>
                <div class="picker-div">
                    <input type="text" [matDatepicker]="ownershipRelocationDate" [(ngModel)]="rental.ownershipRelocationDateMap" class="width100">
                    <mat-datepicker-toggle matSuffix [for]="ownershipRelocationDate" class="picker-icon"></mat-datepicker-toggle>
                    <mat-datepicker #ownershipRelocationDate></mat-datepicker>
                </div>
            </td>
        </tr>
        <!-- 20231010 S_Add -->
        <tr>
            <th>管理会社名称</th>
            <td>
                <input type="text" [(ngModel)]="rental.manageCompanyName" [ngClass]="{'width250': true, 'error': errors['manageCompanyName']}" maxlength="128">
            </td>
            <th>管理会社住所</th>
            <td>
                <input type="text" [(ngModel)]="rental.manageCompanyAddress" [ngClass]="{'width250': true, 'error': errors['manageCompanyAddress']}" maxlength="128">
            </td>
            <th>管理会社電話番号</th>
            <td>
                <input type="text" [(ngModel)]="rental.manageCompanyTel" [ngClass]="{'width110': true, 'error': errors['manageCompanyTel']}" maxlength="25">
            </td>
            <!-- 20250418 S_Add -->
            <th>預り金（保証金）</th>
            <td>
                <input type="text" [(ngModel)]="rental.successionSecurityDepositMap" class="width100 number" (keypress)="numericOnly($event)" maxlength="15" [value]="changeValue(rental.successionSecurityDepositMap)">&nbsp;円
            </td>
            <!-- 20250418 E_Add -->
        </tr>
        <!-- 20231010 E_Add -->
    </table>
    <!--/賃貸情報-->

    <!--賃貸契約一覧-->
    <div class="button-div-left" *ngIf="pid > 0">
        <button mat-raised-button *ngIf="pid > 0" class="register-btn" (click)="addRentalContract()">賃貸契約　登録</button>
        <!-- 20231010 S_Add -->
        <button mat-raised-button *ngIf="pid > 0" class="register-btn2" (click)="addEvictionInfo()">立退き情報　登録</button>
        <!-- 20231010 E_Add -->
        <!-- 20250402 S_Add -->
        <button mat-raised-button *ngIf="pid > 0" class="output-btn" (click)="exportRental()">台帳作成</button>
        <!-- 20250402 E_Add -->
    </div>
    <div class="contact-div" *ngIf="pid > 0" style="width: 100%;">
        <span class="min">賃貸契約</span>
        <table style="width: auto;">
            <thead class="list-header">
                <th>部屋番号</th>
                <th>賃借人名</th>
                <!-- 20231019 S_Update -->
                <!-- <th>契約期間</th>
                <th>契約方法</th> -->
                <th class="width150">契約期間</th>
                <th class="width140">契約方法</th>
                <!-- 20231019 E_Update -->
                <th>支払方法</th>
                <th>賃料</th>
                <th>共益費・管理費</th>
                <th class="width80">詳細</th>
                <th class="width80">削除</th>
                <th class="width80">コピー</th>
            </thead>
            <tbody class="list-body">
                <tr *ngFor="let rcon of rentalContracts; index as pos">
                    <!-- 20250418 S_Update -->
                    <!-- <td class="text-left">{{rcon.roomNo}}</td> -->
                    <td *ngIf="rcon.rentalContractAttachCountMap != '' && rcon.rentalContractAttachCountMap > 0"><a href="javascript:void()" (click)="openAttachFileDialog(rcon.pid, 3, '0')">{{rcon.roomNo}}</a></td>
                    <td *ngIf="rcon.rentalContractAttachCountMap == '' || rcon.rentalContractAttachCountMap == null || rcon.rentalContractAttachCountMap == 0">{{rcon.roomNo}}</td>
                    <!-- 20250418 E_Update -->
                    <td class="text-left">{{rcon.borrowerName}}</td>
                    <td [noWrap]="true">{{formatDay(rcon.loanPeriodStartDate, 'yyyy/MM/dd')}}～{{formatDay(rcon.loanPeriodEndDate, 'yyyy/MM/dd')}}</td>
                    <td class="text-left">{{getCodeTitle('043',rcon.contractMethod)}}</td>
                    <td class="text-left">{{getCodeTitle('015',rcon.paymentMethod)}}</td>
                    <!-- 20240221 S_Update -->
                    <!-- <td class="text-right">{{numberFormat(rcon.rentPrice)}}</td>
                    <td class="text-right">{{numberFormat(getNumber(rcon.condoFee) + getNumber(rcon.managementFee)) }}</td> -->
                    <td class="text-right">{{numberFormat(getNumber(rcon.rentPrice) + getNumber(rcon.rentPriceTax))}}</td>
                    <td class="text-right">{{numberFormat(getNumber(rcon.condoFee) + getNumber(rcon.managementFee) + getNumber(rcon.condoFeeTax) + getNumber(rcon.managementFeeTax)) }}</td>
                    <!-- 20240221 E_Update -->
                    <td><button mat-raised-button (click)="showRentalContract(rcon,pos)" color="warn">詳細</button></td>
                    <td><button mat-raised-button (click)="deleteRentalContract(rcon,pos)" class="delete_btn">削除</button></td>
                    <td><button mat-raised-button (click)="copyRentalContract(rcon)" color="primary">コピー</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--/賃貸契約一覧-->
    <br>
    <!--賃貸入金一覧-->
    <div class="contact-div" *ngIf="pid > 0" style="width: 100%;">
        <span class="min">賃貸入金</span>
        <!-- 20240228 S_Add -->
        <app-select-component cusClass="width80" style="margin-left: -30px;" [codes]="yearReceives" [(ngModel)]="rental.yearReceiveMap"></app-select-component>&nbsp;年
        <!-- 20240228 E_Add -->
        <!-- 20250402 S_Add -->
         <!-- 20250509 S_Add -->
        &nbsp;&nbsp;&nbsp;<button mat-raised-button class="output-btn2" (click)="addYear()">追加</button> 
         <!-- 20250509 E_Add -->
         &nbsp;&nbsp;&nbsp;<button mat-raised-button class="output-btn2" (click)="exportRentalManage()">入金管理表作成</button>
        <!-- 20250402 S_Add -->
        <div class="rent-table-wrap">
  <ng-container *ngIf="filterRentalReceives() as receives">
    <table class="rent-sticky-table" style="width: auto;">
      <thead class="list-header">
        <tr>
          <th class="header2 col-room sticky-col-1 sticky-top-0 sticky-header" rowspan="2">部屋番号</th>
          <th class="header2 col-borrower sticky-col-2 sticky-top-0 sticky-header" rowspan="2">賃借人名</th>

          <th class="header2 sticky-top-0 sticky-header" [attr.colspan]="receives.length || 1">
            <mat-checkbox
              [checked]="receiveAllFlg === '1'"
              (change)="changeReceiveAllFlg($event)"
            ></mat-checkbox>
            一括(その月の全員分にチェック)
          </th>
        </tr>

        <tr>
          <th class="header2 width160 sticky-top-40 sticky-header" *ngFor="let rev of receives; index as monthPos">
            <mat-checkbox
              [checked]="rev.receiveFlgGroup === '1'"
              (change)="changeReceiveFlgGroup($event,rev)"
            ></mat-checkbox>
            {{formatDay(rev.receiveMonth + '01','yyyy年MM月分')}}
          </th>
        </tr>
      </thead>

      <tbody class="list-body">
        <tr *ngFor="let rcon of rentalContracts; index as conPos">
          <td class="col-room sticky-col-1">{{rcon.roomNo}}</td>
          <td class="text-left col-borrower sticky-col-2">{{rcon.borrowerName}}</td>

          <td *ngFor="let rev of receives; index as monthPos">
            <ng-container *ngIf="rev.renByMonths && rev.renByMonths[conPos] as revM">
              <div *ngIf="!revM.invisibleByRenContractMap" class="picker-div">
                <input type="text"
                  [matDatepicker]="receiveDay"
                  [(ngModel)]="revM.receiveDayMap"
                  class="width100"
                  style="margin-left: -29px;">
                <mat-datepicker-toggle matSuffix [for]="receiveDay" class="picker-icon"></mat-datepicker-toggle>
                <mat-datepicker #receiveDay></mat-datepicker>
              </div>

              <div *ngIf="!revM.invisibleByRenContractMap">
                <input type="text"
                  [(ngModel)]="revM.receivePriceMap"
                  class="width100 number"
                  (keypress)="numericOnly($event)"
                  maxlength="15"
                  [value]="changeValue(revM.receivePriceMap)">&nbsp;円
                &nbsp;<mat-checkbox *ngIf="!revM.invisibleByRenContractMap"
                  [checked]="revM.receiveFlg === '1'"
                  (change)="changeReceiveFlg($event,revM)"></mat-checkbox>
              </div>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
    </div>
    <!--/賃貸入金一覧-->
    <br>
    <!-- 20231027 E_Add -->
    <div class="contact-div" *ngIf="pid > 0" style="width: 100%;">
        <span class="min">立退き一覧</span>
        <!-- 20250418 S_Update -->
        <!-- <button mat-raised-button class="output-btn2">預り金一覧作成</button> -->
        <button mat-raised-button class="output-btn2" (click)="exportDeposit()">預り金一覧作成</button>
        <!-- 20250418 E_Update -->
        <table style="width: auto;">
            <thead class="list-header">
                <th class="width_name">建物名</th>
                <th>部屋番号</th>
                <th>賃借人名</th>
                <th class="width100">明渡日</th>
                <th class="width100">明渡予定日</th>
                <!-- 20240123 S_Update -->
                <!-- <th class="width80">詳細</th>
                <th class="width80">合意書</th>
                <th class="width150">預り金一覧作成</th> -->
                <th class="width80">合意書</th>
                <!-- 20240402 S_Update -->
                <!-- <th class="width150">預り金一覧作成</th> -->
                <th class="width80">敷金返還</th>
                <!-- 20240402 E_Update -->
                <th class="width80">詳細</th>
                <th class="width80">削除</th>
                <!-- 20240123 E_Update -->
            </thead>
            <tbody class="list-body">
                <tr *ngFor="let item of evictions; index as pos">
                    <td class="text-left">{{item.apartmentName}}</td>
                    <!-- 20250418 S_Update -->
                    <!-- <td class="text-left">{{item.roomNo}}</td> -->
                    <td class="text-left" *ngIf="item.evictionInfoAttachCountMap != '' && item.evictionInfoAttachCountMap > 0"><a href="javascript:void()" (click)="openAttachFileDialog(item.pid, 4, '0')">{{item.roomNo}}</a></td>
                    <td class="text-left" *ngIf="item.evictionInfoAttachCountMap == '' || item.evictionInfoAttachCountMap == null || item.rentalContractAttachCountMap == 0">{{item.roomNo}}</td>
                    <!-- 20250418 E_Update -->
                    <td class="text-left">{{item.borrowerName}}</td>
                    <td>{{formatDay(item.surrenderDate, 'yyyy/MM/dd')}}</td>
                    <td>{{formatDay(item.surrenderScheduledDate, 'yyyy/MM/dd')}}</td>
                    <!-- 20240123 S_Update -->
                    <!-- <td><button mat-raised-button (click)="showEvictionInfo(item,pos)" color="warn">詳細</button></td>
                    <td><span class="font-bold" *ngIf="item.acquiredAgreementFlg === '1'">有</span></td>
                    <td><button mat-raised-button class="output-btn2">預り金一覧作成</button></td> -->
                    <!-- 20240402 S_Update -->
                    <!-- <td><span class="font-bold" *ngIf="item.acquiredAgreementFlg === '1'">有</span></td> -->
                    <td><span class="font-bold" *ngIf="item.getAgreementDate != null && item.getAgreementDate != ''">済</span></td>
                    <!-- 20240402 E_Update -->
                    <!-- 20240402 S_Update -->
                    <!-- <td><button mat-raised-button class="output-btn2">預り金一覧作成</button></td> -->
                    <td><span class="font-bold" *ngIf="item.returnDepositFlg === '1'">済</span></td>
                    <!-- 20240402 E_Update -->
                    <td><button mat-raised-button (click)="showEvictionInfo(item,pos)" color="warn">詳細</button></td>
                    <td><button mat-raised-button (click)="deleteEvictionInfo(item,pos)" class="delete_btn">削除</button></td>
                    <!-- 20240123 E_Update -->
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <!-- 20231027 E_Add -->
    <!-- 20231010 S_Delete -->
    <!-- <div class="register-div" style="margin-top:10px">
        <button mat-raised-button class="button" (click)="backToList()">一覧へ</button>
        <button mat-raised-button class="button bukken-button" (click)="toContract()">契約詳細</button>
        <button mat-raised-button color="primary" class="button" (click)="save()">登録</button>
    </div> -->
    <!-- 20231010 E_Delete -->
</div>
