.detail-div {
    margin: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.contact-div {
    margin-left: 10px;
    width: 97vw;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.contact-div > table {
    border-spacing: 0px;
    border-collapse: collapse;
}

.list-header {
    background-color: cadetblue;
}

.list-header > th {
    height: 40px;
    min-width: 120px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    border: solid 1px gainsboro;
}

.list-body > tr {
    height: 34px;
}

.list-body > tr > td {
    text-align: center;
    font-size: 12px;
    border: solid 1px gainsboro;
}

.bukken-button {
    /*float: left;*/
    background: #00B050;
    color: white;
    width: 120px;
}

.export-button {
    /*float: left;*/
    background: dimgray;
    color: white;
    width: 120px;
}

.attach-btn {
    background-color: red;
    margin-left: 20px;
    color: white;
    height: 34px;
    width: 80px;
    font-size: 0.8em;
}

.sharerBtn {
    background: coral;
    width: 60px;
    height: 28px;
    border: solid 1px antiquewhite;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    padding-top: 4px;
}

.addSharer {
    background-color: rgb(238, 187, 45);
    color: white;
    height: 34px;
}

.deleteSharer {
    background-color: rgb(163, 158, 142);
    color: black;
    height: 34px;
}

.tderror {
    background-color: red;
}

.c_width40 {
    min-width: 40px !important;
    width: 40px !important;
}

.c_width80 {
    min-width: 80px !important;
    width: 80px !important;
}

.c_width250 {
    min-width: 250px !important;
    width: 250px !important;
}

.detail-tbl > tr > th {
    width: 100px !important;
    background-color: whitesmoke;
    text-align: left;
    height: 22px !important;
    padding: 2px;
    /*padding-left:5px;*/
    font-size: 0.8em;
    border-top: solid 2px white;
}

span.now {
    font-weight: bold;
    color: red;
}

::ng-deep.multiselect-dropdown {
    width: 275px !important;
    margin-left: 3px;
}

::ng-deep.multiselect-dropdown .dropdown-btn {
    height: 22px !important;
    padding: 5px 12px !important;
    border-color: #6495ED !important;
    border-radius: 3px !important;
    line-height: unset !important;
    font-size: 13px !important;
}

::ng-deep.multiselect-dropdown .dropdown-btn .dropdown-down {
    border-top: 5px solid #adadad !important;
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
}

.register-btn {
    background-color: #45a4f7;
    color: white;
}

.header2 {
    background-color: cadetblue;
    height: 40px;
    min-width: 120px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    border: solid 1px gainsboro;
}

.delete_btn {
    background-color: rgb(91, 91, 95);
    color: whitesmoke;
    text-align: center;
}

.row-disabled {
    background-color: #959595;
}
/* 20230929 S_Add */
.button-div-left button {
    margin: 10px 10px 10px 0px;
}

.button-div-left {
    display: flex;
    margin-left: 10px;
}
/* 20230929 E_Add */
/* 20231010 S_Add */
.calendar-cell {
    position: relative;
}
.register-btn2 {
    background-color: #4472c4;
    color: white;
}
/* 20231010 E_Add */

/* 20240402 S_Add */
.output-btn2 {
    background-color:#ffc005;
    color: white;
}

.font-bold {
    font-weight: bold;
}
/* 20240402 E_Add */
