<input type="file" style="display: none" #fileInput accept="" (change)="onChangeFileInput()" />
<button mat-raised-button color="primary" class="file-select-button" (click)="onClickFileInputButton()" appDnd  (onFileDropped)="uploadFile($event)">
 <mat-icon>attach_file</mat-icon>
  {{!simpleMode ? 'ファイルを選択' : ''}}
</button>

<p class="file-name" *ngIf="!file; else fileName"><!--ファイルが選択されていません--></p>
<ng-template #fileName>
  <p class="file-name" appDnd (onFileDropped)="uploadFile($event)">{{ file?.name }}</p>
</ng-template>
<input type="text" class="file-comment" *ngIf="hasComment" [(ngModel)]="comment">
<button mat-raised-button (click)="upload()" *ngIf="!notButton && file != null && !immediately">アップロード</button>